.processScroll { 
          width:85%;
          overflow:auto;
          overflow-y:visible;
          border: thin dashed rgb(250,55,55);
          background-color: rgb(240,240,240);
          padding:1em;
          margin:1em;
          font-size: medium;
 }