Source: ihris-common
Maintainer: Nobert Mijumbi <nobertmn@gmail.com>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7)
Homepage: http://launchpad.net/ihris-common


Package: ihris-common
Architecture: all
Depends: i2ce, php-uuid, uuid-dev, textlayout, php-curl
Recommends: 
Description: iHRIS Common
 iHRIS Common base library for iHRIS products
