<div id="siteContent" dir="rtl">
    <h1 dir="rtl">الوحدات المتوفرة</h1>
    هنا يمكنك اختيار تفعيل الوحدات او لا  عن طريق النقر أو عدم النقر علي مربعات الاختيار ثم إضغط ال <i dir="rtl">تمكين</i> الزر الموجود في أسفل الصفحة. يمكنك أيضا تكوين وحدات معينة من خلال النقر على <i dir="rtl">تكوين</i> الارتباط المقترن بهم إذا كان موجودا. بعض الوحدات لديها أيضا وحدات فرعية مرتبطة بها والتي يمكن الوصول إليها من خلال النقر على
    <i dir="rtl">الوحدات الفرعية</i> link or on the down-pointing arrow if present.
    <br><br><a href="admin/modules" dir="rtl">قائمة الوحدة الرئيسة</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
