<div id="button">
    <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
    <tr>
      <td><!--<input class="button" type="submit" name="submit" value="confirm" />-->
        <span onclick='I2CE_SubmitButton(this, "submit_type", "confirm");' class="button">Confirm</span>
      </td>
    </tr>
    <tr>
        <td style="text-align: left;"><span type="form" href="view_list?type=training_institution&amp;id=" name="training_program:training_institution" class="button">return (do not save changes)</span></td>
    </tr>
    </table>
</div>
