<tbody id="training_form">
<tr>
    <th>Application Information</th><th>Exam Information</th>
</tr>
<tr id="list_fields">
	<td>
		<span type="form" name="exam:application_date" showhead="default"></span>
		<span type="form" name="exam:materials_received" showhead="default"></span>
		<span type="form" name="exam:materials_approved" showhead="default"></span>
		<span type="form" name="exam:endorser_name" showhead="default"></span>
		<span type="form" name="exam:endorser_date" showhead="default"></span>
		<span type="form" name="exam:endorser_qualifications" showhead="default"></span>
	</td><td>
		<span type="form" name="exam:exam_date" showhead="default"></span>
		<span type="form" name="exam:try" showhead="default"></span>
		<span type="form" name="exam:results" showhead="default"></span>
		<span type="form" name="exam:exam_number" showhead="default"></span>
    </td>
</tr>
</tbody>
