<tbody id="training_form">
<tr>
    <th colspan="2">Continuing Education</th>
</tr>
<tr id="list_fields">
	<td>
	   	<span type="form" name="continuing_education:continuing_education_course" showhead="default"></span>
	   	<span type="form" name="continuing_education:credit_hours" showhead="default"></span>
	</td><td>
	   	<span type="form" name="continuing_education:start_date" showhead="default"></span>
	   	<span type="form" name="continuing_education:end_date" showhead="default"></span>
    </td>
</tr>
</tbody>
