<tbody id="training_form">
<tr>
    <th colspan="2">Disciplinary Action</th>
</tr>
<tr id="list_fields">
	<td>
	   	<span type="form" name="disciplinary_action:disciplinary_action_reason" showhead="default"></span>
	   	<span type="form" name="disciplinary_action:action_date" showhead="default"></span>
	</td><td>
	   	<span type="form" name="disciplinary_action:notes" showhead="default"></span>
	   	<span type="form" name="disciplinary_action:suspend" showhead="default"></span>
    </td>
</tr>
</tbody>
