<tbody id="person_form">
<tr>
    <th colspan="2">Training Information</th>
</tr>
<tr>
	<td>
		<span type="form" name="index_num" showhead="default" noedit="true"></span>
		<span type="form" name="training:intake_date" showhead="default" noedit="true"></span>
	   	<span type="form" name="training:training_institution"></span>
	   	<span type="form" name="training:in_cadre"></span>
	   	<span type="form" name="training:out_country"></span>
	   	<span type="form" name="training:out_institution"></span>
	   	<span type="form" name="training:out_cadre"></span>
	</td><td>
		<span type="form" name="training:graduation" showhead="default"></span>
	</td>
</tr>
</tbody>
