<tbody id="person_form">
<tr>
    <th colspan="2">Training Information</th>
</tr>
<tr>
	<td>
		<span type="form" name="index_num" showhead="default"></span>
	</td><td>
		<span type="form" name="training:intake_date" showhead="default"></span>
		<span type="form" name="training:graduation" showhead="default"></span>
	</td>
</tr>
<tr>
	<th>Trained In Country</th><th>Trained Outside the Country</th>
</tr>
<tr>
	<td>
        Select the training school and cadre here for people that trained in country.
        <span type="form" name="training:training_program" showhead="default" />
    </td>
    <td>
        Select the country, type the training institution and select the cadre
        for people that were trained in another country.
	   	<span type="form" name="training:out_country" showhead="default"></span>
	   	<span type="form" name="training:out_institution" showhead="default"></span>
	   	<span type="form" name="training:out_cadre" showhead="default"></span>
    </td>
</tr>

</tbody>
