<div id="siteContent">
<br style="clear: both;" />
<div role='records'>
<h2><a href="person" class="updateRecords">Add Person</a></h2>
<p>
Add a new record for a student or health professional. For a record, update 
contact and personal information; add details of training programs in progress 
or completed; record exam applications and results; issue registrations, 
licenses and license renewals; and record private practice licenses, out migration 
verification requests, disciplinary actions and deployments.
</p>

<hr />
</div>

<span type="module" name="SelfService" ifenabled="true" task="can_view_own_personnel">
  <span type="module" name="SelfService" if="!userHasRecord()">
    
  </span>
  <span type="module" name="SelfService" if="userHasRecord()">
    <h2><span type="module" name="SelfService" call="linkToPersonRecord('view?id=')">View Your Record</span></h2>
    <p>
      View your own details.
    </p>
  </span>
</span>

<div task="custom_reports_can_access">
<h2><a href="search" class="searchRecords">Search Records</a></h2>
<p>
Locate any person's record in the system to review, print or update.
</p>
</div>


<span type='module' name='CustomReports' ifenabled='true'>
  <div role='manager|decision_maker'>
    <hr />
    
    <h2><a href="CustomReports/view/reportViews" class="createRecords">View Reports</a></h2>
    <p>
      Reports enable analysis of human resource data in various ways. Customize, 
      display and print lists of health workers or students, statistical charts and 
      other standard reports. Access is limited to Data Operations Managers and 
      Decision Makers.
    </p>
  </div>
</span>


  <span role='admin' type='module' name='mHero'  ifenabled='true' >      
    <h2>
      <a href='mHero'>mHero</a>
    </h2>
    <p>
      <span  style='display:inline-block'>
	<a href="mHero_person_workflow" target='_mHero'>
	  <img text='mHero' style='width:10em;' src='file/mHero.png'  />
	</a>
      </span>
      Use the mHero intgerated health system communications platform for personnel records

    </p>
  </span>
  <span role='admin' type='module' name='mHero-csd-provider'  ifenabled='true' >      
    <h2>
      <a href='mHero'>mHero</a>
    </h2>
    <p>
      <span  style='display:inline-block'>
	<a type='form' href="mhero_search_providerd="  target='_mHero'>
	  <img text='mHero' style='width:10em;' src='file/mHero.png'  />
	</a>
      
      </span>
      Use the mHero intgerated health system communications platform with a Health Worker Registry

    </p>
  </span>

<div role='manager'>
<hr />

<h2><a href="configure" class="adminDatabase">Configure System</a></h2>
<p>
Configure modules, manage the database and create or update user accounts.
</p>
</div>



<hr />
<h2><a href="password">Change Password</a></h2>

</div>
