<div id="siteContent">
    <h1>Administer Database</h1>

    <h3>License Lists</h3>
    <ul>
    	<li><a href="lists?type=qualification">Qualification</a></li>    	
    	<li><a href="lists?type=cadre">Cadre</a></li>
	<span type='module' name='CEUs' ifenabled='true'>
	  <li><a href="lists?type=continuing_education_course">Continuing Education Course</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Disciplinary Action Category</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Disciplinary Action Reason</a></li>
       	<li><a href="lists?type=out_migration_reason">Out Migration Reason</a></li>
    	<li><a href="lists?type=training_disruption_category">Training Disruption Category</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Training Disruption Reason</a></li>
    </ul>
    <h3>Demographic Lists</h3>
    <ul>
    	<li><a href="lists?type=academic_level">Academic Level</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Certificate</a></li>
    	<li><a href="lists?type=id_type">Identification Type</a></li>
    	<li><a href="lists?type=contact_group">Contact Group</a></li>
    	<li><a href="lists?type=marital_status">Marital Status</a></li>
    </ul>
    <h3>Geographic Lists</h3>
    <ul>
    	<li><a href="lists?type=country">Country</a></li>
    	<li><a href="lists?type=region&amp;field=country">Region</a></li>
    	<li><a href="lists?type=district&amp;field=region">District</a></li>
    	<li><a href="lists?type=county&amp;field=district">County</a></li>
    </ul>
    <h3>Institution Lists</h3>
    <ul>
    	<li><a href="lists?type=health_facility">Health Facility</a></li>
	<span type='module' name='training-institution' ifenabled='true'>
	  <li><a href="lists?type=training_institution">Training Institution</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Facility Agent</a></li>
    	<li><a href="lists?type=facility_type">Facility Type</a></li>
    	<li><a href="lists?type=facility_status">Facility Status</a></li>
    </ul>
    <span type='module' name='RecordVerify' ifenabled='true'>
    <h3>Administrative Lists</h3>
    <ul>
      <li><a href="lists?type=verify_change">Record Verification Changes</a></li>
    </ul>
    </span>
    
</div>
