<ul>
	<li><a href="#jump_training" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Training Information</a></li>
	<li><a href="#jump_registration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Registration</a></li>
	<li><a href="#jump_license" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">License Information</a></li>
	<li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Continuing Education</a></li>
	<li><a href="#jump_ppractice" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Private Practice</a></li>
	<li><a href="#jump_disciplinary" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Disciplinary Notice</a></li>
	<li><span type="form" name="person:id" href="view?id=" >Return to Person</span></li>
</ul>
