<div id="siteInnerWrap">

<div id="navBar">
<ul id="navBarUL">
	<li id="menuPerson" role='records'><a href="person">Add Person</a></li>
	<li id="menuSearch"><a href="search">Search Records</a></li>
	<span type='module' name='CustomReports' ifenabled='true'>
	  <li id="menuCustomReports" task='custom_reports_can_view_reportViews'><a href="CustomReports/view/reportViews">View Reports</a></li>
	</span>
	<li id="menuConfigure" task='can_configure_system'><a href="configure">Configure System</a></li>
	<li id="menuPassword" task='can_change_own_password'><a href="password">Change Password</a></li>
</ul>
</div>

<div id="siteContent" />

	<br style="clear: both;" />

</div><!-- /siteInnerWrap -->
