<div id="list_display">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="facility_agent:id" href="lists?type=facility_agent&amp;id=" >Update this Information</span></li>
			<li role='manager'><a href="lists?type=facility_agent">Select another Facility Agent</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody id="facility_agent">
		<tr>
			<th colspan="2">Facility Agent</th>
		</tr>
		<span type="form" name="facility_agent:name" showhead="default"></span>
	   	</tbody>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
