<div>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="training_disrupt:id" href="training_disrupt?id=" parent="true">Correct this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Training Disruption</th>
		</tr>
	<span type="form" name="training_disrupt:disruption_category" showhead="default"></span>
	<span type="form" name="training_disrupt:disruption_reason" showhead="default" class="even"></span>
	<span type="form" name="training_disrupt:disruption_date" showhead="default"></span>
	<span type="form" name="training_disrupt:resumption_date" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
</div>
