<div id="training_program">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="training_program:id" href="training_program?id=" >Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Training Program</th>
		</tr>
		<span type="form" name="training_program:cadre" showhead="default"></span>
		<span type="form" name="training_program:num_students" showhead="default" class="even"></span>
		<span type="form" name="training_program:start_date" showhead="default"></span>
		<span type="form" ifset="training_program:end_date" name="training_program:end_date" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
	
	
</div> <!-- training_program -->

