<div id="training_program">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="institution_inspection:id" parent="true" href="institution_inspection?id=" >Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Institution Inspection</th>
		</tr>
		<span type="form" name="institution_inspection:date" showhead="default"></span>
		<span type="form" name="institution_inspection:pass" showhead="default" class="even"></span>
		<span type="form" name="institution_inspection:notes" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
	
</div> <!-- training_program -->

