<div id="list_display">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="disciplinary_action_category:id" href="lists?type=disciplinary_action_category&amp;id=" >Update this Information</span></li>
			<li role='manager'><a href="lists?type=disciplinary_action_category">Select another Disciplinary Action Category</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody id="disciplinary_action_category">
		<tr>
			<th colspan="2">Disciplinary Action Category</th>
		</tr>
		<span type="form" name="disciplinary_action_category:name" showhead="default"></span>
	   	</tbody>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
