<div>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="disciplinary_action:id" href="disciplinary_action?id=" parent="true"  >Correct this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Disciplinary Action</th>
		</tr>
	   	<span type="form" name="disciplinary_action:disciplinary_action_reason" showhead="default"></span>
	   	<span type="form" name="disciplinary_action:action_date" showhead="default"></span>
	   	<span type="form" name="disciplinary_action:notes" showhead="default"></span>
	   	<span type="form" name="disciplinary_action:suspend" showhead="default"></span>
	   	<span type="form" ifset="true" name="disciplinary_action:reinstate_date" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div>
