 <div id="siteContent">
    <h1>View Person: <span type="form" name="person:surname" />, <span type="form" name="person:firstname" /></h1>
    <div id='external_hwr_apps' class='extenral_hwr_apps' style='float:right;display:block;width:100%' >
      <span type='module' name='IL-HWR'  ifenabled='true' >
	<span role='admin' style='display:inline-block;float:right;'>
	  <span type='form' href="IL-HWR-redirect?id=" name="person:id" target='_ILHWR'>
	    <center style='max-width:8em'>
	      <img text='Interlinked Health Worker Registry' style='margin-top:-3em;max-width:12em;max-height:5em;display-inline' src='file/OpenInfoMan.png'  />
	    </center>
	    <center style='max-width:8em'>
	      Interlinked Health Worker Registry
	    </center>
	  </span>
	</span>
      </span>
      <span type='module' name='mHero'  ifenabled='true' >
	<span role='admin' style='display:inline-block;float:right;'>
	  <span type='form' href="mHero_person_workflow?id=" name="person:id" target='_mHero'>
	    <center>
	      <img text='mHero' style='width:12em;max-height:2em;' src='file/mHero.png'  />
	    </center>
	    <center>
	      mHero
	    </center>
	  </span>
	</span>
      </span>
    </div>

	<div class="recordsData">
	<h3><a name="jump_individual">Individual Information</a></h3>
	<P class="editRecordsData" id="individual_links">
	  <a href="" class="hide" title="Hide" onclick="return hideDiv('individual', this );">Hide</a>
	  <span type='module' name='PersonID' enabled='true'>
	    <span task="person_can_edit_child_form_person_id" type="form" name="person:id" href="person_id?parent=" >Add Identification</span>
	  </span>
	  <span task="person_can_edit_child_form_demographic" type="form" name="person:id" href="demographic?parent=" ifset="!demographic:id">Add Demographic Information</span>
	  <span task="person_can_edit_child_form_education" type="form" name="person:id" href="education?parent=" ifset="!education:id">Add Education Information</span>
	  <span type='module' name='PersonPassportPhoto' enabled='true'>
	    <span task="person_can_edit_child_form_person_photo_passport" type="form" name="person:id" href="person_photo_passport?parent=" ifset="!person_photo_passport:id">Add Passport Photo</span>
	  </span>
	  <span type='module' name='PrintedForms' ifenabled='true'>
	    <span task='printed_forms_can_access'>
	      <span type='module' if="PrintedForms->hasValidForms('person')">
		<span type='form' href="PrintedForms/menu?id=" name="person:id">Standardized Forms</span>
	      </span>
	    </span>
	  </span>

	</p>
	
	<div id="individual">
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task="person_can_edit"><span type="form" name="person:id" href="person?id=" >Update this Information</span></li>
			<li><span type="form" name="person:id" parent="true" href="field_history?field=surname,firstname,othername&amp;template=fullname&amp;type=person&amp;id=">View Name History</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Name / Nationality</th>
		</tr>
		<span type="form" name="person:surname" showhead="default"></span>
		<span type="form" name="person:firstname" showhead="default" class="even"></span>
		<span type="form" name="person:othername" showhead="default"></span>
		<span type="form" name="person:nationality" showhead="default" class="even"></span>
		<span type="form" name="person:residence" showhead="default"></span>
		<span type="form" name="person:home" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
	
	<div id="person_photo_passport"></div>

	<div id="person_id"></div>
	
	<div id="demographic"></div>
	
	<div id="education"></div>
	

	
	</div> <!-- individual -->
	
	<br style="clear: both;" />
	</div> <!-- recordsData -->

	<span name='PersonContact' type='moduled' ifenabled='true'>
	  <div class="recordsData">
	    <h3><a name="jump_contact">Contact Information</a></h3>
	    <p class="editRecordsData" id="contact_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('contact', this );">Hide</a>
	    </p>
	    
        <div id="contact">
            <div id="person_contact_work"></div> <!-- work contact -->
            <div id="person_contact_personal"></div> <!-- personal contact -->
            <div id="person_contact_emergency"></div> <!-- emergency contact -->
            <div id="person_contact_other"></div> <!-- other contact -->
        </div> <!-- contact -->
	    <br style="clear: both;" />
	  </div> <!-- recordsData -->
	</span>
	


	<span type='module' name='nextOfKin' ifenabled='true'>
	  <div class="recordsData" task='person_can_view_child_form_nextofkin'>
	    <h3><a name="jump_nextofkin">Next of Kin Information</a></h3>
	    <p class="editRecordsData">
	      <a href="" class="hide" title="Hide" onclick="return hideDiv('nextofkin', this );">Hide</a>
	      <span task='person_can_edit_child_form_nextofkin' type="form" name="person:id" href="nextofkin?parent=" >Add Next of Kin</span>
	    </p>
	    <div id="nextofkin"></div>
	    <br style="clear: both;" />
	  </div>
	</span>


	<div class="recordsData">
	<h3><a name="jump_training">Training Information</a></h3>
	<p class="editRecordsData" id="training_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('training', this );">Hide</a>
		<span role='records' type="form" name="person:id" href="training?parent=" >Add Training</span>
		</p>

	<div id="training"></div> <!-- training -->
	<br style="clear: both;" />
	</div> <!-- recordsData -->


    <span type='module' name='ihris-qualify-PersonTraining' ifenabled='true'>
       <div class="recordsData">
       <h3><a name="jump_person_training">Continuing Education</a></h3>
       <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('person_training', this );">Hide</a>
           <span task='person_can_edit_child_form_person_training' type="form" name="person:id" href="person_training?parent=" >Add Continuing Education</span>
       </p>
       <div id="person_training"></div> <!-- record_verify -->
       <br style="clear: both;" />
       </div> <!-- recordsData -->
    </span>



	<div class="recordsData">
	<h3><a name="jump_deployment">Deployment Information</a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('deployment', this );">Hide</a>
		<span role='records' type="form" name="person:id" href="deployment?parent=" >Add Deployment</span>
		<span type="form" name="person:id" href="history?form=deployment&amp;id=" >View Deployment History</span>
		</p>

	<div id="deployment"></div> <!-- deployment -->
	<br style="clear: both;" />
	</div> <!-- recordsData -->

	<div class="recordsData">
	<h3><a name="jump_out_migration">Out Migration Information</a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('out_migration', this );">Hide</a>
		<span role='records' type="form" name="person:id" href="out_migration?parent=" >Add Out Migration</span>
		</p>

	<div id="out_migration"></div> <!-- out_migration -->
	<br style="clear: both;" />
	</div> <!-- recordsData -->

    <span type='module' name='PersonNotes' ifenabled='true'>
	<div class="recordsData">
	<h3><a name="jump_notes">Notes</a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>
    	<span role='records' type="form" name="person:id" href="notes?parent=" >Add Note</span>
		</p>

	<div id="notes"></div>
	<br style="clear: both;" />	
	</div> <!--  recordsData -->
    </span>

    <span type='module' name='RecordVerify' ifenabled='true'>
       <div class="recordsData">
       <h3><a name="jump_record_verify">Record Verification</a></h3>
       <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('record_verify', this );">Hide</a>
               <span role='records' type="form" name="person:id" href="record_verify?parent=" >Add Verification</span>
               <span type="form" name="person:id" href="history?form=record_verify&amp;id=" >View Verification History</span>
               </p>

       <div id="record_verify"></div> <!-- record_verify -->
       <br style="clear: both;" />
       </div> <!-- recordsData -->
    </span>


    <span type='module' name='PersonArchivedScan' ifenabled='true'>
      <div class="recordsData" task='person_can_view_child_form_person_archive_scan'>
	<h3>
	  <a name="jump_archived_scans">Scanned Paper Records</a>
	</h3>
	<p class="editRecordsData">
	  <a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>
	  <span task='person_can_edit_child_form_person_archive_scan' type="form" name="person:id" href="person_archive_scan?parent=" >Add Scanned Document</span>
	</p>
	
	<div id='person_archive_scan' ></div>
	<br style="clear: both;" />
      	
      </div>
      <!--  recordsData -->
    </span>

  <span type='module' name='SelfService' ifenabled='true'>
    <div class="recordsData" task='person_can_view_child_form_user_map' >
      <h3>
        <a name="jump_self_service">Self Service</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('user_map', this );">Hide</a>
  <span type="form" name="person:id" href="SelfService/userAccount?parent=" ifset="!user_map:id">Assign User Account</span>
      </p>
      
      <div id="user_map"></div>
      <br style="clear: both;" />
        
    </div>
     <!--  recordsData -->
  </span>


    <!--<a href="construction">Print</a>-->
</div>
