<div>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='records'><span type="form" name="contact:id" href="contact?id="  parent="true">Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2"><span type="form" name="contact:contact_type" noedit="display" /> Contact</th>
		</tr>
   		<span type="form" name="contact:address" showhead="default" mline="true"></span>
	   	<span type="form" name="contact:telephone" showhead="default" class="even"></span>
   		<span type="form" name="contact:alt_telephone" showhead="default"></span>
	   	<span type="form" name="contact:fax" showhead="default" class="even"></span>
   		<span type="form" name="contact:email" showhead="default"></span>
   		<span type="form" name="contact:notes" showhead="default" mline="true" class="even"></span>
	</table>
	</div> <!-- dataTable -->
</div>
