<div>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="private_practice:id" href="private_practice?id=" parent="true" >Correct this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Private Practice License</th>
		</tr>
	   	<span type="form" name="private_practice:license_number" showhead="default"></span>
	   	<span type="form" name="private_practice:start_date" showhead="default" class="even"></span>
	   	<span type="form" name="private_practice:end_date" showhead="default"></span>
	   	<span type="form" name="private_practice:inspection_results" showhead="default" class="even"></span>
	   	<span type="form" name="private_practice:inspection_date" showhead="default"></span>
	   	<span type="form" name="private_practice:health_facility" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
</div>
