<div name="exam_student_list" style="width:100%;display:table-row">
  <div style="width:25%;display:table-cell">
    <b>学生</b>
  </div>
  <div style="width:25%;display:table-cell">
    <b><span printf="'%s个结果',$exam_type_pretest"></span></b>
  </div>
  <div style="width:25%;display:table-cell">
    <b><span printf="'%s个结果（合格分数：%s）',$exam_type_final,$passing_score"></span></b>
  </div>
  <div style="width:25%;display:table-cell">
    <span name="has_certification_date" ifset="true">
      <b>证书日期</b>
    </span>
  </div>
  <hr style="clear: both; max-height:0px; padding:0px; margin:0px;"></div>

