<div id="list_display">
  <div class="editRecord">
    <p>编辑此信息</p>
    <ul><li>
	<a href="lists?type=scheduled_training_course&amp;field=training_course">请选择另一个课程</a>
      </li>
      <li task="can_edit_scheduled_training_course">
	<span type="form" name="scheduled_training_course:id" href="lists?type=scheduled_training_course&amp;id=">更新此信息</span>
      </li>
      <li task="can_edit_scheduled_training_course">
	<span type="form" name="scheduled_training_course:id" href="editstudents?id=">加入/移除学生</span>
      </li>
      <li>
        <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;id=">课程概览</span>
      </li>
      <li task="can_edit_scheduled_training_course">
        <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=participants&amp;id=">管理学生的考试成绩</span>
      </li>	
      <li>
        <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=prepost&amp;id=">试验前/后摘要</span>
      </li>
      <li>
        <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=mods&amp;id=">课程模块</span>
      </li>
      <li>
        <span type="form" name="scheduled_training_course:id" href="studentparticipants?id=">学生参与报告</span>
      </li>
      <li>
        <span type="form" name="scheduled_training_course:id" href="studentcertificates?id=">培训证书</span>
      </li>
    </ul></div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">课程考试成绩</th>
      </tr><tr><td colspan="2">
	  <span id="participant_list">
	    <span type="form" name="scheduled_training_course-&gt;enrolledStudentsListCompact()"></span>
	  </span>
	</td>	
      </tr></table></div> <!-- dataTable -->
</div> <!-- list_display -->
