<div id="list_display" task="can_view_database_list_region">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_region'><span type="form" name="region:id" href="lists?type=region&amp;id=" >Update this Information</span></li>
			<li><a href="lists?type=region&amp;field=country" >Select another Region</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Region</th>
		</tr>
		<span type="form" name="region:name" showhead="default"></span>
		<span type="form" name="region:country" showhead="default" class="even"></span>
		<span type="form" name="region:code" showhead="default"></span>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
