<div id="list_display" task="can_view_database_list_county">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_county'><span type="form" name="county:id" href="lists?type=county&amp;id=" >Update this Information</span></li>
			<li><a href="lists?type=county&amp;field=district">Select another County</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">County</th>
		</tr>
		<span type="form" name="county:name" showhead="default"></span>
		<span type="form" name="county:district" showhead="default" class="even"></span>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
