<tbody id="person_form"><tr><th colspan="2">Renseignements sur la formation</th>
</tr><tr><td>
		<span type="form" name="index_num" showhead="default"></span>
	</td><td>
		<span type="form" name="training:intake_date" showhead="default"></span>
		<span type="form" name="training:graduation" showhead="default"></span>
	</td>
</tr><tr><th>Formés dans le pays</th><th>Formés à l’étranger</th>
</tr><tr><td>
        Sélectionnez l'école de formation et le cadre ici pour les gens formés dans ce pays.
        <span type="form" name="training:training_program" showhead="default"></span>
    </td>
    <td>
        Sélectionnez le pays, le type de l'établissement de formation et de sélectionner le cadre pour les personnes qui ont été formés dans un autre pays.
	   	<span type="form" name="training:out_country" showhead="default"></span>
	   	<span type="form" name="training:out_institution" showhead="default"></span>
	   	<span type="form" name="training:out_cadre" showhead="default"></span>
    </td>
</tr></tbody>