<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Information individuelle</a></li>
	<span name="PersonContact" type="moduled" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Coordonnées</a></li>
	</span>
	<li><a href="#jump_training" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Renseignements sur la formation</a></li>
	<li><a href="#jump_deployment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Déploiement</a></li>
	<li><a href="#jump_out_migration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Migration externe</a></li>
    <span type="module" name="PersonNotes" ifenabled="true">
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Remarques</a></li>
    </span>
    <span type="module" name="RecordVerify" ifenabled="true">
       <li><a href="#jump_record_verify" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Vérification du dossier</a></li>
    </span>
</ul>