<div id="siteInnerWrap">

<div id="navBar">
<ul id="navBarUL"><li id="menuPerson" role="records"><a href="person">Ajouter une personne</a></li>
	<li id="menuSearch"><a href="search">Rechercher des enregistrements</a></li>
	<span type="module" name="CustomReports" ifenabled="true">
	  <li id="menuCustomReports" task="custom_reports_can_view_reportViews"><a href="CustomReports/view/reportViews">Afficher les rapports</a></li>
	</span>
	<li id="menuConfigure" task="can_configure_system"><a href="configure">Configurer le système</a></li>
	<li id="menuPassword" task="can_change_own_password"><a href="password">Changer le mot de passe</a></li>
</ul></div>

<div id="siteContent"></div>

	<br style="clear: both;"></div><!-- /siteInnerWrap -->
