<div id="list_display">
	
	<div class="editRecord">
	<p>Modifier cette information</p>
		<ul><li role="manager"><span type="form" name="training_disruption_reason:id" href="lists?type=training_disruption_reason&amp;id=">Mettre à jour cette information</span></li>
			<li role="manager"><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Sélectionnez une autre raison d'interruption de formation</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="training_disruption_reason"><tr><th colspan="2">Motif de l’interruption de formation</th>
		</tr><span type="form" name="training_disruption_reason:training_disruption_category" showhead="default"></span>
		<span type="form" name="training_disruption_reason:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
