<div id="siteContent">
  <h1>Afficher <span name="type_name"></span>: <span name="list_name"></span></h1>

  <div class="recordsData">
    <h3><span name="type_name"></span> Information</h3>
    
    <div id="list_display">	
      
      <div class="editRecord">
	<p>Modifier cette information</p>
	<ul><li role="manager"><span type="form" name="training_institution:id" href="lists?type=training_institution&amp;id=">Mettre à jour cette information</span></li>
	  <li role="manager"><a href="lists?type=training_institution">Choisir une autre institution de formation</a></li>
	  <li role="manager"><span type="form" name="training_institution:id" href="facility_institution?training_institution=">Mise à jour des installations connexes de la santé</span></li>
	</ul></div> <!-- editRecord -->
      
      <div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="training_institution"><tr><th colspan="2">Établissement de formation</th>
	    </tr><span type="form" name="training_institution:name" showhead="default"></span>
	    <span type="form" name="training_institution:id_code" showhead="default" class="even"></span>
	    <span type="form" name="training_institution:facility_agent" showhead="default"></span>
	    <span type="form" name="training_institution:location" showhead="default" class="even"></span>
	    <span type="form" name="training_institution:facility_status" showhead="default"></span>
      </tbody><tbody id="facility_contact"></tbody><tbody id="health_facility"><tr><th colspan="2">Établissements de santé associés</th>
	    </tr></tbody></table></div> <!-- dataTable -->
      
    </div> <!-- list_display -->

    
    <br style="clear: both;"></div> <!-- recordsData -->
  
  <div class="recordsData">
    <h3>Programmes de formation</h3>
    <p class="editRecordsData">
      <span role="manager" type="form" name="training_institution:id" href="training_program?training_institution=">Ajouter un programme de formation</span>
    </p>
    
    <div id="training_program"></div>
    
    <br style="clear: both;"><div class="recordsData">
      <h3>Inspections de l'institution</h3>
      <p class="editRecordsData">
	<span role="manager" type="form" name="training_institution:id" href="institution_inspection?parent=">Ajouter une inspection de l'institution</span>
      </p>
      
      <div id="institution_inspection"></div>
      
      <br style="clear: both;"></div> <!-- recordsData -->

    <!--<a href="construction">Print</a>-->
  </div>
</div>
