<div id="list_display">
	
	<div class="editRecord">
	<p>Modifier cette information</p>
		<ul><li role="manager"><span type="form" name="training_disruption_category:id" href="lists?type=training_disruption_category&amp;id=">Mettre à jour cette information</span></li>
			<li role="manager"><a href="lists?type=training_disruption_category">Sélectionner une autre catégorie d'interruption de formation</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="training_disruption_category"><tr><th colspan="2">Catégorie d'interruption de formation</th>
		</tr><span type="form" name="training_disruption_category:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
