<div name="exam_student_list" style="width:100%;display:table-row">
  <div style="width:25%;display:table-cell">
    <b dir="rtl">ਵਿਦਿਆਰਥੀ</b>
  </div>
  <div style="width:25%;display:table-cell">
    <b><span printf="'%s ਨਤੀਜੇ',$exam_type_pretest" dir="rtl"></span></b>
  </div>
  <div style="width:25%;display:table-cell">
    <b><span printf="'%s ਨਤੀਜੇ (ਪਾਸ ਹੋਣ ਦੇ ਨੰਬਰ: %s)',$exam_type_final,$passing_score" dir="rtl"></span></b>
  </div>
  <div style="width:25%;display:table-cell">
    <span name="has_certification_date" ifset="true">
      <b dir="rtl">ਸਨਦ ਦੀ ਮਿਤੀ</b>
    </span>
  </div>
  <hr style="clear: both; max-height:0px; padding:0px; margin:0px;"></div>

