<div>
  <div name="exam_student_list" style="display:none">
    <div style="display:table-row">
      <div style="width:30%;display:table-cell">
        <b dir="rtl">ਵਿਦਿਆਰਥੀ</b>
      </div>
      <div style="width:20%;display:table-cell">
        <b dir="rtl">ਸਨਦ</b>
      </div>
      <div style="width:20%;display:table-cell">
        <b dir="rtl">ਹਿੱਸੇਦਾਰ ਹਟਾਉ</b>
      </div>
      <div style="width:30%;display:table-cell">
        <b><span printf="'%s ਨਤੀਜੇ',$exam_type" dir="rtl"></span></b>
      </div>
      <hr style="clear: both; max-height:0px; padding:0px; margin:0px;"></div>
  </div>
</div>
