<div id="siteContent">
    <h1>Hallinnoi tietokanta</h1>

    <span type="module" ifenabled="true" name="Person">    
	  <h3>Väestörakenteen luettelot</h3>
	  <ul><li><a href="lists?type=id_type">Tunnistustyyppi</a></li>
	    <li><a href="lists?type=marital_status">Siviilisääty</a></li>
	  </ul></span>
    <span type="module" ifenabled="true" name="Geography">    
      <h3>Maantieteelliset tiedot</h3>
      <ul><li><a href="lists?type=country">Maa</a></li>
        <li><a href="lists?type=region">Alue</a></li>
        <li><a href="lists?type=district">Piiri</a></li>
        <li><a href="lists?type=county">Piirikunta</a></li>
        <span type="module" ifenabled="true" name="Currency">    
          <li><a href="lists?type=currency">Valuutta</a></li>
        </span>
      </ul></span>
    <h3>Lisätietoja</h3>
    <ul><span type="module" ifenabled="true" name="simple-competency">	
	  <li><a href="lists?type=competency_type">Pätevyyden tyyppi</a></li>
	  <li><a href="lists?type=competency&amp;field=competency_type">Pätevyys</a></li>
    </span>
    <span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Jatkokoulutuskurssi</a></li>
    </span>
    <span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Harjoittelulaitos</a></li>
	  <li><a href="lists?type=training_funder">Harjoittelukustantaja</a></li>
    </span>
    </ul><span role="admin">
      <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
        <h2>Massapoisto</h2>
        <ul><li><a href="delete_by_search">Henkilön mukaan (hakusivu)</a></li>
        </ul></span>
    </span>
</div>
