<div id="feedback">
<p dir="rtl">
إذا كان لديك تقرير الشوائب، مشكلة مع الصفحة، وطلب ميزة أو سؤال، الرجاء الاتصال بنا عن طريق ملء وتقديمالنموذج التالي. وستبقى تعليقاتكم وعنوان البريد الالكتروني الخاص وفقا لمشروع لبناء القدرات 
<a target="_new" href="http://www.capacityproject.org/index.php?option=com_content&amp;task=view&amp;id=34&amp;Itemid=63" dir="rtl">سياسة الخصوصية</a>سوف نستخدم عنوان بريدك الإلكتروني فقط للرد على طلبك. كما يمكنك الاتصال بنا بمراسلتنا إلكترونيا بصورة مباشرة  على. 
<a href="mailto:hris@capacityproject.org">hris@capacityproject.org</a>.
</p>
<hr><h4 dir="rtl">نموذج موقع الآراء</h4>
<!-- <p>Required fields are marked with a red asterisk (<span style="color:red;"><b>*</b></span>)</p> -->
<div id="error"></div>
<form method="POST" action="feedback">
<input type="hidden" name="referer" id="referer"><table class="tableForm"><tr><td colspan="2"><label for="Comments" dir="rtl">تعليقات:</label><br><textarea name="Comments" rows="10" cols="45" id="Comments"></textarea></td>
  </tr><tr class="spacer"><td><label for="Name" dir="rtl">اسم:</label></td>
   <td><input type="text" name="Name" id="Name"></td>
  </tr><tr><td><label for="Company" dir="rtl">شركة:</label></td>
   <td><input type="text" name="Company" id="Company"></td>
  </tr><tr><td><label for="Title" dir="rtl">لقب:</label></td>
   <td><input type="text" name="Title" id="Title"></td>
  </tr><tr><td><label for="Industry" dir="rtl">صناعة:</label></td>
   <td><input type="text" name="Industry" id="Industry"></td>
  </tr><tr><td><label for="Address" dir="rtl">عنوان:</label></td>
   <td><input type="text" name="Address" id="Address"></td>
  </tr><tr><td><label for="City" dir="rtl">مدينة:</label></td>
   <td><input type="text" name="City" id="City"></td>
  </tr><tr><td><label for="State" dir="rtl">الدولة / الاقليم:</label></td>
   <td><input type="text" name="State" id="State"></td>
  </tr><tr><td><label for="Postal_Code" dir="rtl">الرمز البريدي:</label></td>
   <td><input type="text" name="Postal_Code" id="Postal_Code"></td>
  </tr><tr><td><label for="Country" dir="rtl">بلد:</label></td>
   <td><input type="text" name="Country" id="Country"></td>
  </tr><tr class="spacer"><td><label for="Telephone" dir="rtl">هاتف:</label></td>
   <td><input type="text" name="Telephone" id="Telephone"></td>
  </tr><tr><td><label for="Fax" dir="rtl">الفاكس:</label></td>
   <td><input type="text" name="Fax" id="Fax"></td>
  </tr><tr><td><label for="Email" dir="rtl">البريد الإلكتروني:</label></td>
   <td><input type="text" name="Email" id="Email"></td>
  </tr><tr class="spacer"><td><!-- <p class="smallGray"><span style="color: red;">*</span> Required</p> --></td>
   <td><input type="submit" value="Submit" name="submit" class="button"><input type="reset" value="Clear" name="reset" class="button"></td>
  </tr></table></form>

</div><!-- /feedback -->
