<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1 dir="rtl">ترحيب</h1>
<p dir="rtl">
<strong dir="rtl">iHRIS تأهل</strong> هو تدريب عاملي الصحة ومنح تراخيص وشهادات نظام متابعة.  النظام يمنح سلطة التراخيص أو  التصديق لإطار عامل في الصحة، مثل الممرضات أو الأطباء، لمتابعة بيانات إطار كامل في بلد من التدريب قبل الخدمة إلى نهاية التدريب. iHRIS qualify هوبرنامج كمبيوتر مفتوح المصدر و مجاني تم تطويره في <a href="http://www.capacityproject.org" dir="rtl">سعة المشروع</a>, مبادرة مبتكرة عالمية لمساعدة البلدان النامية على بناء وتعزيز القوى العاملة في الصحة.
</p>
</div><!-- /welcomeIntro -->
