<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1><span printf="'ترحيب،%s',ihris-common-&gt;getUserNames()" dir="rtl"></span></h1>
<p dir="rtl">
للبدء باستخدام iHRIS تأهل، الرجاء انقر فوق أحد الخيارات أدناه. العودة إلى هذه الصفحة في أي وقت بالضغط على زر الصفحة الرئيسية في شريط أعلاه. إذا كنت بحاجة إلى مساعدة مع أي وظيفة، انقر فوق الزر تعليمات.نحن نشجعكم على ان ترسل الينا أي أخطاء تجد، اقتراحات لتحسين أو ميزات إضافية، وأية ملاحظات أخرى قد تكون لديكم حول هذا البرنامج، اتصل بنا في أي وقت بالضغط على زر تعليقات أو زيارة <a href="http://www.capacityproject.org/hris/" dir="rtl">HRIS تعزيز الموقع</a>.
</p>
</div><!-- /welcomeIntro -->
