<ul><li id="menuLists" task="can_edit_database_lists"><a href="lists">数据库管理</a></li>
	<span type="module" name="admin" ifenabled="true">
	  <li id="menuConfigureModules" task="can_configure_modules"><a href="admin/modules">配置模块</a></li>
	</span>
	<span type="module" name="CustomReports" ifenabled="true" task="custom_reports_can_edit_reportViews">
	  <li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">窗体的关系</a></li>
	  <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">报告</a></li>
	  <li task="custom_reports_can_edit_reportViews"><a href="CustomReports/edit/reportViews">报告的意见</a></li>
	</span>
	<span type="module" name="magicDataBrowser" ifenabled="true">
	  <li id="menuBrowseMagicData" task="can_view_magic_data_browser"><a href="magicDataBrowser/show">浏览魔术数据</a></li>
	</span>
	<span type="module" name="tasks-roles" ifenabled="true">
	  <li task="tasks_and_roles_can_access" id="tasks-roles"><a href="tasks-roles/">任务的角色</a></li>
	</span>
	<span type="module" name="localeSelector" ifenabled="true">
	  <li id="menuLocaleSelector" task="locales_can_edit_site_locale"><a href="localeSelector/edit">管理区域设置</a></li>
	</span>
	<span type="module" name="BackgroundProcess" ifenabled="true">
	  <li id="menuBackgroundProcess" task="can_view_background_processes"><a href="BackgroundProcess">后台进程</a></li>
	</span>
	<span type="module" name="formBrowser" ifenabled="true">
	  <li id="menuFormBrowser" task="can_view_form_browser"><a href="formBrowser/showForm">浏览形式</a></li>
	</span>
	<span type="module" ifenabled="true" name="DHIS_Metadata">
	  <li role="admin"><a href="dhis_metadata">管理DHIS2元数据</a></li>
	</span>
	<span type="module" name="CachedForms" ifenabled="true">
	  <li id="menuCachedForms" task="cached_forms_can_administer"><a href="CachedForms">缓存的窗体</a></li>
	</span>
	<li id="menuUser" task="can_create_or_edit_users"><a href="user">管理用户</a></li>
  <span type="module" name="UserStatistics" ifenabled="true">
	  <li id="menuUserStatistics" task="can_view_user_statistics"><a href="UserStatistics">用户统计</a></li>
  </span>

</ul>