<tbody id="person_form"><tr><th colspan="2">Darempred reuziad</th>
</tr><tr><td>
		<input type="hidden" name="contact_type" value="emergency"><span type="form" name="person_contact_emergency:name" showhead="default"></span>
	   	<span type="form" name="person_contact_emergency:address" showhead="default"></span>
	   	<span type="form" name="person_contact_emergency:telephone" showhead="default"></span>
	   	<span type="form" name="person_contact_emergency:mobile_phone" showhead="default"></span>
	   	<span type="form" name="person_contact_emergency:alt_telephone" showhead="default"></span>
	</td><td>
	   	<span type="form" name="person_contact_emergency:fax" showhead="default"></span>
		<span type="form" name="person_contact_emergency:contact_group" showhead="default"></span>
	   	<span type="form" name="person_contact_emergency:email" showhead="default"></span>
	   	<span type="form" name="person_contact_emergency:notes" showhead="default"></span>
    </td>
</tr></tbody>