<div id="siteContent">
    <h1 class="header"><a href="lists">Administrar Base de Dados</a>: <span name="type_name"></span></h1>

    <form id="list_form" method="GET" action="lists">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><td>
        <span type="form" name="type"></span>
        <p><span class="field_head"><label for="add_ids"><span printf="'Selecionar %s para editar',$type_name"></span> </label></span><br><select name="id" id="add_ids" onchange="document.getElementById('submit_button').value = ( this.options[this.selectedIndex].value == '' ? 'add' : 'view' ); document.getElementById( 'list_form' ).action = (this.options[this.selectedIndex].value == '' ? 'lists' : 'view_list')"><option value="">Adicionar novas <span name="type_name"></span></option></select></p>
        </td></tr><tr class="submitCell"><td>
        <input id="submit_button" type="submit" value="add"></td></tr></table></form>
    <p><a href="lists" class="button">retornar</a></p>
    
</div>
