.reportSelection {
    color: #069; 
    cursor:pointer;
    padding-right:0.5em;
}


.reportSelector {
    background-color: #FFFFFF;
    margin:0em;
    padding:0.2em;
    border: 2px solid #CCCCCC;
}

.selector_value_hide {
    color: FireBrick; 
    font-style:italic;
    background-color: Linen;
    border-style:solid;
    border-width:1px;
    border-color: LightGray;
}


