<div id="list_display">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="verify_change:id" href="lists?type=verify_change&amp;id=" >Update this Information</span></li>
			<li role='manager'><a href="lists?type=verify_change">Select another Verification Change</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody id="verify_change">
		<tr>
			<th colspan="2">Verification Change</th>
		</tr>
		<span type="form" name="verify_change:name" showhead="default"></span>
	   	</tbody>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
