<tbody id="person_form">
<tr><th colspan='2'>Next Of Kin Information</th></tr>
<tr>
  <td><span type="form" name="nextofkin:name" showhead="default"></span></td>
  <td><span type="form" name="nextofkin:telephone" showhead="default" class="even"></span></td>
</tr>
<tr>
  <td><span type="form" name="nextofkin:relationship" showhead="default" class="even"></span></td>
  <td><span type="form" name="nextofkin:alt_telephone" showhead="default"></span></td>
</tr>
<tr>
  <td><span type="form" name="nextofkin:email" showhead="default"></span></td>
  <td><span type="form" name="nextofkin:fax" showhead="default" class="even"></span></td>
</tr>
<tr>
  <td><span type="form" name="nextofkin:address" showhead="default" mline="true"></span></td>
  <td><span type="form" name="nextofkin:notes" showhead="default" mline="true" class="even"></span></td>
<tr>
</tbody>