<div>
        <div class="editRecord" task='person_can_edit_child_form_nextofkint'>
                <p>Edit This Information</p>
                <ul><li ><span type="form" name="nextofkin:id" href="nextofkin?id=" parent="true" >Update this Information</span></li></ul>
        </div> 
        <div class="dataTable" task='person_can_view_child_form_nextofkin'>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr><th colspan="2">Next of Kin</th>
                </tr>
                <span type="form" name="nextofkin:name" showhead="default"></span>
                <span type="form" name="nextofkin:relationship" showhead="default" class="even"></span>
		<span type="form" name="nextofkin:telephone" showhead="default" ></span>
		<span type="form" name="nextofkin:alt_telephone" showhead="default" class="even"></span>
		<span type="form" name="nextofkin:address" showhead="default" mline="true"></span>
		<span type="form" name="nextofkin:fax" showhead="default" class="even"></span>
		<span type="form" name="nextofkin:email" showhead="default"></span>
		<span type="form" name="nextofkin:notes" showhead="default" mline="true" class="even"></span>
            </table>
	</div>
</div>