<div>
  <div id="container">
    

    <h2>Nieuwe formulierklasse aanmaken</h2>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Naam voor formulierklasse</h3>An internal key used to identify the form class.   It may not be the same as the key for any of the existing form class or other PHP class.
	</td>
	<td>
	  <input name="name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
      </tr><tr><td>
	  <h3>Extends:</h3>The base form class that this class extends.  It will inherit the properties of the base class
	</td>
	<td>
	  <select name="extends"></select></td>
      </tr></table><h2>Edit an Existing Form Class</h2>
    <ul id="form_classes"></ul></div>
</div>
