<div>
    <h2>Metadata</h2>
    <div id="display_container">
      
      <span id="printf">
	<h2><a id="printf_link" href="">Printf</a></h2>
	Set the printf string use for various forms
	<div class="indented" id="printf_ajax"></div>
      </span>

      <span id="printf_args">
	<h2><a id="printf_args_link" href="">PrintF Fields</a></h2>
	Set the fields (arguments) used in the printf string for various forms
	<div class="indented" id="printf_args_ajax"></div>
      </span>
      <span id="reportselect">
	<h2><a id="reportselect_link" href="">Report View Selection</a></h2>
	Specify report view used to select data
	<div class="indented" id="reportselect_ajax"></div>
      </span>

      <span id="no_limits">
	<h2><a id="no_limits_link" href="">Show Limits</a></h2>
	Specify whether or not to do not show limits for a form in report view selector
	<div class="indented" id="no_limits_ajax"></div>
      </span>



    </div>
</div>
