<div>
  

  <h2>Metadata</h2>
  <div id="meta_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Percentage automatisch corrigeren</h3>Als een ingevoerd percentage kleiner is dan 1, neem dan aan dat de gebruiker een ratio heeft ingevoerd in plaats van een percentage, in welk geval het met 100 vermenigvuldigd moet worden. Als een gebruiker bijvoorbeeld 0.7 invoert, wordt het geïnterpreteerd als 70%.
	</td>
	<td><select name="check_bad_percent"><option value="0">Nee</option><option value="1">Ja</option></select></td>
      </tr></table></div>
</div>
