<div>
  

  <h2>Foruminstellingen</h2>
  <div id="container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Formulierklasse</h3>Selecteer de klasse die dit formulier uitbreidt.
	</td>
	<td>
	  <select name="class"></select></td>
      </tr><tr><td>
	  <h3>Weergavenaam</h3>Weergavenaam voor dit formulier
	</td>
	<td>
	  <input name="display"></td>
      </tr><tr><td>
	  <h3>Opslag</h3>
	</td>
	<td>
	  <b><span name="storage"></span></b> <br>To prevent accidental data loss, changing of the form storage mechanism by this user interface is diabled for now.
	</td>
      </tr></table><span id="meta">
      <h2><a id="meta_link" href="">Metadata</a></h2>
      Metadata voor dit formulier instellen
      <div class="indented" id="meta_ajax"></div>
    </span>    
    
    <span id="storage_options">
      <h2><a id="storage_options_link" href="">Instellingen formulieropslag</a></h2>
      Instellingen voor formulieropslag voor dit formulier
      <div class="indented" id="storage_options_ajax"></div>
    </span>



  </div>
</div>
