<div>
  <h2>Meta Options For Lists</h2>
  <div id="meta_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Uniek</h3>Iedere instantie van dit formulier moet unieke waarden voor de velden hebben.
	</td>
	<td>
	  <select name="unique"><option value="1">Ja</option><option value="0">Nee</option></select></td>
      </tr></table><span id="list">
      <h2><a id="list_link" href="">List Displays</a></h2>
      Set different list displays
      <div class="indented" id="list_ajax"></div>
    </span>


  </div>
</div>
  
  
  
  
	
	
