<div>
  

  <h2>Show Limits</h2>
  <div id="form_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nieuw formulier</h3>Specify for a form whether or not to show limits in the report selection.
	</td>
	<td>
	  <select name="form"><option value="">Maak een keuze</option></select></td>
      </tr></table><h2>Existing forms</h2>Forms that have already set whether or not they show limits in the report selection.
    <ul class="indented" name="forms"></ul></div>
</div>
