<div>
  

  <h2>Modulemethoden</h2>
  <div id="method_container">

    <span id="method_static">
      <h2><a id="method_static_link" href="">Statische functies </a></h2>
      Enumeratiewaarden instellen op basis van statische modulefuncties
      <div class="indented" id="method_static_ajax"></div>
    </span>

    <span id="method_module">
      <h2><a id="method_module_link" href="">Dynamische functies</a></h2>
      Enumeratiewaarden instellen op basis van dynamische modulefuncties
      <div class="indented" id="method_module_ajax"></div>
    </span>

  </div>
</div>
