<div>
  

  <h2>Metadata</h2>
  <div id="meta_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr></tr><tr><td>
	    <h3>Gegevenswaarden</h3>Een lijst met toegestane gegevenswaarden voor de enumeratie
	  </td>
	  <td name="data"></td>      
	</tr><tr><td>
	  <h3>Hook</h3>Een hookmethode gebruikt om de toegestane waarde voor deze enumeratie in te vullen
	</td>
	<td>
	  <input name="hook"></td>
      </tr></table><span id="method">
      <h2><a id="method_link" href="">Modulemethoden</a></h2>
      Toegestane waarden voor de enumeratie gebaseerd op modulemethoden
      <div class="indented" id="method_ajax"></div>
    </span>


  </div>
</div>
