<div>
    <h2>Metadata</h2>
  <div id="display_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Veldkoppeling</h3>Met dubbele punt gescheiden leis van formulieren[+veld] om hiërarchie in te stellen.
	</td>
	<td>
	  <input name="fields"></td>
      </tr><tr><td>
	  <h3>Stijl weergeven</h3>The way that this form is displayed when editing.
	</td>
	<td>
	  <select name="style"></select></td>
      </tr><tr><td>
	  <h3>Report Display</h3>The report used when populating data for populating drop-downs, tree views.  You should consider using this if the field linking is complicated.
	</td>
	<td>
	  <select name="display_report"><option value="">Select A Report</option></select></td>
      </tr></table><span id="orders">
      <h2><a id="orders_link" href="">Volgorde</a></h2>
      Stel de sortering op veld in
      <div class="indented" id="orders_ajax"></div>
    </span>


</div>
</div>