<tbody id="person_form">
<tr>
    <th colspan="2">Continuing Education</th>
</tr>
<tr id="list_fields">
	<td>
	   	<span type="form" name="person_training:training" showhead="default"></span>
	   	<span type="form" name="person_training:provider" showhead="default"></span>
	   	<span type="form" name="person_training:location" showhead="default"></span>
    </td><td>
	   	<span type="form" name="person_training:cpd_credit" showhead="default"></span>
	   	<span type="form" name="person_training:start_date" showhead="default"></span>
	   	<span type="form" name="person_training:end_date" showhead="default"></span>
    </td>
</tr>
</tbody>
