<div>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_person_training'><span type="form" name="person_training:id" href="person_training?id=" parent="true" >Update this Information </span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Continuing Education</th>
		</tr>
	<span type="form" name="person_training:training" showhead="default"></span>
	<span type="form" name="person_training:provider" showhead="default"></span>
	<span type="form" name="person_training:location" showhead="default"></span>
	<span type="form" name="person_training:cpd_credit" showhead="default"></span>
	<span type="form" name="person_training:start_date" showhead="default"></span>
	<span type="form" name="person_training:end_date" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div>
