#user_stats_login_history td {
    width: auto;
}
#user_stats_login_history td.stats_head {
    font-weight: bold;
    width: 10%;
}
#user_stats_form_history td.form_total {
    font-weight: bold;
    background-color: #CCCCFF;
}
#user_stats_login_history td.logged_out {
    background-color: #FFAAAA;
}
#user_stats_login_history td.logged_in {
    background-color: #AAFFAA;
}
#user_stats_login_history tr.even td.logged_out {
    background-color: #FFE5E5;
}
#user_stats_login_history tr.even td.logged_in {
    background-color: #E5FFE5;
}
