<div id="list_display" task="can_view_database_list_continuing_education_course">
	
	<div class="editRecord">
	<p>Cheñch an titour-mañ</p>
		<ul><li task="can_edit_database_list_continuing_education_course"><span type="form" name="continuing_education_course:id" href="lists?type=continuing_education_course&amp;id=">Hizivaat an titour-mañ</span></li>
			<li><a href="lists?type=continuing_education_course">Dibab ur c'hursus all</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Mont war-raok gant ar c'hursus kelenn</th>
		</tr><span type="form" name="continuing_education_course:name" showhead="default"></span>
		<span type="form" name="continuing_education_course:credit_hours" showhead="default" class="even"></span>

	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
