<div id="siteContent">
  <h1>Delyte Aw The Records bi Faceelitie</h1>
  <p><strong>WARNISHMENT:</strong> This will delyte aw the poseetions n person records assigned til thae poseetions fae the database. This can yinlie be recovert fae backups manuallie, sae mak sair that yer backups ar up til date afore performin this action!</p>
  <form method="POST" id="delete_form" action="delete_by_search_action">
    <h2>Selected People</h2>
    <div id="search_list">
    </div>
    <div id="search_selection" style="display:none;">
      <select id="search_select" name="people[]" multiple></select></div>
    <input type="hidden" name="step" value="choose"><input type="submit" class="button" value="Continue"></form>
</div>
