<div id="search_content">
  <p><strong>WARNISHMENT:</strong> This will delyte aw o the person records gien aes weel aes aw o the nou poseetions records that ar assoceeatit wi that person. This data canna be autæmateeclie recoverit n it's up til ye tae back up yer data afore daein this.</p>
  <h2>The People Leet</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm"><ul id="search_list"></ul><div id="additional_form"></div>
    <input type="submit" value="Continue" class="button"></form>
</div>
