<div id="siteContent">
    <h1>Administrar Banco de Dados</h1>

    <h3>Listas de Licença</h3>
    <ul><li><a href="lists?type=qualification">Qualificação</a></li>    	
    	<li><a href="lists?type=cadre">Cadre</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Continuing Education Course</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Disciplinary Action Category</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Disciplinary Action Reason</a></li>
       	<li><a href="lists?type=out_migration_reason">Out Migration Reason</a></li>
    	<li><a href="lists?type=training_disruption_category">Training Disruption Category</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Motivo de Interrupção do Treinamento</a></li>
    </ul><h3>Listas Demográficas</h3>
    <ul><li><a href="lists?type=academic_level">Academic Level</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Certificado</a></li>
    	<li><a href="lists?type=id_type">Tipo de Identificação</a></li>
    	<li><a href="lists?type=marital_status">Estado civil</a></li>
    </ul><h3>Listas Geográficas</h3>
    <ul><li><a href="lists?type=country">País</a></li>
    	<li><a href="lists?type=region&amp;field=country">Região</a></li>
    	<li><a href="lists?type=district&amp;field=region">Distrito</a></li>
    	<li><a href="lists?type=county&amp;field=district">País</a></li>
    </ul><h3>Listas de Instituição</h3>
    <ul><li><a href="lists?type=health_facility">Unidade de Saúde</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Instituição de Treinamento</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Facility Agent</a></li>
    	<li><a href="lists?type=facility_type">Tipo de Unidade</a></li>
    	<li><a href="lists?type=facility_status">Facility Status</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3>Listas Administrativas</h3>
    <ul><li><a href="lists?type=verify_change">Registro de Mudança de Verificações</a></li>
    </ul></span>
    
</div>
