<div id="list_display">
	
	<div class="editRecord">
	<p>Modificar Esta Informação</p>
		<ul><li role="manager"><span type="form" name="disciplinary_action_category:id" href="lists?type=disciplinary_action_category&amp;id=">Atualizar Esta Informação</span></li>
			<li role="manager"><a href="lists?type=disciplinary_action_category">Selecionar outra Categoria de Ação Disciplinar</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="disciplinary_action_category"><tr><th colspan="2">Disciplinary Action Category</th>
		</tr><span type="form" name="disciplinary_action_category:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
