<div id="list_display" task='can_view_database_list_facility_type'>
  
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='can_edit_database_list_facility_type'><span type="form" name="facility_type:id" href="lists?type=facility_type&amp;id=" >Update this Information </span></li>
      <li><a href="lists?type=facility_type" >Select another Facility Type</a></li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Facility Type</th>
      </tr>
      <span type="form" name="facility_type:name" showhead="default"></span>

    </table>
  </div> <!-- dataTable -->
  
</div> <!-- list_display -->
