<div id="siteContent">
  <form method="post" action="REPLACEME" name="edit_role_form_action" id="edit_role">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><th colspan="2">
	  Upravit roli
	</th>
      </tr><tr><td>
	  <label>Zobrazený název role:</label> Název této role, který je zobrazen koncovému uživateli.
	</td>
	<td>
	  <input type="text" name="role_name" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <label>Dědění role:</label>Role, které mají veškerá práva pro tuto roli. Role administrátora bude mít automatický přístup k této roli
	</td>
	<td>
	  <input type="hidden" name="role_roles[]" value="admin"><select name="role_roles[]" multiple id="role_roles"></select></td>
      </tr><tr><td>
	  <label>Úkoly role:</label> Úkoly, které jsou této roli přiděleny
	</td>
	<td>
	  <select name="role_tasks[]" multiple id="role_tasks" display="checkbox"></select></td>
      </tr><tr><td>
	  <label>Role Home page:</label> Default home page for this role
	</td>
	<td>
	  <input type="text" name="homepage"></td>
      </tr><tr><td colspan="2">
	  <input class="button" type="submit" value="Save"></td>
      </tr></table></form>


</div>
