<div id="siteContent">
  <h1>Spravovat role a úkoly</h1>
  <p>
    Zde můžete spravovat role a úkoly v systému.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Spravovat role</a></h2>
      Role je použita při vytváření uživatele. Uživateli roli přidělíte. Existuje zvláštní role 'admin' - toto je role Administrátora. Můžete také určit které role mají stejná práva určité role.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Spravovat úkoly</a></h2>
      Úkol je určitá činnost, která je prováděna systémem. Roli můžete přidělit sbírku úloh. Můžete také vytvořit nový úkol seskupením několika dohromady
    </li>
  </ul></div>