<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">ਨਿੱਜੀ ਜਾਣਕਾਰੀ</a></li>
	<span type="module" name="PersonContact" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">ਰਾਬਤੇ ਦੀ ਜਾਣਕਾਰੀ</a></li>
	</span>
	<li><a href="#jump_qualification" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">ਕਾਬਲੀਅਤ</a></li>
	<span type="module" name="PersonEmployment" ifenabled="true">
	  <li><a href="#jump_employment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">ਪੇਸ਼ੇ ਦਾ ਅਤੀਤ</a></li>
	</span>
	<span type="module" name="PersonEducation" ifenabled="true">
	  <li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">ਸਿੱਖਿਆ ਦਾ ਅਤੀਤ</a></li>
	</span>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">ਟਿੱਪਣੀਆਂ</a></li>
</ul>