<div id="list_display" task='can_view_database_list_continuing_education_course'>
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_continuing_education_course'><span type="form" name="continuing_education_course:id" href="lists?type=continuing_education_course&amp;id=" >Update this Information</span></li>
			<li ><a href="lists?type=continuing_education_course" >Select another Course</a></li>
		</ul>
	      </div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Continuing Education Course</th>
		</tr>
		<span type="form" name="continuing_education_course:name" showhead="default"></span>
		<span type="form" name="continuing_education_course:credit_hours" showhead="default" class="even"></span>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
