.feature_details {
    height: 100px;
    width: 100%;
    border: thin solid black;
    background-color: #99ff99;
    overflow: auto;
}
.map_error {
    width: 100%;
    background-color: #ff9999;
    color: #003300;
}
.map {
    height: 600px;
    width: 100%;
}
