<li>
  <form method='POST' name='add_scalar_key_action'>
    <input name='browser_magic_data_add_key' type='text' size='15' /> 
    <input type='hidden' name='caller' />
    <input type='submit' value='Add Scalar Key' />
  </form>
  <br/>
  <form method='POST' name='add_scalar_binary_key_action'>
    <input name='browser_magic_data_add_key' type='text' size='15' /> 
    <input type='hidden' name='caller' />
    <input type='submit' value='Add Scalar Binary Key' />
  </form>
  <br/>
  <form method='POST' name='add_parent_key_action'>
    <input name='browser_magic_data_add_key' type='text' size='15' /> 
    <input type='hidden' name='caller' />
    <input type='submit' value='Add Parent Key' />
  </form>

</li >
