<div id="list_display" class="recordsData" task="can_view_database_list_id_type">
	
	<div class="editRecord">
	<p dir="rtl">ویرایش این اطلاعات</p>
		<ul><li task="can_edit_database_list_id_type"><span type="form" name="id_type:id" href="lists?type=id_type&amp;id=" dir="rtl">به‌روزرسانی این اطلاعات </span></li>
			<li><a href="lists?type=id_type" dir="rtl">انتخاب نوع شناسهٔ دیگر</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2" dir="rtl">نوع شناسه</th>
		</tr><span type="form" name="id_type:name" showhead="default"></span>
		<span type="form" name="id_type:pattern" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
