<div id="siteContent">
  <h1>Administrar os roles e as tarefas</h1>
  <p>
    Aquí pode administrar os roles e as tarefas do sistema.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Administrar os roles</a></h2>
      Os roles empréganse ao crear os usuarios. Vostede asignará un rol a cada usuario. Hai un rol especial, "admin", que é o rol de administrador. Tamén pode designar os roles que posúen os mesmos dereitos ca un rol especificado.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Administrar as tarefas</a></h2>
      Unha tarefa é unha acción específica que leva a cabo o sistema. Pode asignar unha colección de tarefas a un rol. Tamén pode crear unha nova tarefa agrupando varias xuntas
    </li>
  </ul></div>