<div id="siteContent">
    <h1>Módulos dispoñibles</h1>
    Aquí pode seleccionar os módulos que queira activar ou desactivar ao marcar ou desmarcar as caixas e logo facer clic en <i>Activar</i> ao final da páxina. Tamén pode configurar certos módulos premendo na <i>Configurar</i> ligazón asociada a eles, se está presente. Algúns módulos tamén teñen submódulos asociados a eles aos que se pode acceder facendo clic na ligazón
    <i>submódulos</i> ligazón ou na frecha cara abaixo, se existe.
    <br><br><a href="admin/modules">Menú do módulo principal</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
