

li.relationship_joins {
    border-left:thin dotted #c0c0c0;
    border-bottom:thin dotted #c0c0c0;
    margin-bottom:2em;
    padding-bottom:1em;
    padding-left:1em;
}


.relationship_child_forms {
    border-left:thin dotted #c0c0c0;
    border-bottom:thin dotted #c0c0c0;
    padding-left:1em;
}

.indented {
    padding-left:2em;
}


ul.silent_list {
    list-style-type:none;
}

.inline {
    display:inline;
}

.underline {
    text-decoration: underline;
}