<div id="list_display" class="recordsData" task="can_view_database_list_degree">
	
	<div class="editRecord">
	<p>Éditer cette information</p>
		<ul><li task="can_edit_database_list_degree"><span type="form" name="degree:id" href="lists?type=degree&amp;id=">Mettre à jour cette information </span></li>
			<li><a href="lists?type=degree&amp;field=edu_type">Sélectionner un autre diplôme</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Diplôme ou certificat</th>
		</tr><span type="form" name="degree:edu_type" showhead="default"></span>
		<span type="form" name="degree:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
