<div id="siteContent">
    <h1>Modules disponibles</h1>
    "Ici vous pouvez sélectionner des modules à activer ou à désactiver en cochant ou en décochant les cases puis en appuyant sur le" <i>bouton</i> "Activer au bas de la page. Vous pouvez également configurer certains modules en cliquant sur le" <i>Configurer</i> "lien qui leur est associé s’il existe. Certains modules ont également des sous-modules qui leur sont associés qui sont accessibles en cliquant sur le lien"
    <i>Sous-modules</i> lien ou sur la flèche vers le bas si elle existe.
    <br><br><a href="admin/modules">Menu du module principal</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
