<div id="siteContent">
  <h1 dir="rtl">ادارة الوظائف</h1>
  <h2 dir="rtl">الوظائف القائمة</h2>
  <ul id="role_list"></ul><form method="post" action="tasks-roles/roles">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><th colspan="2" dir="rtl">
	  إضافة وظيفة جديدة
	</th>
      </tr><tr><td dir="rtl">
	   <label dir="rtl">الاسم المختصرللوظيفة:</label> يتكون الاسم القصير من الحروف والأرقام، -،. و_ يستخدم للإشارة إلى الوظيفة في الصفحات والنماذج.
	 </td>
	 <td>
	   <input type="text" id="role_short_name" name="role_short_name" class="validate=[notinlist]"></td>
	 <td dir="rtl">
	   <label dir="rtl">الاسم المعروض للوظيفة:</label> عرض اسم لهذه الوظيفة الذي يتم عرضه للمستخدم النهائي
	 </td>
	 <td>
	   <input type="text" name="role_name"></td>
      </tr><tr><td colspan="2">
	  <input class="button" type="submit" value="Create"></td>
      </tr></table></form>
</div>