<div id="siteContent">
  <h1 dir="rtl">يدير المهام</h1>
  <h2 dir="rtl">المهام القائمة</h2>
  <ul id="task_list"></ul><form method="post" action="tasks-roles/tasks" id="add_user_task">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><th colspan="2" dir="rtl">
	  إضافة مهمة جديدة
	</th>
      </tr><tr><td dir="rtl">
	  <label dir="rtl">اسم مختصر للمهمة:</label> الاسم المختصر يتكون من الحروف والأرقام، -،. و_ يستخدم للإشارة للمهمة و النماذج في الصفحة.
	</td>
	<td>
	  <input type="text" id="task_short_name" name="task_short_name" class="validate=[notinlist,nonempty,magicdatakey]"></td>
      </tr><tr><td dir="rtl">
	  <label dir="rtl">وصف المهمة:</label> وصف موجز لهذه المهمة.
	</td>
	<td>
	  <input type="text" name="task_description" class="validate=[nonempty]"></td>
      </tr><tr><td colspan="2">
	  <input class="button" type="submit" value="Create"></td>
      </tr></table></form>
</div>