<div id="siteContent">
  <h1 dir="rtl">إدارة الوظائف والمهام</h1>
  <p dir="rtl">
    هنا يمكنك إدارة الأدوار والمهام للنظام.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles" dir="rtl">
      <h2><a href="tasks-roles/roles" dir="rtl">ادارة الوظائف</a></h2>
      يستخدم هذا الدور عند تعيين مستخدم. وسوف تقوم بتعيين وظيفة للمستخدم. هناك 'مشرف' خاص للوظيفة وهو مديرها. يمكنك أيضا تعيين المهام التي لديها نفس حقوق الوظيفة المحددة.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks" dir="rtl">يدير المهام</a></h2>
      A task is a specific action that is performed by the system.  You may assign 
      a collection of tasks to a role.  You may also create a new task by grouping tasks together
    </li>
  </ul></div>