<div>
  

  <h2>Seitenoptionen</h2>
  <div id="args_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
			<h3>Titel:</h3>Seitentitel. Dieser Wert wird oben im Browserfenster angezeigt.
		</td>
		<td>
			<input name="title"></td>
	  </tr><tr><td>
			<h3>Aufgaben:</h3>Optionale Aufgabe für die Begrenzung des Zugangs zu dieser Seite.
		</td>
		<td>
			<div name="task"></div>
		</td>
		<!--
		<td>
			<select name='task'><option value=''>No Task Selected</option></select>
		</td>
		-->
	  </tr><tr><td>
		  <h3>Standard-HTML-Dateien:</h3>
		</td>
		<td name="html_files"></td>      
      </tr></table></div>
  
  
  
  
	
	
</div>