<tbody id="person_form"><tr><th>注册信息</th>
    <th>许可协议信息</th>
</tr><tr><td>
		<span type="form" name="registration:council" showhead="default"></span>
		<span type="form" name="registration:registration_number" showhead="default"></span>
		<span type="form" name="registration:registration_date" showhead="default"></span>
	</td><td>
		<span type="form" name="registration:license_number" showhead="default"></span>
		<span type="form" name="registration:license_expiration" showhead="default"></span>
    </td>
</tr></tbody>