<tbody id="person_form"><tr><th colspan="2">Informazioni sul contatto lavorativo</th>
</tr><tr><td>
		<input type="hidden" name="contact_type" value="work"><span type="form" name="person_contact_work:address" showhead="default"></span>
	   	<span type="form" name="person_contact_work:telephone" showhead="default"></span>
	   	<span type="form" name="person_contact_work:mobile_phone" showhead="default"></span>
	   	<span type="form" name="person_contact_work:alt_telephone" showhead="default"></span>
	</td><td>
	   	<span type="form" name="person_contact_work:fax" showhead="default"></span>
	   	<span type="form" name="person_contact_work:email" showhead="default"></span>
		<span type="form" name="person_contact_work:contact_group" showhead="default"></span>
	   	<span type="form" name="person_contact_work:notes" showhead="default"></span>
    </td>
</tr></tbody>