<div id="button">
    <table style="width: 100%; border: none; padding: 0px; margin: 0px;"><tr class="messageCell"><td class="required_field" dir="rtl">* - حقل مطلوب</td>
      </tr><tr><td>
        <span id="button_return" type="form" name="id" href="view?id=" class="button" style="float:left" dir="rtl">رجوع (لا تحفظ التغييرات)</span>
	<span onclick='I2CE_SubmitButton(this,"submit_type","confirm");' class="button" style="float:right" dir="rtl">تأكيد</span>

        </td>
    </tr></table></div>
