<div id="button">
  <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr class="messageCell"><td class="required_field" dir="rtl">* - حقل مطلوب</td>
    </tr><tr class="submitCell"><td>
	
        <span id="button_return" type="form" name="parent" href="view?id=" class="button" dir="rtl">رجوع (لا تحفظ التغييرات)</span>
	<span style="float:right" onclick='I2CE_SubmitButton(this,"submit_type","confirm");' class="button" dir="rtl">تأكيد</span>
      </td>
    </tr></table></div>
