<div>
  <span   id='Default_submit' title="View Selection"    onclick='I2CE_SubmitButton(this,"action","select");' class="multiformsubmit button">Select</span>
  

  <hr/>
  <div >
    <label for='flow'>Workflow</label>
    <select name='flow'><option>Select a workflow</option></select>
    <div style='padding-top:1em'>
      <span   id='Default_kickoff' title="Kickoff"    onclick='I2CE_SubmitButton(this,"action","kickoff");' class="multiformsubmit button">Start Flow</span>
      
      <span   id='Default_kickoff' title="Kickoff"    onclick='I2CE_SubmitButton(this,"action","export_results");' class="multiformsubmit button">Export Results</span>
    </div>
  </div>
  
</div>
