<div>
  <h2>Page Options</h2>
  <div id='args_container'>
    <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
      <tr>
	<td>
	  <h3>RapidPro Token:</h3>The API authorization token for accessing RapidPro.  To get this, click on "Account Details" in RapidPro and then click under "Webhook."  The API Token should be indicated there.
	</td>
	<td>
	  <input name='api_token'/>
	</td>
      </tr>
      <tr>
	<td>
	  <h3>Host:</h3>The host server for accessing RapidPro (e.g. https://rapidpro.io)
	</td>
	<td>
	  <input name='server_host'/>
	</td>
      </tr>
      <tr>
	<td>
	  <h3>Organization Short Name:</h3>The shortname (or slug) for the RapidPro Organization.  To get this, click on "Account Details" in RapidPro and then click  "Your Organization."  The short name should be indicated there.
	</td>
	<td>
	  <input name='slug'/>
	</td>
      </tr>
      <tr>
	<td>
	  <h3>CSD Host:</h3>The URL endpoint used to execute Care Service Discovery (CSD) Find Matching Services requests against.
	</td>
	<td>
	  <input name='csd_host'/>
	</td>
      </tr>
      <tr>
        <td>
          <h3>CSD Host User:</h3>The Username to be used for authentication when executing Care Service Discovery (CSD) Find Matching Services requests against.
        </td>
        <td>
          <input name='csd_host_user'/>
        </td>
      </tr>
      <tr>
        <td>
          <h3>CSD Host Password:</h3>The Password to be used for authentication when executing Care Service Discovery (CSD) Find Matching Services requests against.
        </td>
        <td>
          <input name='csd_host_password'/>
        </td>
      </tr>
    </table>
  </div>
</div>
