<div>
  <h2>The Nou DHIS Metadata Export<h2>  
  <ul><li>The File size: <span name="dhis_export_filesize"></span></li>
    <li><a href="lists?type=dhis_orgunit">The Organisational Units</a></li>
    <li><a href="lists?type=dhis_data_element">Data Elements</a></li>
  </ul><h2>Uplaid the DHIS Metadata Export</h2>
  <div id="error_messages"></div>
  </h2></h2><form method="POST" enctype="multipart/form-data">
    <label for="dhisexport">The DHIS Metadata Export:</label>
    <input type="file" name="dhisexport"><input type="submit" value="Upload"></form>
  
</div>
