<div id="user_statistics" class="recordsData">
  <h3>Form Update History (last <span name="days_limit" /> days of activity)</h3>
  <div>
    <div class="editRecord">
      <p>View Other Statistics</p>
      <ul>
        <li><span type="form" name="user:username" href="UserStatistics?limits:username:equals:value=user|">Data Entry History</span></li>
        <li><a href="UserStatistics">All User Data Entry History</a></li>
      </ul>
    </div>
    <div class="dataTable">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody id="user_stats_form_history">
        </tbody>
      </table>
     </div>
  </div>
  <br clear="all" />
</div>
