<div>
	<div class="editRecord">
	<p>Modificar Esta Informação</p>
		<ul><li role="admin"><span type="form" name="record_verify:id" href="record_verify?id=" parent="true">Atualizar esta Informação </span></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Gravar Verificação</th>
		</tr><span type="form" name="record_verify:verify_date" showhead="default"></span>
	<span type="form" name="record_verify:verify_change" showhead="default" class="even"></span>
	</table></div> <!-- dataTable -->
</div>
