<div id="list_display" task="can_view_database_list_council">
	
	<div class="editRecord">
	<p>Modifier cette information</p>
		<ul><li task="can_edit_database_list_council"><span type="form" name="council:id" href="lists?type=council&amp;id=">Mettre à jour cette information</span></li>
			<li><a href="lists?type=council">Sélectionner un autre conseil d’inscription</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Conseil d’inscription</th>
		</tr><span type="form" name="council:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
