<tbody id="person_form"><tr><th colspan="2">Kabatiran sa Pagsasanay</th>
</tr><tr><td>
		<span type="form" name="index_num" showhead="default"></span>
	</td><td>
		<span type="form" name="training:intake_date" showhead="default"></span>
		<span type="form" name="training:graduation" showhead="default"></span>
	</td>
</tr><tr><th>Sinanay Sa Bansa</th><th>Sinanay sa Labas ng Bansa</th>
</tr><tr><td>
        Piliin ang paaralan ng pagsasanay at tagapagsanay dito para sa mga taong nagsanay sa loob ng bansa.
        <span type="form" name="training:training_program" showhead="default"></span>
    </td>
    <td>
        Piliin ang bansa, uri ng institusyon ng pagsasanay at piliin ang tagapagsanay para sa mga tao na sinanay sa ibang bansa.
	   	<span type="form" name="training:out_country" showhead="default"></span>
	   	<span type="form" name="training:out_institution" showhead="default"></span>
	   	<span type="form" name="training:out_cadre" showhead="default"></span>
    </td>
</tr></tbody>