<div id="siteContent">
    <h1>Pangasiwaan ang Kalipunan ng Dato</h1>

    <h3>Mga Tala ng Lisensiya</h3>
    <ul><li><a href="lists?type=qualification">Pagkanararapat</a></li>    	
    	<li><a href="lists?type=cadre">Tagapagsanay</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Kurso ng Patuloy na Edukasyon</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Kategorya ng Hakbang na Pangdisiplina</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Dahilan ng Hakbang na Pangdisiplina</a></li>
       	<li><a href="lists?type=out_migration_reason">Dahilan sa Labas na Migrasyon</a></li>
    	<li><a href="lists?type=training_disruption_category">Kategorya ng Pag-antala sa Pagsasanay</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Dahilan ng Pag-antala sa Pagsasanay</a></li>
    </ul><h3>Mga Demograpikong Tala</h3>
    <ul><li><a href="lists?type=academic_level">Akademikong Antas</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Katibayan</a></li>
    	<li><a href="lists?type=id_type">Uri ng Pagkakakilanlan</a></li>
    	<li><a href="lists?type=marital_status">Katayuan sa Pag-aasawa</a></li>
    </ul><h3>Mga Talang Heograpiko</h3>
    <ul><li><a href="lists?type=country">Bansa</a></li>
    	<li><a href="lists?type=region&amp;field=country">Rehiyon</a></li>
    	<li><a href="lists?type=district&amp;field=region">Distrito</a></li>
    	<li><a href="lists?type=county&amp;field=district">Kondado</a></li>
    </ul><h3>Mga Tala ng Institusyon</h3>
    <ul><li><a href="lists?type=health_facility">Pasilidad na Pangkalusugan</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Institusyon ng Pagsasanay</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Ahente ng Pasilidad</a></li>
    	<li><a href="lists?type=facility_type">Uri ng Pasilidad</a></li>
    	<li><a href="lists?type=facility_status">Katayuan ng Pasilidad</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3>Pampangangasiwang mga Tala</h3>
    <ul><li><a href="lists?type=verify_change">Mga Pagbabago sa Pagpapatotoo</a></li>
    </ul></span>
    
</div>
