<div id="siteInnerWrap">

<div id="navBar">
<ul id="navBarUL"><li id="menuPerson" role="records"><a href="person">Magdagdag ng Tao</a></li>
	<li id="menuSearch"><a href="search">Maghanap sa mga Rekord</a></li>
	<span type="module" name="CustomReports" ifenabled="true">
	  <li id="menuCustomReports" task="custom_reports_can_view_reportViews"><a href="CustomReports/view/reportViews">Tingnan ang mga Ulat</a></li>
	</span>
	<li id="menuConfigure" task="can_configure_system"><a href="configure">Isaayos ang Sistema</a></li>
	<li id="menuPassword" task="can_change_own_password"><a href="password">Baguhin ang Hudyat</a></li>
</ul></div>

<div id="siteContent"></div>

	<br style="clear: both;"></div><!-- /siteInnerWrap -->
