<div id="list_display">
	
	<div class="editRecord">
	<p>Baguhin ang Kabatirang Ito</p>
		<ul><li role="manager"><span type="form" name="facility_status:id" href="lists?type=facility_status&amp;id=">Isapanahon ang Kabatirang ito</span></li>
			<li role="manager"><a href="lists?type=facility_status">Pumili ng ibang Katayuan ng Pasilidad</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="facility_status"><tr><th colspan="2">Katayuan ng Pasilidad</th>
		</tr><span type="form" name="facility_status:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
