<div id="list_display">
	
	<div class="editRecord">
	<p>Baguhin ang Kabatirang Ito</p>
		<ul><li role="manager"><span type="form" name="disciplinary_action_reason:id" href="lists?type=disciplinary_action_reason&amp;id=">Isapanahon ang Kabatirang ito</span></li>
			<li role="manager"><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Pumili ng ibang Dahilan ng Hakbang na Pangdisiplina</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="disciplinary_action_reason"><tr><th colspan="2">Dahilan ng Hakbang na Pangdisiplina</th>
		</tr><span type="form" name="disciplinary_action_reason:disciplinary_action_category" showhead="default"></span>
		<span type="form" name="disciplinary_action_reason:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
