<div id="siteContent">
    <h1 class="header">Database beheren: gezondheidszorginstellingen en opleidingsinstellingen koppelen</h1>
    <div id="error"></div>
    <form method="post" action="facility_institution">
    <span type="form" name="type"></span>

    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><th colspan="2"><span name="facility_institution_header"></span></th>
    </tr><tbody id="list_fields"></tbody><tr class="submitCell"><td colspan="2">
                    <div id="button"></div>
                </td>
            </tr><tr class="submitCell"><td colspan="2">
                <div id="admin_extra"></div>
            </td></tr></table></form>
</div>
