<tbody id="person_form"><tr><th colspan="2">Opleidingsgegevens</th>
</tr><tr><td>
		<span type="form" name="index_num" showhead="default"></span>
	</td><td>
		<span type="form" name="training:intake_date" showhead="default"></span>
		<span type="form" name="training:graduation" showhead="default"></span>
	</td>
</tr><tr><th>Opgeleid in land zelf</th><th>Opgeleid in het buitenland</th>
</tr><tr><td>
        Selecteer hier het opleidingsinstituut en het kader voor mensen die in het land zijn opgeleid.
        <span type="form" name="training:training_program" showhead="default"></span>
    </td>
    <td>
        Selecteer het land, voer het opleidingsinstituut in en selecteer het kader voor mensen die in een ander land zijn opgeleid.
	   	<span type="form" name="training:out_country" showhead="default"></span>
	   	<span type="form" name="training:out_institution" showhead="default"></span>
	   	<span type="form" name="training:out_cadre" showhead="default"></span>
    </td>
</tr></tbody>