<div id="siteContent">
    <h1>Database beheren</h1>

    <h3>Licentielijsten</h3>
    <ul><li><a href="lists?type=qualification">Kwalificatie</a></li>    	
    	<li><a href="lists?type=cadre">Kader</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Opleiding permanente vorming</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Categorie disciplinaire maatregel</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Reden disciplinaire maatregel</a></li>
       	<li><a href="lists?type=out_migration_reason">Reden voor migratie</a></li>
    	<li><a href="lists?type=training_disruption_category">Trainingsonderbrekingcategorieën</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Reden onderbreken opleiding</a></li>
    </ul><h3>Demografische lijsten</h3>
    <ul><li><a href="lists?type=academic_level">Academisch niveau</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Certificaat</a></li>
    	<li><a href="lists?type=id_type">Identificatietype</a></li>
    	<li><a href="lists?type=marital_status">Burgerlijke staat</a></li>
    </ul><h3>Geografische lijsten</h3>
    <ul><li><a href="lists?type=country">Land</a></li>
    	<li><a href="lists?type=region&amp;field=country">Regio</a></li>
    	<li><a href="lists?type=district&amp;field=region">District</a></li>
    	<li><a href="lists?type=county&amp;field=district">District</a></li>
    </ul><h3>Instellingenlijsten</h3>
    <ul><li><a href="lists?type=health_facility">Gezondheidscentrum</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Opleidingsinstituut</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Faciliteitsagent</a></li>
    	<li><a href="lists?type=facility_type">Instellingstype</a></li>
    	<li><a href="lists?type=facility_status">Faciliteitstatus</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3>Administratieve lijsten</h3>
    <ul><li><a href="lists?type=verify_change">Verificatiewijzigingen voor documenten</a></li>
    </ul></span>
    
</div>
