<div id="siteInnerWrap">

<div id="navBar">
<ul id="navBarUL"><li id="menuPerson" role="records"><a href="person">Persoon toevoegen</a></li>
	<li id="menuSearch"><a href="search">Gegevens doorzoeken</a></li>
	<span type="module" name="CustomReports" ifenabled="true">
	  <li id="menuCustomReports" task="custom_reports_can_view_reportViews"><a href="CustomReports/view/reportViews">Rapporten weergeven</a></li>
	</span>
	<li id="menuConfigure" task="can_configure_system"><a href="configure">Systeeminstellingen</a></li>
	<li id="menuPassword" task="can_change_own_password"><a href="password">Wachtwoord wijzigen</a></li>
</ul></div>

<div id="siteContent"></div>

	<br style="clear: both;"></div><!-- /siteInnerWrap -->
