<div id="list_display" class='recordsData' task="can_view_database_list_language">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_language'><span type="form" name="language:id" href="lists?type=language&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=language">Select another Language</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Language</th>
		</tr>
		<span type="form" name="language:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
