<div task="person_can_view_child_form_person_language">
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_person_language'><span type="form" name="person_language:id" href="person_language?id=" parent="true" >Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Language</th>
		</tr>
	<span type="form" name="person_language:language" showhead="default"></span>
	<span type="form" name="person_language:speaking" showhead="default" class="even"></span>
	<span type="form" name="person_language:reading" showhead="default"></span>
	<span type="form" name="person_language:writing" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
</div>
