<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Bienvenue</h1>
<p>
<strong>iHRIS Qualify</strong> est un système de suivi de formation, d’accréditation et de certification pour le personnel de la santé. Le système permet la création d'une autorité de certification pour un cadre du domaine de la santé, comme pour une infirmière ou un médecin, et lui permet de suivre les données complètes dans un cadre national, de la pré-formation jusqu'à la retraite. iHRIS Qualify est un logiciel gratuit et une solution de Open Source Software développé par <a href="http://www.capacityproject.org">Le projet Capacity</a>, une initiative innovatrice et mondial pour aider les pays en voie de développement à développer et gérer leurs personnels du domaine de la santé.
</p>
</div><!-- /welcomeIntro -->
