<div id="list_display">
	
	<div class="editRecord">
	<p>මෙම තොරතුරු සංස්කරණය කරන්න</p>
		<ul><li role="manager"><span type="form" name="verify_change:id" href="lists?type=verify_change&amp;id=">මෙම තොරතුරු යාවත්කාල කරන්න</span></li>
			<li role="manager"><a href="lists?type=verify_change">වෙනත් සත්‍යාපන වෙනසක් තෝරන්න</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="verify_change"><tr><th colspan="2">සත්‍යාපන වෙනස</th>
		</tr><span type="form" name="verify_change:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
