.pager_display a {
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
}
.pager_display span.pager_current {
	font-size: 12px;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

.pager_display {
	border: 0px solid #BFBFBF;
	width: 150px;
	text-align: right;
	margin-right: 5px;
	padding: 2px 2px 0px 4px;
}
.pager_display a {
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
}
.pager_display span.current {
	font-size: 12px;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}
