Source: i2ce-files-test
Section: misc
Priority: optional
Maintainer: Mark A. Hershberger <mhershberger@intrahealth.org>
Standards-Version: 3.8.1
Homepage: http://intrahealth.org
Build-Depends: debhelper (>= 7)
Vcs-Browser: bzr+ssh://hexmode@bazaar.launchpad.net/%7Eintrahealth%2Binformatics/i2ce/3.2-dev/
Vcs-Bzr: bzr+ssh://hexmode@bazaar.launchpad.net/%7Eintrahealth%2Binformatics/i2ce/3.2-dev/

Package: i2ce-files-test
Section: misc
Priority: optional
Architecture: all
Depends: ${misc:Depends}, 
Description: None
 None
