.report_results_piechart object{  
     z-index:4;
}

.report_results_piechart{ 
         z-index:3;       
}
#report_results_piechart_container{           
         border: 0px solid #D1EFD1; 
         padding: 0px;
}




