<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Bienvenue</h1>
<p>
<strong>Qualification iHRIS</strong> est un système de formation de travailleur de santé, de suivi des licences et des certifications. Le système permet à une autorité de licence ou de certification pour un poste de travail de santé, tel que infirmier ou médecin, de suivre les données de la formation initiale sur l'effectif complet d'un pays, via son attrition. iHRIS Qualify est une solution de logiciels ouverte et libre, développée par <a href="http://www.capacityproject.org">Le projet Capacity</a>, une initiative mondiale novatrice pour aider les pays en développement à organiser et consolider le personnel de santé
</p>
</div><!-- /welcomeIntro -->
