<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1><span printf="'Bienvenue, %s',ihris-common-&gt;getUserNames()"></span></h1>
<p>
Pour commencer à utiliser iHRIS Qualify, veuillez cliquer sur l'une des options ci-dessous. Vous pourrez revenir sur cette page à tout moment en cliquant sur le bouton "Accueil" dans la barre ci-dessus. Si vous désirez une aide sur une fonction quelconque, cliquez sur le bouton "Aide". Nous vous encourageons à nous envoyer toutes les erreurs que vous trouverez, des suggestions d'amélioration ou des fonctions additionnelles, et toutes les autres réactions que vous pourriez avoir sur ce logiciel; contactez-nous à n'importe quel moment en cliquant sur le bouton Feedback ou en sivitant le <a href="http://www.capacityproject.org/hris/">Site Web d'amélioration des SIRH</a>.
</p>
</div><!-- /welcomeIntro -->
