<ul><li id="menuLists" task="can_edit_database_lists"><a href="lists">データベースを管理</a></li>
	<span type="module" name="admin" ifenabled="true">
	  <li id="menuConfigureModules" task="can_configure_modules"><a href="admin/modules">モジュール設定</a></li>
	</span>
	<span type="module" name="CustomReports" ifenabled="true" task="custom_reports_can_edit_reportViews">
	  <li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">フォームの関連付け</a></li>
	  <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">報告</a></li>
	  <li task="custom_reports_can_edit_reportViews"><a href="CustomReports/edit/reportViews">レポートの閲覧</a></li>
	</span>
	<span type="module" name="magicDataBrowser" ifenabled="true">
	  <li id="menuBrowseMagicData" task="can_view_magic_data_browser"><a href="magicDataBrowser/show">マジックデータの参照</a></li>
	</span>
	<span type="module" name="tasks-roles" ifenabled="true">
	  <li task="tasks_and_roles_can_access" id="tasks-roles"><a href="tasks-roles/">タスクの役割</a></li>
	</span>
	<span type="module" name="localeSelector" ifenabled="true">
	  <li id="menuLocaleSelector" task="locales_can_edit_site_locale"><a href="localeSelector/edit">ロケールを管理</a></li>
	</span>
	<span type="module" name="BackgroundProcess" ifenabled="true">
	  <li id="menuBackgroundProcess" task="can_view_background_processes"><a href="BackgroundProcess">バックグラウンド プロセス</a></li>
	</span>
	<span type="module" name="formBrowser" ifenabled="true">
	  <li id="menuFormBrowser" task="can_view_form_browser"><a href="formBrowser/showForm">フォームの参照</a></li>
	</span>
	<span type="module" ifenabled="true" name="DHIS_Metadata">
	  <li role="admin"><a href="dhis_metadata">Manage DHIS2 MetaData</a></li>
	</span>
	<span type="module" name="CachedForms" ifenabled="true">
	  <li id="menuCachedForms" task="cached_forms_can_administer"><a href="CachedForms">キャッシュされたフォーム</a></li>
	</span>
	<li id="menuUser" task="can_create_or_edit_users"><a href="user">ユーザを管理</a></li>
  <span type="module" name="UserStatistics" ifenabled="true">
	  <li id="menuUserStatistics" task="can_view_user_statistics"><a href="UserStatistics">ユーザの統計</a></li>
  </span>

</ul>