<div id="siteContent">
  <h1>Administrar Papéis e Tarefas</h1>
  <p>
    Você poderá administrar os papéis e as tarefas para o sistema aqui.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Administrar Papéis</a></h2>
      Um papel é usado quando se cria um utilizador . Você irá atribuir um papel a um utilizador. Existe uma papel 'admin' especial, é o papel do Administrador. Você poderá também designar que papéis possuem todos os mesmos direitos de um papel específico.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Administrar Tarefas</a></h2>
      A task is a specific action that is performed by the system.  You may assign 
      a collection of tasks to a role.  You may also create a new task by grouping tasks together
    </li>
  </ul></div>