<div id="list_display" task="can_view_database_list_district">
	
	<div class="editRecord">
	<p dir="rtl">ਇਹ ਜਾਣਕਾਰੀ ਸੋਧੋ</p>
		<ul><li task="can_edit_database_list_district"><span type="form" name="district:id" href="lists?type=district&amp;id=" dir="rtl">ਇਹ ਜਾਣਕਾਰੀ ਨਵਿਆਉ</span></li>
			<li><a href="lists?type=district&amp;field=region" dir="rtl">ਕੋਈ ਹੋਰ ਜ਼ਿਲ੍ਹਾ ਚੁਣੋ</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2" dir="rtl">ਜ਼ਿਲ੍ਹਾ</th>
		</tr><span type="form" name="district:name" showhead="default"></span>
		<span type="form" name="district:region" showhead="default" class="even"></span>
		<span type="form" name="district:code" showhead="default"></span>

	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
