<div id="list_display" class="recordsData" task="can_view_database_list_edu_type">
	
	<div class="editRecord">
	<p>この情報を編集</p>
		<ul><li task="can_edit_database_list_edu_type"><span type="form" name="edu_type:id" href="lists?type=edu_type&amp;id=">この情報を更新 </span></li>
			<li><a href="lists?type=edu_type">他の教育の種類を選択</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">教育の種類</th>
		</tr><span type="form" name="edu_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
