<div id="siteContent">
    <h1>Amministra database</h1>

    <h3>License Lists</h3>
    <ul><li><a href="lists?type=qualification">Qualifica</a></li>    	
    	<li><a href="lists?type=cadre">Quadro</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Corso di formazione permanente</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Categoria di azioni disciplinari</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Ragioni dell'azione disciplinare</a></li>
       	<li><a href="lists?type=out_migration_reason">Ragioni trasferimento</a></li>
    	<li><a href="lists?type=training_disruption_category">Training Disruption Category</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Training Disruption Reason</a></li>
    </ul><h3>Liste demografiche</h3>
    <ul><li><a href="lists?type=academic_level">Livello accademico</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Certificato</a></li>
    	<li><a href="lists?type=id_type">Tipo di identificativo</a></li>
    	<li><a href="lists?type=marital_status">Stato civile</a></li>
    </ul><h3>Liste geografiche</h3>
    <ul><li><a href="lists?type=country">Nazione</a></li>
    	<li><a href="lists?type=region&amp;field=country">Provincia</a></li>
    	<li><a href="lists?type=district&amp;field=region">Distretto (in Italia non usare)</a></li>
    	<li><a href="lists?type=county&amp;field=district">Contea (in Italia NON usare)</a></li>
    </ul><h3>Institution Lists</h3>
    <ul><li><a href="lists?type=health_facility">Struttura sanitaria</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Istituto formativo</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Facility Agent</a></li>
    	<li><a href="lists?type=facility_type">Tipo di sede</a></li>
    	<li><a href="lists?type=facility_status">Stato della sede</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3>Liste amministrative</h3>
    <ul><li><a href="lists?type=verify_change">Registrare modifiche di verifica</a></li>
    </ul></span>
    
</div>
