<ul><li><a href="#jump_training" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Informazioni training</a></li>
	<li><a href="#jump_registration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Registrazione</a></li>
	<li><a href="#jump_license" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Informazioni sulla licenza</a></li>
	<li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Formazione permanente</a></li>
	<li><a href="#jump_ppractice" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Autoformazione</a></li>
	<li><a href="#jump_disciplinary" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Avvisi disciplinari</a></li>
	<li><span type="form" name="person:id" href="view?id=">Ritorna alla persona</span></li>
</ul>