<div id="list_display">
	
	<div class="editRecord">
	<p>Modifica questa informazione</p>
		<ul><li role="manager"><span type="form" name="training_disruption_category:id" href="lists?type=training_disruption_category&amp;id=">Aggiorna questa informazione</span></li>
			<li role="manager"><a href="lists?type=training_disruption_category">Selezionare un'altra categoria di interruzione della formazione</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="training_disruption_category"><tr><th colspan="2">Training Disruption Category</th>
		</tr><span type="form" name="training_disruption_category:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
