<div id="list_display">
	
	<div class="editRecord">
	<p>Modifica questa informazione</p>
		<ul><li role="manager"><span type="form" name="qualification:id" href="lists?type=qualification&amp;id=">Aggiorna questa informazione</span></li>
			<li role="manager"><a href="lists?type=qualification">Seleziona un'altra qualifica</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="qualification"><tr><th colspan="2">Qualifica</th>
		</tr><span type="form" name="qualification:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
