<div id="siteContent">
    <h1>Administrar Base de datos</h1>

    <h3>Lista de Licencias</h3>
    <ul><li><a href="lists?type=qualification">Calificación</a></li>    	
    	<li><a href="lists?type=cadre">Grupo</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Continua su Educación</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Categoría de la Acción Disciplinaria</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Motivo de la Acción Disciplinaria</a></li>
       	<li><a href="lists?type=out_migration_reason">Motivo de Emigración</a></li>
    	<li><a href="lists?type=training_disruption_category">Categoría de Interrupción de Entrenamiento</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Motivo de la Interrupción del Entrenamiento</a></li>
    </ul><h3>Listas Demográficas</h3>
    <ul><li><a href="lists?type=academic_level">Nivel Académico</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Certificado</a></li>
    	<li><a href="lists?type=id_type">Tipo de Identificación</a></li>
    	<li><a href="lists?type=marital_status">Estado Civil</a></li>
    </ul><h3>Listas Geográficas</h3>
    <ul><li><a href="lists?type=country">País</a></li>
    	<li><a href="lists?type=region&amp;field=country">Región</a></li>
    	<li><a href="lists?type=district&amp;field=region">Distrito</a></li>
    	<li><a href="lists?type=county&amp;field=district">Municipio</a></li>
    </ul><h3>Listas de instituciones</h3>
    <ul><li><a href="lists?type=health_facility">Institución de Salud</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Institución de Entrenamiento</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Agente de la Instalación</a></li>
    	<li><a href="lists?type=facility_type">Tipo de Institución</a></li>
    	<li><a href="lists?type=facility_status">Estado de Institución</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3>Lista Administrativa</h3>
    <ul><li><a href="lists?type=verify_change">Verificación de Cámbios de Registro</a></li>
    </ul></span>
    
</div>
