<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Información Individual</a></li>
	<span name="PersonContact" type="moduled" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Información de Contacto</a></li>
	</span>
	<li><a href="#jump_training" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Información de Entrenamiento</a></li>
	<li><a href="#jump_deployment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Despliegue</a></li>
	<li><a href="#jump_out_migration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Emigración</a></li>
    <span type="module" name="PersonNotes" ifenabled="true">
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Notas</a></li>
    </span>
    <span type="module" name="RecordVerify" ifenabled="true">
       <li><a href="#jump_record_verify" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Guardar Verificación</a></li>
    </span>
</ul>