#message_box_default {
                       width: 100%;
                       font: 10pt Verdana, Arial, Helvetica, sans-serif;
                       text-align:left;
                       vertical-align: middle;
                       display:block;
                       visibility: hidden;
                       background-color:#ffff66;
                       color:#ffff66;
                      }


#message_box_close {
    float:right;  
    font-weight:bold;
    
}