<div id="siteContent">
  <h1>Amminstra ruoli e attività</h1>
  <p>
    Qui puoi amministrare i ruoli e le attività di sistema.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Ruoli di amministrazione</a></h2>
      Un ruolo viene usato quando si crea un utente. Assegnerai un ruolo ad un utente. Lo speciale ruolo 'admin' è quello dell'Amministratore. Puoi anche decidere che alcuni ruoli abbiano gli stessi permessi di uno specifico ruolo.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Attività di amministrazione</a></h2>
      Un'attività è una specifica azione che viene eseguita dal sistema. È possibile assegnare un insieme di attività a un ruolo. Puoi anche creare una nuova attività raggruppando le attività
    </li>
  </ul></div>