<div id="list_display" task="can_view_database_list_facility_type">
  
  <div class="editRecord">
    <p>この情報を編集</p>
    <ul><li task="can_edit_database_list_facility_type"><span type="form" name="facility_type:id" href="lists?type=facility_type&amp;id=">この情報を更新 </span></li>
      <li><a href="lists?type=facility_type">施設種類の選択</a></li>
    </ul></div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">施設種類</th>
      </tr><span type="form" name="facility_type:name" showhead="default"></span>

    </table></div> <!-- dataTable -->
  
</div> <!-- list_display -->
