<div id="siteContent">
    <h1><span name="person_header"/></h1>
    <p id="purpose"><span type="form" name="person:surname" noedit="display" />, <span type="form" name="person:firstname" noedit="display" /></p>
        <div id="error" />
    <form method="post" action="person" name="person_form">
        <span type="form" name="id"></span>
        <span type="form" name="parent"></span>
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
        	<tbody id="person_form">
        	</tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button" />
                </td>
            </tr>
        </table>
    </form>
</div>
