<div id="siteContent">
  <h1><span name="child_form_header"></span></h1>
  <p id="purpose"><span type="form" name="person:surname" noedit="display"></span>, <span type="form" name="person:firstname" noedit="display"></span></p>
    <div class="recordsData">	
      <div id="child_results">
        <div id="child_pager_div"><span id="child_pager_display" class="pager_display">Jump to:</span></div>
        <div id="child_form"></div>  
      </div>
    </div>
    <br style="clear: both;" />
    <p>
      <br />
    <span type="form" name="person:id" href="view?id=" class="button">return</span>
  </p>
</div>
