<tbody>
  <tr>
    <th colspan="2">Contact Information</th>
  </tr>
  <tr>
    <td>
      <span type="form" name="training_funder_contact:address" showhead="default"></span>
      <span type="form" name="training_funder_contact:telephone" showhead="default"></span>
      <span type="form" name="training_funder_contact:alt_telephone" showhead="default"></span>
      </td><td>
      <span type="form" name="training_funder_contact:fax" showhead="default"></span>
      <span type="form" name="training_funder_contact:email" showhead="default"></span>
      <span type="form" name="training_funder_contact:notes" showhead="contact_person"></span>
    </td>
  </tr>
</tbody>
