<div id="siteContent">
    <h1>View <span name="type_name" />: <span name="list_name" /></h1>

	<div class="recordsData">
	<h3><span name="type_name" /> Information</h3>

	<div id="list_display" task='can_view_database_list_training_institution'>	
		
		<div class="editRecord">
		<p>Edit This Information</p>
			<ul>
				<li task='can_edit_database_list_training_institution'><span type="form" name="training_institution:id" href="lists?type=training_institution&amp;id=" >Update this Information</span></li>
				<li ><a href="lists?type=training_institution" >Select another Training Institution</a></li>
			</ul>
		</div> <!-- editRecord -->
		
		<div class="dataTable">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th colspan="2">Training Institution</th>
			</tr>
			<span type="form" name="training_institution:name" showhead="default"></span>
			<span type="form" name="training_institution:location" showhead="default" class="even"></span>
            
			<tbody id="training_institution_contact" />
	
		</table>
		</div> <!-- dataTable -->
		
	</div> <!-- list_display -->

	
	<br style="clear: both;" />
	
	</div> <!-- recordsData -->
	
</div>
