<div id="siteContent">
  <h1>View <span name="type_name" />: <span name="list_name" /></h1>

  <div class="recordsData">
    <h3><span name="type_name" /> Information</h3>

    <div id="list_display" task='can_view_database_list_training_funder'>	
      
      <div class="editRecord">
	<p>Edit This Information</p>
	<ul>
	  <li task='can_edit_database_list_training_funder'><span type="form" name="training_funder:id" href="lists?type=training_funder&amp;id=" >Update this Information</span></li>
	  <li ><a href="lists?type=training_funder" >Select another Training Funder</a></li>
	</ul>
      </div> <!-- editRecord -->
      
      <div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
	  <tbody id="training_funder">
	    <tr>
	      <th colspan="2">Training Funder</th>
	    </tr>
	    <span type="form" name="training_funder:name" showhead="default"></span>
	    <span type="form" name="training_funder:location" showhead="default" class="even">
	    </span>
	  </tbody>
	  <tbody id="training_funder_contact" />
	  
	</table>
      </div> <!-- dataTable -->
      
    </div> <!-- list_display -->

    
    <br style="clear: both;" />
    
  </div> <!-- recordsData -->
  
</div>
