<div dir="rtl">
  <h2>Changes made to <span name="recent_name"></span> since: <span name="recent_date"></span></h2>
  <h3 dir="rtl">View changes made since: 
  <a name="recent_today_link" dir="rtl">Maanta</a> 
  <a name="recent_yesterday_link" dir="rtl">Shalay</a>
  <a name="recent_week_link" dir="rtl">Usbuucii hore</a><br>
  itus wixii uu wax ka badalay ee:
    <a name="recent_all_link" dir="rtl">Dhamaan</a>
    <a name="recent_me_link" dir="rtl">Aniga</a></h3>
    
      Wixii la helay: <span name="recent_found"></span><br></div>
