<div id="siteContent">
  <h1>Delete All Records by Facility</h1>
  <p><strong>WARNING:</strong> This will delete all positions and person records assigned to those positions 
  from the database.  This can only be recovered from backups manually, so make sure your backups are up to date 
  before performing this action!</p>
  <form method="POST" id="delete_form" action="delete_by_search_action">
    <h2>Selected People</h2>
    <div id="search_list">
    </div>
    <div id="search_selection" style="display:none;">
      <select id="search_select" name="people[]" multiple="multiple">
      </select>
    </div>
    <input type="hidden" name="step" value="choose" />
    <input type="submit" class="button" value="Continue" />
  </form>
</div>
