<div id="search_content">
  <p><strong>WARNING:</strong> This will delete all person records given as well as all current positions
  records associated with that person.  This data can not be automatically recovered and you must be
  sure to back up your data before doing this.</p>
  <h2>People List</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm" />
    <ul id="search_list">
    </ul>
    <div id="additional_form"></div>
    <input type="submit" value="Continue" class="button" />
  </form>
</div>
