<div id="list_display" class="recordsData" task="can_view_database_list_edu_type">
	
	<div class="editRecord">
	<p>Editar esta información</p>
		<ul><li task="can_edit_database_list_edu_type"><span type="form" name="edu_type:id" href="lists?type=edu_type&amp;id=">Actualizar esta información </span></li>
			<li><a href="lists?type=edu_type">Seleccionar outro tipo de educación</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Tipo de educación</th>
		</tr><span type="form" name="edu_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
