<div id="siteContent">
    <h1>Módulos disponíveis</h1>
    Aqui você pode selecionar módulos para habilitar ou desabilitar, marcando ou desmarcando as caixas, e então clicando no <i>Habilitar</i> botão no fim da página. Você pode também configurar certos módulos clicando sobre o <i>Configurar</i> link associado a eles se estiver presente. Alguns módulos também possuem sub-módulos associados, que podem ser acessados clicando sobre
    <i>sub-módulos</i> link ou na flecha que aponta para baixo, caso haja
    <br><br><a href="admin/modules">Módulo do menu principal</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
