<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>iHRIS Qualify</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="en-us">
<meta name="robots" content="all">
<meta name="process_time">
<meta http-equiv="imagetoolbar" content="false">
<meta name="MSSmartTagsPreventParsing" content="true">
<meta name="author" content="Development by IntraHealth International, Inc.  http://www.intrahealth.org/  Website graphic design by DesignHammer Media Group LLC, Building Smarter Websites http://www.designhammer.com">
<meta name="copyright" content="">
<meta name="Description" content="">
<meta name="Keywords" content="">
<link rel="Shortcut Icon" href="file/favicon.ico">
<link rel="stylesheet" href="file/container-print.css" type="text/css" media="print">
<style type="text/css" media="screen">
	@import url(file/container-screen.css);
</style>
<!--[if lt IE 7]><link href="file/iehacks.css" rel="stylesheet" type="text/css" media="screen" /><![endif]--><script type="text/javascript"></script>
</head>
<body>

<div id="siteHeadWrap">
<!-- ie6 redundant tag fix -->
<div id="siteHeader">

<a name="top"><img src="file/iHRISQualify_logo.png" alt="" width="62" height="62" id="siteLogo"></a>
<p id="siteName">iHRIS Qualify</p>
<p id="siteTag">Sito di dimostrazione</p>

<div id="inlineNavWrap">
<!-- ie6 redundant tag fix -->
<div id="inlineNavBar">
<ul>
<li role="any"><a href="home">Home</a></li>
	<span type="module" name="ihris-qualify-help" ifenabled="true">	
	  <li><a href="file/help/index.html" target="_help">Aiuto</a></li>
	</span>
	<li role="NOT_LOGGED_IN"><a href="http://www.capacityproject.org/hris/contact">Feedback</a></li>
	<li role="any"><a href="feedback">Feedback</a></li>
	<li><a href="http://www.capacityproject.org/hris/" target="_new">Sito web iHRIS</a></li>
</ul>
<ul id="sysUser" role="any">
<li><a href="logout" class="logout"><span printf="'Disconnetti come %s',ihris-common-&gt;getUserRole()"></span></a></li>
</ul>
</div>
<!-- /inlineNavBar -->
</div>
<!-- /inlineNavWrap -->

<div id="welcomeIntro"></div>

</div>
<!-- /siteHeader -->
</div>
<!-- /siteHeadWrap -->

<div id="siteOuterWrap">

<div id="siteInnerWrap">

<div id="siteContent"></div>

	<br style="clear: both;">
</div>
<!-- /siteInnerWrap -->
<div id="StretchPage"></div>
<div id="siteFooter">
Versione di iHRIS Qualify: <span type="module" call="ihris-common-&gt;showModuleVersion('ihris-qualify')"></span>
<span type="module" name="localeSelector-&gt;showSelectableLocales()"></span>
</div>
<!-- /siteFooter -->

</div>
<!-- /siteOuterWrap -->

</body>
</html>