
<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1><span printf="'Benvenuto, %s',ihris-common-&gt;getUserNames()"></span></h1>
<p>
Per iniziare a usare iHRIS Qualify, per favore scegli una delle opzioni qui sotto. Puoi tornare su 
questa pagina ogni volta che cliccherai su Home nella barra in alto. Se hai bisogno 
di aiuto con qualche funzione, clicca su Help. Vi incoraggiamo a inviarci ogni 
errore che trovate, impressioni per migliorare o richieste di funzionalita' ulteriori, e qualsiasi 
altro feedback che volete inviarci su questo software; contattateci in ogni momento cliccando 
su Feedback o  visitando il <a href="http://www.capacityproject.org/hris/">HRIS
Sito web di riferimento</a>.
</p>
</div>
<!-- /welcomeIntro -->
