<div id="siteInnerWrap">

<div id="navBar">
<ul id="navBarUL"><li id="menuUser" task="can_create_or_edit_users"><a href="user" dir="rtl">נהל משתמשים</a></li>
	<li id="menuConfigure" task="can_configure_system"><a href="configure" dir="rtl">הגדר מערכת</a></li>
	<span type="module" name="Dashboard" ifenabled="true">
	    <li id="menuDashboard" task="can_view_dashboard"><a href="dashboard">Dashboards</a></li>
	</span>
	<span type="module" name="mHero" ifenabled="true">
	    <li id="menumHero" task="mhero_start_workflow"><a href="mHero">mHero</a></li>
	</span>	
	<span type="module" name="CustomReports" ifenabled="true">
	  <li id="menuCustomReports" task="custom_reports_can_view_reportViews"><a href="CustomReports/view/reportViews" dir="rtl">דוחות מותאמים</a></li>
	</span>
	<li id="menuPassword" task="can_change_own_password"><a href="password" dir="rtl">שנה סיסמה</a></li>
</ul></div>

<div id="siteContent"></div>

	<br style="clear: both;"></div><!-- /siteInnerWrap -->
