<div>
  <h2>Current DHIS Metadata Export<h2>  
  <ul><li dir="rtl">ਫ਼ਾਈਲ ਦਾ ਅਕਾਰ: <span name="dhis_export_filesize"></span></li>
    <li><a href="lists?type=dhis_orgunit" dir="rtl">ਜੱਥੇਬੰਦਕ ਇਕਾਈਆਂ</a></li>
    <li><a href="lists?type=dhis_data_element" dir="rtl">ਅੰਕੜਾ ਤੱਤ</a></li>
  </ul><h2>Upload DHIS Metadata Export</h2>
  <div id="error_messages"></div>
  </h2></h2><form method="POST" enctype="multipart/form-data">
    <label for="dhisexport">DHIS Metadata Export:</label>
    <input type="file" name="dhisexport"><input type="submit" value="Upload"></form>
  
</div>
