<div id="siteContent">
    <h1>Dostupné moduly</h1>
    Zde můžete vybrat moduly k povolení nebo zakázání tím, že zaškrtnete nebo odškrtnete políčka a pak stisknete <i>Povolit</i> tlačítko na konci této stránky. Určité moduly můžete také nastavit kliknutím na <i>Nastavit</i> odkaz k nim připojený, pokud existuje. Některé moduly mají také k nim připojený podmodul, který může být zobrazen kliknutím na
    <i>podmoduly</i> link or on the down-pointing arrow if present.
    <br><br><a href="admin/modules">Menu hlavního modulu</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
