<div id="search_content">
  <p><strong>ADVERTENCIA:</strong> Esto eliminará todos los registros de las personas dadas, así como todas las posiciones actuales asociadas con esa persona. Estos datos no se pueden recuperar automáticamente y usted debe asegurarse de hacer una copia de seguridad antes de realizar esta acción.</p>
  <h2>Listado de personas</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm"><ul id="search_list"></ul><div id="additional_form"></div>
    <input type="submit" value="Continue" class="button"></form>
</div>
