<tbody id="person_form">
<tr>
    <th>Company Information</th>
    <th>Position Information</th>
</tr>
<tr>
	<td>
		<span type="form" name="employment:company_name" showhead="default"></span>
		<span type="form" name="employment:company_address" showhead="default"></span>
		<span type="form" name="employment:company_phone" showhead="default"></span>
		<span type="form" name="employment:supervisor" showhead="default"></span>
		<span type="form" name="employment:contact_ok" showhead="default"></span>
		<span type="form" name="employment:reason_for_leaving" showhead="default"></span>
	</td><td>
		<span type="form" name="employment:start_date" showhead="default"></span>
		<span type="form" name="employment:start_wage" showhead="default"></span>
		<span type="form" name="employment:start_position" showhead="default"></span>
		<span type="form" name="employment:end_date" showhead="default"></span>
		<span type="form" name="employment:end_wage" showhead="default"></span>
		<span type="form" name="employment:end_position" showhead="default"></span>
		<span type="form" name="employment:responsibilities" showhead="default"></span>
    </td>
</tr>
</tbody>
