<div>
	<div class="editRecord" task='person_can_edit_child_form_employment'>
	<p>Edit This Information</p>
		<ul>
			<li ><span type="form" name="employment:id" href="employment?id=" parent="true" >Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable" task='person_can_view_child_form_employment'>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
		    <th colspan="2">Employer Information</th>
		</tr>
		<span type="form" name="employment:company_name" showhead="default"></span>
		<span type="form" name="employment:company_address" showhead="default" mline="true" class="even"></span>
		<span type="form" name="employment:company_phone" showhead="default"></span>
		<span type="form" name="employment:supervisor" showhead="default" class="even"></span>
		<span type="form" name="employment:contact_ok" showhead="default"></span>
		<span type="form" name="employment:reason_for_leaving" showhead="default" mline="true" class="even"></span>
		<span type="form" name="employment:start_date" showhead="default"></span>
		<span type="form" name="employment:start_wage" showhead="default" class="even"></span>
		<span type="form" name="employment:start_position" showhead="default"></span>
		<span type="form" name="employment:end_date" showhead="default" class="even"></span>
		<span type="form" name="employment:end_wage" showhead="default"></span>
		<span type="form" name="employment:end_position" showhead="default" class="even"></span>
		<span type="form" name="employment:responsibilities" showhead="default" mline="true"></span>		
	</table>
	</div> <!-- dataTable -->
</div>
