<div id="button">
    <table style="width: 100%; border: none; padding: 0px; margin: 0px;"><tr class="messageCell"><td class="required_field">* - 必填的字段</td>
      </tr><tr><td>
	<span onclick='I2CE_SubmitButton(this,"submit_type","confirm");' class="button">确定</span>
      </td>
    </tr><tr><td style="text-align: left; padding: 5px;">
        <span type="form" name="parent" href="view_list?type=training_institution&amp;id=" class="button">返回(放弃保存更改)</span>
        </td>
    </tr></table></div>
