<div id="siteContent">
    <h1>Makukuhang mga Modyul</h1>
    Dito ka maaaring pumili ng mga modyul upang mapagana o hindi mapagana sa pamamagitan ng pagpindot o huwag pindutin ang mga kahong tsinetsekan at pagkaraan ay patatamaan ang <i>Paganahin</i> pindutan na nasa ilalim ng pahina. Maaarin mo ring isaayos ang partikular na mga modyul sa pamamagitan ng pagpindot sa <i>Isaayos</i> kawing na kaugnay nila kung naroroon. May ilang mga modyul na may kabahaging mga modyul na kaugnay nila na maaaring mapuntahan sa pamamagitan ng pagpindot sa
    <i>kabahaging mga modyul</i> link or on the down-pointing arrow if present.
    <br><br><a href="admin/modules">Pangunahing Pilian ng Modyul</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
