<div class="recordsData" >
  <h1>
    <span name='parent_form_title'/>
  </h1>
  <h2>
    <span name='parent_form_subtitle'/>
  </h2>
  

  <p class="editRecordsData" name='parent_form_action_links'>
  </p>
  <div name='data_container'>    
    <span name='has_edit_links' ifset='true'>
      <div class="editRecord" >
	<p>Edit This Information</p>
	<ul name='parent_form_edit_links'>
	</ul>
      </div> <!-- editRecord -->
    </span> 
    <span name='has_field_data' ifset='true'>
      <div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <th colspan="2"><span name='parent_form_display_name'/></th>
	  </tr>
	  <tbody name='parent_form_fields'/>
	</table>
      </div> <!-- dataTable -->
    </span>
  </div>
  <br style="clear: both;" />

</div>
