<div id="button">
    <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
      <tr class="messageCell">
        <td class="required_field">* - Required Field</td>
      </tr>
    <tr>
      <td>
        <span id='button_return' type="form" name="id" href="view?id=" class="button" style='float:left'>return (do not save changes)</span>
	<span     onclick='I2CE_SubmitButton(this,"submit_type","confirm");' class="button" style='float:right'>Confirm</span>

        </td>
    </tr>
    </table>
</div>
