<div id="button">
  <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
    <tr class="messageCell">
      <td class="required_field">* - Required Field</td>
    </tr>
    <tr class='submitCell'>
      <td>
	
        <span  id='button_return' type="form" name="parent" href="view?id=" class="button" >return (do not save changes)</span>
	<span     style="float:right" onclick='I2CE_SubmitButton(this,"submit_type","confirm");' class="button">Confirm</span>
      </td>
    </tr>
  </table>

</div>
