<div>
        <div class="editRecord" task="person_can_edit_child_form_dependentt">
                <p>Editar aquesta informació</p>
                <ul><li><span type="form" name="dependent:id" href="dependent?id=" parent="true">Aquesta informació d'Actualització</span></li></ul></div> 
        <div class="dataTable" task="person_can_view_child_form_dependent">
            <table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">informació del dependent</th>
                </tr><span type="form" name="dependent:name" showhead="default"></span>
                <span type="form" name="dependent:gender" showhead="default" class="even"></span>
                <span type="form" name="dependent:date_of_birth" showhead="default"></span>
            </table></div>
</div>
