<div>
  <h2>Dabartinių DHIS metaduomenų eksportas<h2>  
  <ul><li>Failo dydis: <span name="dhis_export_filesize"></span></li>
    <li><a href="lists?type=dhis_orgunit">Organizaciniai vienetai</a></li>
    <li><a href="lists?type=dhis_data_element">Duomenų elementai</a></li>
  </ul><h2>Upload DHIS Metadata Export</h2>
  <div id="error_messages"></div>
  </h2></h2><form method="POST" enctype="multipart/form-data">
    <label for="dhisexport">DHIS metaduomenų eksportas:</label>
    <input type="file" name="dhisexport"><input type="submit" value="Upload"></form>
  
</div>
