<div>
  

  <h2>Field</h2>
  <div id='field_contents'>
    <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
      <tr>
	<td>
	  <h3>Form Field Class</h3>The data type for this field.
	</td>
	<td>
	  <select name='formfield'/>
	</td>
      </tr>
      <tr>
	<td>
	  <h3>Required</h3>This field needs to be set before it can be saved
	</td>
	<td>
	  <select name='required'><option value='1'>Yes</option><option value='0'>No</option></select>
	</td>
      </tr>

      <tr>
	<td>
	  <h3>In Database</h3>This field is saved in the databsae
	</td>
	<td>
	  <select name='in_db'><option value='1'>Yes</option><option value='0'>No</option></select>
	</td>
      </tr>
      <tr>
	<td>
	  <h3>Unique</h3>This field is requried to be a unique value
	</td>
	<td>
	  <select name='unique'><option value='1'>Yes</option><option value='0'>No</option></select>
	</td>
      </tr>
      <tr>
	<td>
	  <h3>Unique Fields</h3>If this is a unique field, these are fields it is requried to be unique relative to
	</td>
	<td>
	  <input type='hidden' name='do_unique_field' value='1'/>
	  <ul name='unique_field'/>
	</td>
      </tr>
      

    </table>

    
    <span id='headers'>
      <h2><a id="headers_link" href=''>Headers</a></h2>
      Edit headers for this field
      <div class='indented' id='headers_ajax' />
    </span>

    
    <span name='has_meta' ifset='1'>
      <span id='meta'>
	<h2><a id="meta_link" href=''>Meta</a></h2>
	Edit meta data for this field
	<div class='indented' id='meta_ajax'/>
      </span>
    </span>

  </div>
</div>
