<div>
  

  <h2>Meta Data</h2>
  <div id='meta_container'>
    <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
      <tr>
	<td >
	  <h3>Max File Size (kb)</h3>Maximum file size in kilobytes for stored files
	</td>
	<td>
	  <input name='max_size_kb'/>
	</td>
      </tr>
      <tr>
	<td >
	  <h3>Max Width</h3>Maximum width of the image
	</td>
	<td>
	  <input name='max_width'/>
	</td>
      </tr>      <tr>
	<td >
	  <h3>Max Height</h3>Maximum height of the image
	</td>
	<td>
	  <input name='max_height'/>
	</td>
      </tr>
    </table>


  </div>
</div>
