<div>
  

  <h2>Meta Data</h2>
  <div id='meta_container'>
    <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
      <tr>
	<td >
	  <h3>Show Key</h3>Show the key when displaying the associative list
	</td>
	<td>
	  <select name='show_key'><option value='1'>Yes</option><option value='0'>No</option></select>
	</td>
      </tr>
      <tr>
	<td >
	  <h3>Allow New</h3>Allow new keys to be added to the list
	</td>
	<td>
	  <select name='allow_new'><option value='1'>Yes</option><option value='0'>No</option></select>
	</td>
      </tr>
      <tr>
	<td >
	  <h3>Allow Delete</h3>Allows keys to be deleted from the list
	</td>
	<td>
	  <select name='allow_delete'><option value='1'>Yes</option><option value='0'>No</option></select>
	</td>
      </tr>
      <tr>
	<td >
	  <h3>Key Sort Order</h3>Ordering to sort keys
	</td>
	<td>
	  <select name='key_sort'/>
	</td>
      </tr>
    </table>


  </div>
</div>
