<div>
  

  <h2>Module Methods</h2>
  <div id='method_container'>

    <span id='method_static'>
      <h2><a id="method_static_link" href=''>Static Functions </a></h2>
      Set enumeration values  based on static  module functions
      <div class='indented' id='method_static_ajax'/>
    </span>

    <span id='method_module'>
      <h2><a id="method_module_link" href=''>Dynamic Functions</a></h2>
      Set enumeration values  based on dynamic  module functions
      <div class='indented' id='method_module_ajax'/>
    </span>

  </div>
</div>
