<div>
  

  <h2>Form Class</h2>
  <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
	<h3>Name:</h3>Form Class Name
      </td>
      <td>
	<h3><span name='name'/></h3>
      </td>
    </tr>
    <tr>
      <td>
	<h3>Extends:</h3>Base class that this form extends.  It will inherit all the properties of this base class.
      </td>
      <td>
	<select name='extends'><option value='I2CE_Form'>I2CE_Form</option></select>
      </td>
    </tr>
    <tr>
      <td>
	<h3>Display Name:</h3>Display Name For the Form Class
      </td>
      <td>
	<input name='display'/>
      </td>
    </tr>
  </table>

  
  <span id='fields'>
    <h2><a id="fields_link" href=''>Fields</a></h2>
    Edit fields for this class
    <div class='indented' id='fields_ajax'/>
  </span>


  <span id='meta'>
    <h2><a id="meta_link" href=''>Meta</a></h2>
    Edit meta data for this class
    <div class='indented' id='meta_ajax'/>
  </span>
</div>
