<div>
  
  
  <h2>List Display</h2>
  <span id='display_container'>
    <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
      <tr>
	<td>
	  <h3>Display String:</h3>PrintF Display String
	</td>
	<td>
	  <input name='display_string'/>
	</td>
      </tr>
    </table>

    
    <span id='display_args'>
      <h2><a id="display_args_link" href=''>Displayed Fields/Arguments</a></h2>
      Edit printf display field/arguments for this class
      <div class='indented' id='display_args_ajax'/>
    </span>


    <span id='sort_fields'>
      <h2><a id="sort_fields_link" href=''>Sort Fields</a></h2>
      Edit field sort order for this list display
      <div class='indented' id='sort_fields_ajax'/>
    </span>
  </span>


</div>
