
ul.module_list{ 
                 list-style-type:none; 
                 padding:0px;
                 padding-left: 2em;
                 margin:0px;
                 width:90%;
 }
table.module_list 
{ 
                    width:100%;
  }
table.module_list td,th
{ 
                      vertical-align:top;
                      padding-right: 0.5em;
  }

li.sub_module  { 
                display: none;            
                width:100%;
                }

li.conflict { 
              background-color: yellow;
 }
.module_left
{ 
  width:2em;
  }

.module_center
{ 
  width: 100%;
  text-align: left;
 }
.module_right
{ 
  width:4em;
  }


