<div id="siteContent">
  <h1>Rollen en taken beheren</h1>
  <p>
    Hier kunt u de rollen en taken voor het systeem beheren.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Rollen beheren</a></h2>
      Een rol wordt gebruikt bij het aanmaken van een gebruiker. U wijst een rol aan een gebruiker toe. Er is een speciale rol "admin", dit is de rol van de Beheerder. U kunt ook opgeven welke rollen dezelfde rechten hebben als een geselecteerde rol.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Taken beheren</a></h2>
      Een taak is een specifieke handeling die wordt uitgevoerd door het systeem. U kunt een verzameling taken toewijzen aan een rol. U kunt ook een nieuwe taak maken door taken te groeperen.
    </li>
  </ul></div>