<div>
  <h1>
    <span name="form_title">Remote Service Directory</span>
  </h1>
  <p>
    Select InfoManager Service To Use For Each Directory
  </p>
  <p>Define or configure additional <a href="auto_list/view?type=csd_info_manager">InfoManagers</a></p>
  
  <div name="data_container">
    
    <div class="dataTable">
      <table border="0" cellspacing="0" cellpadding="0">
	<tbody name="form_fields">
	  <tr><th >Directory</th><th>CSD InfoManager</th></tr>
	  <tr><td><span class="field_head">Health Worker Directory</span></td><td><select name='provider'/></td></tr>
	  <tr><td><span class="field_head">Facility Directory</span></td><td><select name='facility'/></td></tr>
	  <tr><td><span class="field_head">Service Directory</span></td><td><select name='service'/></td></tr>
	  <tr><td><span class="field_head">Organization Directory</span></td><td><select name='organization'/></td></tr>
	</tbody>
      </table>
    </div>
    <div class='dataTable'>
      <table border="0" cellspacing="0" cellpadding="0">
	<tbody name="form_fields">      
	  <tr><th colspan='2'>Terminologies</th></tr>
	  <tr><th>Terminology Server</th><th><input id='url' name='url' type='text'/></th></tr>	  
	  <tr><th>Terminology</th><td>Identifier</td></tr>
	  <tr><td>Address Type (<a name='link_csd_address_type'>View</a>) </td><td><input type='text' name='csd_address_type'/></td></tr>
	  <tr><td>Address Components (<a name='link_csd_address_components'>View</a>) </td><td><input type='text' name='csd_address_components'/></td></tr>
	  <tr><td>Facility Status 	  (<a name='link_csd_facility_status'>View</a>) </td><td><input type='text' name='csd_facility_status'/></td></tr>
	  <tr><td>Provider Status 	  (<a name='link_csd_provider_status'>View</a>) </td><td><input type='text' name='csd_provider_status'/></td></tr>
	  <tr><td>Organization Status 	  (<a name='link_csd_organization_status'>View</a>) </td><td><input type='text' name='csd_organization_status'/></td></tr>
	  <tr><td>Service Status 	  (<a name='link_csd_service_status'>View</a>) </td><td><input type='text' name='csd_service_status'/></td></tr>
	  <tr><td>Gender 	  (<a name='link_csd_provider_gender'>View</a>) </td><td><input type='text' name='csd_provider_gender'/></td></tr>
	  <tr><td>Contact Point type 	  (<a name='link_csd_contact_point_type'>View</a>) </td><td><input type='text' name='csd_contact_point_type'/></td></tr>
	  <tr><td>Provider Type 	  (<a name='link_csd_provider_type'>View</a>) </td><td><input type='text' name='csd_provider_type'/></td></tr>
	  <tr><td>Language 	  (<a name='link_csd_language'>View</a>) </td><td><input type='text' name='csd_language'/></td></tr>
	  <tr><td>Provider Credential Type 	  (<a name='link_csd_provider_credential_type'>View</a>) </td><td><input type='text' name='csd_provider_credential_type'/></td></tr>
	  <tr><td>Facility Type 	  (<a name='link_csd_facility_type'>View</a>) </td><td><input type='text' name='csd_facility_type'/></td></tr>
	  <tr><td>Provider Specialty 	  (<a name='link_csd_provider_specialty'>View</a>) </td><td><input type='text' name='csd_provider_specialty'/></td></tr>
	  <tr><td>Service Type 	  (<a name='link_csd_service_type'>View</a>) </td><td><input type='text' name='csd_service_type'/></td></tr>
	  <tr><td>Organization Type 	  (<a name='link_csd_organization_type'>View</a>) </td><td><input type='text' name='csd_organization_type'/></td></tr>
	  
	</tbody>
      </table>
    </div>
  </div>


</div>
