.showColorPickerBox { 

 }


.colorPickerBox { 
                      width: 50px;
                      height:120px;
                      border: none;
 }


.cpDialog{ 
                       border:none;
}

table.colorPicker  { 
                     border-spacing:  4em 0px;
                     }

table.colorPicker th { 
                       text-align:center;
 }

table.colorPicker td { 
                      border: solid black 1px;                      
                       text-align:center;
 }