<div id="siteContent">
    <h1 dir="rtl">ادارهٔ پایگاه داده</h1>

    <span type="module" ifenabled="true" name="Person">    
	  <h3 dir="rtl">فهرست‌های جمعیتی</h3>
	  <ul><li><a href="lists?type=id_type" dir="rtl">نوع شناسایی</a></li>
	    <li><a href="lists?type=marital_status" dir="rtl">وضعیت تأهل</a></li>
	  </ul></span>
    <span type="module" ifenabled="true" name="Geography">    
      <h3 dir="rtl">اطلاعات جغرافیایی</h3>
      <ul><li><a href="lists?type=country" dir="rtl">کشور</a></li>
        <li><a href="lists?type=region" dir="rtl">منطقه</a></li>
        <li><a href="lists?type=district" dir="rtl">ناحیه</a></li>
        <li><a href="lists?type=county" dir="rtl">شهرستان</a></li>
        <span type="module" ifenabled="true" name="Currency">    
          <li><a href="lists?type=currency" dir="rtl">واحد پول</a></li>
        </span>
      </ul></span>
    <h3 dir="rtl">اطلاعات بیشتر</h3>
    <ul><span type="module" ifenabled="true" name="simple-competency">	
	  <li><a href="lists?type=competency_type" dir="rtl">نوع صلاحیت</a></li>
	  <li><a href="lists?type=competency&amp;field=competency_type" dir="rtl">صلاحیت</a></li>
    </span>
    <span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course" dir="rtl">ادامهٔ دورهٔ تحصیلی</a></li>
    </span>
    <span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution" dir="rtl">موسسهٔ آموزشی</a></li>
	  <li><a href="lists?type=training_funder" dir="rtl">سرمایهٔ آموزشی</a></li>
    </span>
    </ul><span role="admin">
      <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
        <h2>Mass Delete</h2>
        <ul><li><a href="delete_by_search">By Person (Search Page)</a></li>
        </ul></span>
    </span>
</div>
