<div id='siteContent'>
  <h2>Background process status viewer</h2>
  <p>
    <span name='background_status'>
    </span>
    <span name='background_status_content' ifset='true'>
      <pre name='background_status_content' class='processScroll'></pre>
    </span>
  </p>
  <ul id='background_menu'>
  </ul>
  <span ifset='true' name='background_tail'>
    <h3>Logged Ouput for Background Process <span name='process_number'></span></h3>
    <pre name='background_tail' class='processScroll'></pre >
  </span>
</div>