<div id="list_display" task="can_view_database_list_classification">
	
	<div class="editRecord">
	<p>Baguhin ang Kabatirang Ito</p>
		<ul><li task="can_edit_database_list_classification"><span type="form" name="classification:id" href="lists?type=classification&amp;id=">Isapanahon ang Kabatirang ito</span></li>
			<li><a href="lists?type=classification">Pumili ng iba pang Klasipikasyon</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Klasipikasyon</th>
		</tr><span type="form" name="classification:name" showhead="default"></span>
		<span type="form" name="classification:description" showhead="default" class="even"></span>
		<span type="form" name="classification:code" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
