<div id="siteContent">
    <h1>Configurar Sistema</h1>

  <div task="can_edit_database_lists">
    <h2><a href="lists" class="adminDatabase">Administrar Base de Dados</a></h2>
    <p>
    <!-- Create and update standard lists of data for selection in system menus. -->
    Administrar cargos e criar e actualizar menús de dropdown.
    </p>
      <hr></div>


  <span type="module" name="admin" ifenabled="true">
    <div task="can_configure_modules">
      <h2><a href="admin/modules" class="adminDatabase">Configurar Módulos</a></h2>
      <p>
	Ativar e desativar os vários módulos do sistema.
      </p>
      <hr></div>
  </span>

  <span type="module" name="page-builder" ifenabled="true">
    <div task="can_build_pages">
      <h2><a href="PageBuilder" class="adminDatabase">Page Builder</a></h2>
      <p>
	Build and Reconfigure pages
      </p>
      <hr></div>
  </span>

  <span type="module" name="form-builder" ifenabled="true">
    <div task="can_build_forms">
      <h2>Forms Builder</h2>
      <p>
	Build and Reconfigure Forms
      </p>
      <ul><li><a href="FormBuilder/forms" class="adminDatabase">Form Builder</a></li>
	<li><a href="FormBuilder/formClasses" class="adminDatabase">Form Class Builder</a></li>
      </ul><hr></div>
  </span>


  <span type="module" name="formRelationships" ifenabled="true">
    <div role="admin">
      <h2><a href="form_relationship_import" class="searchRecords"> Import Form Relationship Data</a></h2>
      <p>
	Import iHRIS data from a form relationship export or from a transform of another data source, such as an Excel file, to the iHRIS form relationship format.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CustomReports" ifenabled="true">
    <span task="custom_reports_can_edit_reportViews">
        <h2><a name="manage_reports" class="adminDatabase">Gerir Relatórios</a></h2>
      <p>
	Gerir os relatórios padronizados disponíveis para os utilizadores e criar novos relatórios padronizados
      </p>
      <ul><li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">Relações entre Fichas</a>
          <dl><dd>Definir como as fichas são relacionadas para utilização nos relatórios.</dd></dl></li>
          <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">Relatórios</a>
          <dl><dd>Definir os relatórios com base em relações previamente definidas. Você pode escolher que campos estarão disponíveis para cada relatório e que campos podem ser utilizados para limitar o relatório.</dd></dl></li>
          <li><a href="CustomReports/edit/reportViews">Visualizações do Relatório</a>
          <dl><dd>Definir as visualizações de relatórios com base em relatório previamente definidos. Você pode escolher os campos a apresentar e também definir uma visualização pré-definida que apresente um gráfico ou resultados limitados quando um utilizador acede à visualização do relatório.</dd></dl></li>
      </ul><hr></span>
  </span>



  <span type="module" name="magicDataBrowser" ifenabled="true">
    <div task="can_view_magic_data_browser">
      <h2><a href="magicDataBrowser/show" class="searchRecords">Browse Magic Data</a></h2>
      <p>
	Procurar os dados de configuração usados pelo sistema.
      </p>
      <hr></div>
  </span>


  <span type="module" name="SVS" ifenabled="true">
    <div task="SVS_allow_RetreieveValueSet">
      <h2><a href="SVS/config" class="searchRecords">Shared Value Sets</a></h2>
      <p>
	Download or configure Shared Value Sets for exchanging meta-data between components of your health information system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd_cache" ifenabled="true">
    <div task="csd_cache_admin">
      <h2><a href="csd_cache" class="searchRecords">Care Services Discovery</a></h2>
      <p>
	Adminster Caches for Care Services Discovery (CSD) export of data
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd-infoman-storage" ifenabled="true">
    <div role="admin">
      <h2><a href="remote_directory_selector/edit" class="searchRecords"> Registo com Ligações Internas do trabalhador da Saúde</a></h2>
      <p>
	Set connection details for connecting with a Care Services Discovery (CSD) compliant InterLinked Health Worker Registry.
      </p>
      <hr></div>
  </span>





  <span type="module" name="tasks-roles" ifenabled="true">
    <div task="tasks_and_roles_can_access">
      <h2><a href="tasks-roles" class="adminDatabase">Tarefas e Papéis</a></h2>
      <p>
	Administrar Tarefas e Papéis para o Sistema
      </p>
      
      <hr></div>
  </span>


  <span type="module" name="localeSelector" ifenabled="true">
    <div task="locales_can_edit_site_locale">
      <h2><a href="localeSelector/edit" class="adminDatabase">Gerir Locales</a></h2>
      <p>
	Gerir Locales disponibilizados pelo sistema
      </p>
      <hr></div>      
  </span>



  <span type="module" name="BackgroundProcess" ifenabled="true">
    <div task="can_view_background_processes">
      <h2><a href="BackgroundProcess" class="searchRecords">Processos de Fundo</a></h2>
      <p>
	Examinar processos de fundo que você tenha iniciado
      </p>
      <hr></div>
  </span>


  <span type="module" name="formBrowser" ifenabled="true">
    <div task="can_view_form_browser">
      <h2><a href="formBrowser/showForm" class="searchRecords">Procurar Fichas</a></h2>
      <p>
	Procurar Fichas utilizadas pelo sistema
      </p>
      <hr></div>
  </span>

  <span type="module" ifenabled="true" name="DHIS_Metadata">
    <div role="admin">
      <h2><a href="dhis_metadata">Manage DHIS2 MetaData</a></h2>
      <p>
	Upload <a href="http://dhis2.org">DHIS2</a> MetaData such as organizational units and data elements.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CachedForms" ifenabled="true">
    <div task="cached_forms_can_administer">
      <h2><a href="CachedForms" class="adminDatabase">Fichas em Cache</a></h2>
      <p>
	Controlar a criação de fichas em cache
      </p>
      <hr></div>
  </span>
  
  <div task="can_create_or_edit_users">

    <h2><a href="user" class="adminDatabase">Administrar Utilizadores</a></h2>
    <p>
    Criar, atualizar e desativar contas de utilizador para fortalecer um acesso seguro ao sistema. O acesso é limitado ao Administrador do Sistema.
    </p>
      <hr></div>
  <span type="module" name="UserStatistics" ifenabled="true">
	<div task="can_view_user_statistics">
	  <h2><a href="UserStatistics" class="searchRecords">User Statistics</a></h2>
      View data entry statistics for users.
    </div>
  </span>
</div>
