<tbody id="list_fields">
    <tr>
        <td class="formdata">
            <span type="form" name="title" showhead="default"></span>
            <span type="form" name="code" showhead="default"></span>
            <span type="form" name="description" showhead="default"></span>
        </td><td class="formdata">
            <span type="form" name="salary_grade" showhead="default"></span>
            <span type="form" name="cadre" showhead="default"></span>
            <span type="module" name="who_cadre" ifenabled="true">
              <span type="form" name="who_cadre" showhead="default"></span>
	    </span>
            <span type="module" name="isco-88" ifenabled="true">
                <span type="form" name="isco_88_unit" showhead="default"></span>
            </span>
        </td>
    </tr>
</tbody>
