<div id="list_display" task="can_view_database_list_job">
    
    <div class="editRecord">
    <p>Edit This Information</p>
        <ul>
            <li task='can_edit_database_list_job'><span type="form" name="job:id" href="lists?type=job&amp;id=" >Update this Information</span></li>
            <li><a href="lists?type=job" >Select another Job </a></li>
        </ul>
    </div> <!-- editRecord -->
    
    <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th colspan="2">Job</th>
        </tr>
        <span type="form" name="job:title" showhead="default"></span>
        <span type="form" name="job:code" showhead="default" class="even"></span>
        <span type="form" name="job:description" showhead="default"></span>
        <span type="form" name="job:cadre" showhead="default"></span>
        <span type="module" name="who_cadre" ifenabled="true">
          <span type="form" name="who_cadre" showhead="default"></span>
	</span>
        <span type="form" name="job:classification" showhead="default" class="even"></span>
        <span type="module" name="isco-88" ifenabled="true">
            <span type="form" name="job:isco_88_unit" showhead="default"></span>
        </span>

    </table>
    </div> <!-- dataTable -->
    
</div> <!-- list_display -->
