<div id="siteContent">
  <h1>Administrar Funciones y Tareas</h1>
  <p>
    Aquí podrá administrar las funciones y tareas del sistema.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Administrar Funciones</a></h2>
      Un rol se utiliza al crear un usuario. Se le asignara un rol a un usuario. Existe un rol especial 'admin', este es el rol de Administrador. También puede definir que roles tienen los mismos derechos que un específico.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Administrar Tareas</a></h2>
      Una tarea es una acción específica realizada por el sistema. Podrás asignar un conjunto de tareas a una función. También podrás crear una nueva tarea agrupando un conjunto de tareas
    </li>
  </ul></div>