<div id="feedback">
<p>
Pokud chcete nahlásit chybu, problémy se stránkou, máte požadavky na funkci, nebo otázku, tak nás, prosím, kontaktujte vyplněním a odesláním následujícího formuláře. Vaše komentáře a emailová adresa budou uchovány v soukromí v souladu s Capacity Project 
<a target="_new" href="http://www.capacityproject.org/index.php?option=com_content&amp;task=view&amp;id=34&amp;Itemid=63">ochrana osobních údajů</a>. Vaši emailovou adresu použijeme pouze pro odpověď na Váš požadavek. Můžete nás také kontaktovat přímo emailem na 
<a href="mailto:hris@capacityproject.org">hris@capacityproject.org</a>.
</p>
<hr><h4>Formulář zpětné vazby stránky</h4>
<!-- <p>Required fields are marked with a red asterisk (<span style="color:red;"><b>*</b></span>)</p> -->
<div id="error"></div>
<form method="POST" action="feedback">
<input type="hidden" name="referer" id="referer"><table class="tableForm"><tr><td colspan="2"><label for="Comments">Komentáře:</label><br><textarea name="Comments" rows="10" cols="45" id="Comments"></textarea></td>
  </tr><tr class="spacer"><td><label for="Name">Jméno:</label></td>
   <td><input type="text" name="Name" id="Name"></td>
  </tr><tr><td><label for="Company">Společnost:</label></td>
   <td><input type="text" name="Company" id="Company"></td>
  </tr><tr><td><label for="Title">Název:</label></td>
   <td><input type="text" name="Title" id="Title"></td>
  </tr><tr><td><label for="Industry">Odvětví:</label></td>
   <td><input type="text" name="Industry" id="Industry"></td>
  </tr><tr><td><label for="Address">Adresa:</label></td>
   <td><input type="text" name="Address" id="Address"></td>
  </tr><tr><td><label for="City">Město:</label></td>
   <td><input type="text" name="City" id="City"></td>
  </tr><tr><td><label for="State">Stát/Oblast:</label></td>
   <td><input type="text" name="State" id="State"></td>
  </tr><tr><td><label for="Postal_Code">Poštovní směrovací číslo:</label></td>
   <td><input type="text" name="Postal_Code" id="Postal_Code"></td>
  </tr><tr><td><label for="Country">Země:</label></td>
   <td><input type="text" name="Country" id="Country"></td>
  </tr><tr class="spacer"><td><label for="Telephone">Telefon:</label></td>
   <td><input type="text" name="Telephone" id="Telephone"></td>
  </tr><tr><td><label for="Fax">Fax:</label></td>
   <td><input type="text" name="Fax" id="Fax"></td>
  </tr><tr><td><label for="Email">Email:</label></td>
   <td><input type="text" name="Email" id="Email"></td>
  </tr><tr class="spacer"><td><!-- <p class="smallGray"><span style="color: red;">*</span> Required</p> --></td>
   <td><input type="submit" value="Submit" name="submit" class="button"><input type="reset" value="Clear" name="reset" class="button"></td>
  </tr></table></form>

</div><!-- /feedback -->
