<div id="siteContent">
    <h1>Arventenniñ ar reizhiad</h1>

  <div task="can_edit_database_lists">
    <h2><a href="lists" class="adminDatabase">Merañ an diaz roadennoù</a></h2>
    <p>
    <!-- Create and update standard lists of data for selection in system menus. -->
    Merañ postoù, sevel ha hizivaat lañserioù desachañ.
    </p>
      <hr></div>


  <span type="module" name="admin" ifenabled="true">
    <div task="can_configure_modules">
      <h2><a href="admin/modules" class="adminDatabase">Kefluniañ ar modulennoù</a></h2>
      <p>
	Gweredekaat ha diweredekaat modulennoù ar reizhiad.
      </p>
      <hr></div>
  </span>

  <span type="module" name="page-builder" ifenabled="true">
    <div task="can_build_pages">
      <h2><a href="PageBuilder" class="adminDatabase">Saver pajenn</a></h2>
      <p>
	Build and Reconfigure pages
      </p>
      <hr></div>
  </span>

  <span type="module" name="form-builder" ifenabled="true">
    <div task="can_build_forms">
      <h2>Saver furmskridoù</h2>
      <p>
	Build and Reconfigure Forms
      </p>
      <ul><li><a href="FormBuilder/forms" class="adminDatabase">Saver furmskridoù</a></li>
	<li><a href="FormBuilder/formClasses" class="adminDatabase">Form Class Builder</a></li>
      </ul><hr></div>
  </span>


  <span type="module" name="formRelationships" ifenabled="true">
    <div role="admin">
      <h2><a href="form_relationship_import" class="searchRecords"> Import Form Relationship Data</a></h2>
      <p>
	Import iHRIS data from a form relationship export or from a transform of another data source, such as an Excel file, to the iHRIS form relationship format.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CustomReports" ifenabled="true">
    <span task="custom_reports_can_edit_reportViews">
        <h2><a name="manage_reports" class="adminDatabase">Merañ ar rentaoù-kont</a></h2>
      <p>
	Merañ an danevelloù standart a c'hall kaout an implijerien ha krouiñ danevelloù personelaet boutin.
      </p>
      <ul><li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">Darempredoù etre ar furmskridoù</a>
          <dl><dd>a zielfenn penaos e vez liammet ar furmskridoù evit implijout anezho en danevelloù.</dd></dl></li>
          <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">Danevelloù</a>
          <dl><dd>a dermen an danevelloù diazezet war an darempredoù termenet a-raok. Gallout a reot dibab ar maeziennoù a c'haller kaout evit pep danevell hag evit ar re a c'haller implijout evit termeniñ an danevell.</dd></dl></li>
          <li><a href="CustomReports/edit/reportViews">Diskwel an danevelloù</a>
          <dl><dd>A dermen diskwelioù an danevelloù zo diazezet war an danevelloù termenet a-raok. Gallout a reot dibab peseurt maeziennoù diskwel hag ivez termeniñ un diskwel dre ziouer hag a laka war wel ur grafik pe disoc'hoù bevennet pa ya un implijer da welet un danevell.</dd></dl></li>
      </ul><hr></span>
  </span>



  <span type="module" name="magicDataBrowser" ifenabled="true">
    <div task="can_view_magic_data_browser">
      <h2><a href="magicDataBrowser/show" class="searchRecords">Mont a-dreuz Magic Data</a></h2>
      <p>
	Mont a-dreuz ar roadennoù kefluniañ implijet gant ar reizhiad.
      </p>
      <hr></div>
  </span>


  <span type="module" name="SVS" ifenabled="true">
    <div task="SVS_allow_RetreieveValueSet">
      <h2><a href="SVS/config" class="searchRecords">Shared Value Sets</a></h2>
      <p>
	Download or configure Shared Value Sets for exchanging meta-data between components of your health information system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd_cache" ifenabled="true">
    <div task="csd_cache_admin">
      <h2><a href="csd_cache" class="searchRecords">Care Services Discovery</a></h2>
      <p>
	Adminster Caches for Care Services Discovery (CSD) export of data
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd-infoman-storage" ifenabled="true">
    <div role="admin">
      <h2><a href="remote_directory_selector/edit" class="searchRecords"> InterLinked Health Worker Registry</a></h2>
      <p>
	Set connection details for connecting with a Care Services Discovery (CSD) compliant InterLinked Health Worker Registry.
      </p>
      <hr></div>
  </span>





  <span type="module" name="tasks-roles" ifenabled="true">
    <div task="tasks_and_roles_can_access">
      <h2><a href="tasks-roles" class="adminDatabase">Trevelloù ha rolloù</a></h2>
      <p>
	Merañ an trevelloù hag ar rolloù evit ar reizhiad
      </p>
      
      <hr></div>
  </span>


  <span type="module" name="localeSelector" ifenabled="true">
    <div task="locales_can_edit_site_locale">
      <h2><a href="localeSelector/edit" class="adminDatabase">Merañ an dibaboù rannvroel</a></h2>
      <p>
	Merañ an dibaboù rannvroel a c'haller kaout gant ar reizhiad
      </p>
      <hr></div>      
  </span>



  <span type="module" name="BackgroundProcess" ifenabled="true">
    <div task="can_view_background_processes">
      <h2><a href="BackgroundProcess" class="searchRecords">Argerzh drekleur</a></h2>
      <p>
	Sellet an argerzhioù drekleur ho peus loc'het
      </p>
      <hr></div>
  </span>


  <span type="module" name="formBrowser" ifenabled="true">
    <div task="can_view_form_browser">
      <h2><a href="formBrowser/showForm" class="searchRecords">Mont a-dreuz ar furmskridoù</a></h2>
      <p>
	Mont a-dreuz ar furmskridoù implijet gant ar reizhiad
      </p>
      <hr></div>
  </span>

  <span type="module" ifenabled="true" name="DHIS_Metadata">
    <div role="admin">
      <h2><a href="dhis_metadata">Merañ ar metaroadennoù DHIS2</a></h2>
      <p>
	Ezporzhiañ <a href="http://dhis2.org">DHIS2</a> MetaData such as organizational units and data elements.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CachedForms" ifenabled="true">
    <div task="cached_forms_can_administer">
      <h2><a href="CachedForms" class="adminDatabase">Fumrskridoù er grubuilh</a></h2>
      <p>
	Kontrollañ krouidigezh furmskridoù er grubuilh
      </p>
      <hr></div>
  </span>
  
  <div task="can_create_or_edit_users">

    <h2><a href="user" class="adminDatabase">Merañ an implijerien</a></h2>
    <p>
    Krouiñ, hizivaat ha diweredekaat ar c'hontoù implijer evit kreñvaat surentez moned ar reizhiad. Moned bevennet da Verour ar Reizhiad.
    </p>
      <hr></div>
  <span type="module" name="UserStatistics" ifenabled="true">
	<div task="can_view_user_statistics">
	  <h2><a href="UserStatistics" class="searchRecords">Stadegoù an implijer</a></h2>
      Gwelet ar stadegoù ebarzhiñ roadennoù evit an implijerien.
    </div>
  </span>
</div>
