<div id="siteContent">
    <h1>Merañ an diaz roadennoù</h1>

    <span type="module" ifenabled="true" name="Person">    
	  <h3>Rolloù demografek</h3>
	  <ul><li><a href="lists?type=id_type">Doare anaout</a></li>
	    <li><a href="lists?type=marital_status">Statud dimeziñ</a></li>
	  </ul></span>
    <span type="module" ifenabled="true" name="Geography">    
      <h3>Titouroù douaroniel</h3>
      <ul><li><a href="lists?type=country">Bro</a></li>
        <li><a href="lists?type=region">Rannvro</a></li>
        <li><a href="lists?type=district">Distrig</a></li>
        <li><a href="lists?type=county">Kontelezh</a></li>
        <span type="module" ifenabled="true" name="Currency">    
          <li><a href="lists?type=currency">Teulenn</a></li>
        </span>
      </ul></span>
    <h3>Titouroù ouzhpenn</h3>
    <ul><span type="module" ifenabled="true" name="simple-competency">	
	  <li><a href="lists?type=competency_type">Seurt barregezh</a></li>
	  <li><a href="lists?type=competency&amp;field=competency_type">Barregezh</a></li>
    </span>
    <span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Kentel Stummadur dibaouez</a></li>
    </span>
    <span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Ensavadur stummañ</a></li>
	  <li><a href="lists?type=training_funder">Pourvezer-arc'hant ar stummadur</a></li>
    </span>
    </ul><span role="admin">
      <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
        <h2>Dilemel a-vras</h2>
        <ul><li><a href="delete_by_search">Dre zen (pajenn enklask)</a></li>
        </ul></span>
    </span>
</div>
