<ul><li id="menuLists" task="can_edit_database_lists"><a href="lists">Merañ an diaz roadennoù</a></li>
	<span type="module" name="admin" ifenabled="true">
	  <li id="menuConfigureModules" task="can_configure_modules"><a href="admin/modules">Kefluniañ ar modulennoù</a></li>
	</span>
	<span type="module" name="CustomReports" ifenabled="true" task="custom_reports_can_edit_reportViews">
	  <li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">Darempredoù etre ar furmskridoù</a></li>
	  <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">Danevelloù</a></li>
	  <li task="custom_reports_can_edit_reportViews"><a href="CustomReports/edit/reportViews">Diskwel an danevelloù</a></li>
	</span>
	<span type="module" name="magicDataBrowser" ifenabled="true">
	  <li id="menuBrowseMagicData" task="can_view_magic_data_browser"><a href="magicDataBrowser/show">Mont a-dreuz Magic Data</a></li>
	</span>
	<span type="module" name="tasks-roles" ifenabled="true">
	  <li task="tasks_and_roles_can_access" id="tasks-roles"><a href="tasks-roles/">Rolloù an trevelloù</a></li>
	</span>
	<span type="module" name="localeSelector" ifenabled="true">
	  <li id="menuLocaleSelector" task="locales_can_edit_site_locale"><a href="localeSelector/edit">Merañ an dibaboù rannvroel</a></li>
	</span>
	<span type="module" name="BackgroundProcess" ifenabled="true">
	  <li id="menuBackgroundProcess" task="can_view_background_processes"><a href="BackgroundProcess">Argerzh drekleur</a></li>
	</span>
	<span type="module" name="formBrowser" ifenabled="true">
	  <li id="menuFormBrowser" task="can_view_form_browser"><a href="formBrowser/showForm">Mont a-dreuz ar furmskridoù</a></li>
	</span>
	<span type="module" ifenabled="true" name="DHIS_Metadata">
	  <li role="admin"><a href="dhis_metadata">Merañ ar metaroadennoù DHIS2</a></li>
	</span>
	<span type="module" name="CachedForms" ifenabled="true">
	  <li id="menuCachedForms" task="cached_forms_can_administer"><a href="CachedForms">Fumrskridoù er grubuilh</a></li>
	</span>
	<li id="menuUser" task="can_create_or_edit_users"><a href="user">Merañ an implijerien</a></li>
  <span type="module" name="UserStatistics" ifenabled="true">
	  <li id="menuUserStatistics" task="can_view_user_statistics"><a href="UserStatistics">Stadegoù an implijer</a></li>
  </span>

</ul>