<div id="list_display" class="recordsData">
	
	<div class="editRecord">
	<p>Aozañ an titour-mañ</p>
		<ul><li id="list_edit_link_node"><a name="list_edit_link" href="lists">Hizivaat an titour-mañ</a></li>
      <li id="list_view_link_node"><a name="list_view_link" href="lists">Diuzañ unan all <span name="type_name"></span></a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2"><span name="type_name"></span></th>
		</tr><span type="form" name="name" showhead="default"></span>
		<span type="form" name="code" showhead="default"></span>
		<span type="form" name="dhis_uid" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
