<div id="search_content">
  <p><strong>VAROVÁNÍ:</strong> Toto smaže všechny zadané záznamy osob a také všechny záznamy pozic přidělených k této osobě. Tyto data nelze automaticky obnovit a musíte se ujistit, že máte zálohu svých dat.</p>
  <h2>Seznam lidí</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm"><ul id="search_list"></ul><div id="additional_form"></div>
    <input type="submit" value="Continue" class="button"></form>
</div>
