<div class="recordsData" >
  <h3>
    <span name='child_form_title'/>
  </h3>
  <p class="editRecordsData" name='child_form_action_links'>
    <a href="#" name='hide_data_container' class="hide" title="Hide">Hide</a>
  </p>
  <div name='data_container'>
    <span name='has_edit_links' ifset='true'>
      <div class="editRecord" >
	<p>Edit This Information</p>
	<ul name='child_form_edit_links'>
	</ul>
      </div> <!-- editRecord -->
    </span>
    
    <span name='has_field_data' ifset='true'>
      <div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <th colspan="2"><span name='child_form_display_name'/></th>
	  </tr>
	  <tbody name='child_form_fields'/>
	</table>
      </div> <!-- dataTable -->
    </span>
  </div>
  <br style="clear: both;" />

</div>
