<div class="recordsData" >
  <h1>
    <span name='form_title'/>
  </h1>
  <h2>
    <span name='form_subtitle'/>
  </h2>

  <span name='form_navigation'>
    <ul name='form_navigation_links'>
    </ul>
  </span>
  
  <span class='form_content'>
    <div name='data_container'>
      
      <div class="dataTable wide">
	<table border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <th colspan="2">
	      <span name='form_display_name'/>

	      <span  name='form_action' class='dropdown pull-right'>
		<a href='#' class='dropdown-toggle edit_icon '  >Edit &amp; Options <b class="caret "></b></a>
		<ul name='form_action_links' class='dropdown-menu'>
		</ul>
	      </span> 

	    </th>
	  </tr>
	  <tbody name='form_fields'/>
	</table>
      </div> <!-- dataTable -->
    </div>
    <br style="clear: both;" />
    <div id='child_forms'/>
  </span>

</div>
