<div class="recordsData" >
    <div class="editRecord" >
      <ul name='form_edit_links'>
      </ul>
    </div> <!-- editRecord -->
    
    <div class="dataTable">
      <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0" name='pager_results'>
	<tr>
	  <td colspan='2'>
	    <div style='float:right' class='pager_display' name='pager_display'>
	    </div>
	  </td>
	</tr>
	<tr>
	  <th colspan="2">  <span name='link_title'/></th>
	</tr>
	<tbody name="link_fields"/>
	<tr class="submitCell">
	  <td colspan="2">
            <div id="button" />
	  </td>
	</tr>
      </table>
    </div>
  <br style="clear: both;" />

</div>
