<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Vítejte</h1>
<p>
<strong>iHRIS Qualify</strong> je systém pro sledování výuky, licencování a certifikace zdravotnických pracovníků. Systém umožňuje certifikačnímu nebo licenčnímu úřadu kádru zdravotnických pracovníků, jako např. sester, nebo doktorů, sledovat data v dokončeném kádru v zemi od vzdělání po oslabování. iHRIS Qualify je volný Open Source software , který vyvíjí <a href="http://www.capacityproject.org">The Capacity Project</a>, inovativní globální iniciativa na pomoc rozvojovým zemím postavit a udržet pracovní síly ve zdravotnictví.
</p>
</div><!-- /welcomeIntro -->
