<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1><span printf="'Vítejte, %s',ihris-common-&gt;getUserNames()"></span></h1>
<p>
Abyste začali používat iHRIS Qualify, klikněte prosím na jednu z možností níže. Na tuto stránku se můžete kdykoliv vrátit kliknutím na tlačítko Domů v liště výše. Pokud potřebujete pomoci s jakoukoli funkcí, klikněte na tlačítko Nápověda. Doporučujeme Vám, abyste zaslali jakékoli chyby, které naleznete, návrhy na zlepšení nebo další funkce a všechny ostatní zpětné vazby, které máte pro tento software; kdykoliv nás kontaktujte kliknutím na tlačítko zpětné vazby nebo navštívením <a href="http://www.capacityproject.org/hris/">Stránky HRIS Strengthening</a>.
</p>
</div><!-- /welcomeIntro -->
