<div id="list_display" task="can_view_database_list_training_course_requestor">
	
	<div class="editRecord">
	<p>Cheñch an titour-mañ</p>
		<ul><li task="can_edit_database_list_training_course_requestor"><span type="form" name="training_course_requestor:id" href="lists?type=training_course_requestor&amp;id=">Hizivaat an titour-mañ </span></li>
			<li><a href="lists?type=training_course_requestor">Dibab un den all goulennet kentelioù stummañ gantañ</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Goulenner kentelioù stummañ</th>
		</tr><span type="form" name="training_course_requestor:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
