<div id="button">
    <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
      <tr class="messageCell">
        <td class="required_field">* - Required Field</td>
      </tr>
    <tr>
        <td>	
	  <span onclick='I2CE_SubmitButton(this,"submit_type","confirm");' class="button">Confirm</span>
	</td>
    </tr>
    <tr>
        <td style="text-align: left; padding: 5px;"><a id='button_return' href="user" class="button">return (do not save changes)</a></td>
    </tr>
    </table>
</div>
