<div id="siteContent">
  <div class="recordsData">
    <h3>User Information</h3>
    <div task="users_can_edit">
      <div class="editRecord">
        <p>Edit This Information</p>
        <ul id="user_edit_links">
          <li><span type="form" name="user:username" href="user?username=">Update This Information</span></li>
          <li><a href="user">Select another User</a></li>
          <hr />
        </ul>
      </div> <!-- editRecord -->

      <div class="dataTable">
        <table id="user_information">
        </table>
      </div>
    </div>

    <br style="clear: both;" />
  </div>
  <div id="user_child_forms"></div>
  <div id="user_details"></div>
</div>
