<div id="search_content">
  <p><strong>ATTENTION:</strong> Cela supprimera tous les enregistrements de personne fournis ainsi que tous les enregistrements de positions actuels associés à ces personnes. Ces données ne peuvent pas être récupérées automatiquement et vous devez vous assurer de sauvegarder vos données avant de le faire.</p>
  <h2>Liste des personnes</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm"><ul id="search_list"></ul><div id="additional_form"></div>
    <input type="submit" value="Continue" class="button"></form>
</div>
