<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">個人情報</a></li>
	<span type="module" name="PersonContact" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">連絡先情報</a></li>
	</span>
	<li><a href="#jump_qualification" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">資格</a></li>
	<span type="module" name="PersonEmployment" ifenabled="true">
	  <li><a href="#jump_employment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">雇用履歴</a></li>
	</span>
	<span type="module" name="PersonEducation" ifenabled="true">
	  <li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">学業履歴</a></li>
	</span>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">注釈</a></li>
</ul>