<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Bienvenido/a</h1>
<p>
<strong>iHRIS Qualify</strong> es un sistema de educación, licenciamiento, y seguimiento de certificación. El sistema permite a una autoridad de licenciamiento o certificación de puestos trabajo de salud, tal como enfermeros/as o médicos/as, hacer un seguimiento de datos en todos los puestos de trabajo en un país, desde el entrenamiento pre-profesional hasta el final. iHRIS Qualify es libre y de Código Abierto. Es una solución de software desarrollada por <a href="http://www.capacityproject.org">El Proyecto Capacidad</a>, un innovador iniciativa global para ayudar a países en vías de desarrollo a construir y mantener al personal sanitario
</p>
</div><!-- /welcomeIntro -->
