<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1><span printf="'Bienvenido/a, %s',ihris-common-&gt;getUserNames()"></span></h1>
<p>
Para empezar a usar iHRIS Qualify, por favor haga click en una de las opciones. Vuelva a esta página en cualquier momento haciendo click en el botón de Inicio de la barra superior. Si necesita ayuda con una función, haga click en el botón de ayuda. Lo invitamos a enviarnos cualquier error que encuentre, sugerencias para mejoras o funciones adicionales, y cualquier otro tipo de comentario que tenga acerca de este software; contáctese con nosotros en cualquier momento haciendo click en el botón de contacto o visitando el <a href="http://www.capacityproject.org/hris/">HRIS Fortaleciendo la Web</a>.
</p>
</div><!-- /welcomeIntro -->
