<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Willkommen</h1>
<p>
<strong>iHRIS Qualify</strong> ist ein System zum Nachvollziehen von Schulungen, Lizenzierungen und Zertifizierungen von Angestellten im Gesundheitssektor. Dieses System macht eine Gesundheitskammer möglich, die das Personal im Gesundheitssektor, wie bspw. Krankenpfleger oder Ärzte, Lizenzieren und Zertifizieren kann. Auch das Nachvollziehen von Daten zum Personal, von vorbereitenden Schulungen bis zu natürlicher Fluktuation, ist möglich. iHRIS ist eine Freie, Open-Source-Software, entwickelt von: <a href="http://www.capacityproject.org">„The Capacity Project“</a>, , ist eine innovative und globale Initiative, die Entwicklungsländern bei Aufbau und Stärkung ihrer Arbeitskräfte des Gesundheitswesens unterstützen soll.
</p>
</div><!-- /welcomeIntro -->
