<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1><span printf="'Herzlich willkommen, %s',ihris-common-&gt;getUserNames()"></span></h1>
<p>
Um iHRIS Qualify zu nutzen, wähle bitte eine der unten auf dieser Seite vorhandenen Möglichkeiten aus. Zu dieser Seite kannst Du jederzeit zurückkehren, indem Du die Schaltfläche „Startseite“ in der Menüleiste oben anklickst. Sofern Du Hilfe bezüglich einer Funktion benötigst, klicke auf die Schaltfläche „Hilfe“. Wir empfehlen Dir, uns über jeden Fehler der Software zu informieren, uns Vorschläge für Verbesserungen oder zusätzliche Funktionen zu senden, sowie uns Rückmeldungen zu dieser Software zu geben. Kontaktieren kannst Du uns jederzeit, indem Du auf die Schaltfläche „Rückmeldungen“ klickst oder die folgende Website besuchst: <a href="http://www.capacityproject.org/hris/">Website HRIS Strengthening</a>.
</p>
</div><!-- /welcomeIntro -->
