<div id="list_display">

    <div class="editRecord">
        <p>编辑此信息</p>
        <ul><li task="can_edit_database_list_dataelement"><span type="form" name="dataelement:id" href="lists?type=dataelement&amp;id=">更新此信息</span></li>
            <li><a href="lists?type=dataelement">选择另一个数据元素</a></li>
        </ul></div> <!-- editRecord -->

    <div class="dataTable">
        <table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">数据元素</th>
            </tr><span type="form" name="dataelement:name" showhead="default"></span>
            <span type="form" name="dataelement:shortname" showhead="default"></span>
            <span type="form" name="dataelement:dataelement_code" showhead="default" class="even"></span>
            <span type="form" name="dataelement:dataset" showhead="default" addlink="lists?type=dataset&amp;add=1"></span>
        </table></div> <!-- dataTable -->

</div> <!-- list_display -->
