<div id="siteContent">
    <h1>Datenbank verwalten</h1>

    <h3>Lizenzlisten</h3>
    <ul><li><a href="lists?type=qualification">Qualifikation</a></li>    	
    	<li><a href="lists?type=cadre">Kader</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Weiterbildungskurs</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Art der Disziplinarmaßnahme</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Grund für die Disziplinarmaßnahme</a></li>
       	<li><a href="lists?type=out_migration_reason">Auswanderungsgrund</a></li>
    	<li><a href="lists?type=training_disruption_category">Kategorie der Ausbildungsunterbrechung</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Grund der Übungsunterbrechung</a></li>
    </ul><h3>Demographische Listen</h3>
    <ul><li><a href="lists?type=academic_level">Ausbildungslevel</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Zertifikat</a></li>
    	<li><a href="lists?type=id_type">Art der Identifikation</a></li>
    	<li><a href="lists?type=marital_status">Personenstand</a></li>
    </ul><h3>Ortslisten</h3>
    <ul><li><a href="lists?type=country">Staat</a></li>
    	<li><a href="lists?type=region&amp;field=country">Region</a></li>
    	<li><a href="lists?type=district&amp;field=region">Bezirk</a></li>
    	<li><a href="lists?type=county&amp;field=district">Kreis</a></li>
    </ul><h3>Einrichtungslisten</h3>
    <ul><li><a href="lists?type=health_facility">medizinische Versorgungseinrichtung</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Schulungseinrichtung</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Einrichtungsleiter</a></li>
    	<li><a href="lists?type=facility_type">Art der Einrichtung</a></li>
    	<li><a href="lists?type=facility_status">Einrichtungsstatus</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3>Administrative Liste</h3>
    <ul><li><a href="lists?type=verify_change">Datensatzüberprüfungsänderungen</a></li>
    </ul></span>
    
</div>
