<div id="siteContent">
  <form id="form1" method="post" action="login">
  <table border="0" cellspacing="0" cellpadding="0" class="loginTable"><tr><td colspan="2"><h2>Bitte anmelden</h2>
        <span style="font-size: 12px;">Gib deinen Benutzernamen und dein Passwort ein.</span>
        <hr><span id="error_message" name="error_message"></span></td>
    </tr><tr><th>Benutzername:</th>
      <th>Passwort:</th>
    </tr><tr><td><input type="text" name="username"></td>
      <td><input type="password" name="password"></td>
    </tr><tr><td colspan="2">
      <input type="submit" value="Login" name="submit" class="button"><span class="forgot"><a href="forgot">Benutzername oder Passwort vergessen?</a></span></td>
    </tr></table></form>
  <span type="module" name="QualifySelfServiceRegister" ifenabled="true">
    <h2>Selbstregistrierung</h2>
    <span type="module" name="SelfService" if="canSelfRegister()"><a href="SelfService/register">Registrieren</a></span>
  </span>

</div>

