<ul><li><a href="#jump_training" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Übungsangaben</a></li>
	<li><a href="#jump_registration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Registrierung</a></li>
	<li><a href="#jump_license" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Lizenzangaben</a></li>
	<li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Weiterführende Ausbildung</a></li>
	<li><a href="#jump_ppractice" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">private Übung</a></li>
	<li><a href="#jump_disciplinary" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Disziplinaranmerkungen</a></li>
	<li><span type="form" name="person:id" href="view?id=">Zur Person zurückkehren</span></li>
</ul>