<div id="siteContent">
  <h1>Адміністрування ролей</h1>
  <h2>Існуючі ролі</h2>
  <ul id="role_list"></ul><form method="post" action="tasks-roles/roles" id="add_user_role">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><th colspan="2">
	  Додати нову роль
	</th>
      </tr><tr><td>
	  <label>Коротке ім'я ролі:</label> Коротке ім'я, що складається з букв, цифр,-,. і _, та використовується, щоб посилатися на роль у сторінках і шаблонах.
	</td>
	<td>
	  <input type="text" id="role_short_name" name="role_short_name" class="validate=[notinlist,nonempty,magicdatakey]"></td>
      </tr><tr><td>
	  <label>Показуване ім'я ролі:</label> Показуване ім'я для цієї ролі, яке відображається для кінцевих користувачів.
	</td>
	<td>
	  <input type="text" name="role_name" class="validate=[nonempty]"></td>
      </tr><tr><td colspan="2">
	  <input class="button" type="submit" value="Create"></td>
      </tr></table></form>
</div>