<div id="siteContent">
  <h1>Адміністрування ролей і завдань</h1>
  <p>
    Тут ви можете адмініструвати ролями і завданнями для системи.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Адміністрування ролей</a></h2>
      Роль використовується під час створення користувача. Вам буде призначена роль користувача. Існує особлива роль 'admin' - це роль адміністратора. Ви можете також призначити, які ролі мають усі права, що й вказана роль.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Адміністрування завдань</a></h2>
      Завдання - це конкретна дія, яка виконується системою. Ви можете призначити збірку завдань на роль. Також можна створити нове завдання, гуртуючи завдання разом
    </li>
  </ul></div>