<div dir="rtl">
  <h2 dir="rtl">التغييرات التي أدخلت على <span name="recent_name"></span> منذ: <span name="recent_date"></span></h2>
  <h3 dir="rtl">عرض التغيرات التي حصلت منذ: 
  <a name="recent_today_link" dir="rtl">اليوم</a> 
  <a name="recent_yesterday_link" dir="rtl">أمس</a>
  <a name="recent_week_link" dir="rtl">الأسبوع الماضي</a><br>
  عرض التغييرات التي تم إجراؤها  من قبل:
    <a name="recent_all_link" dir="rtl">الجميع</a>
    <a name="recent_me_link" dir="rtl">أنا</a></h3>
    
      كل ما وجد: <span name="recent_found"></span><br></div>
