<tbody><tr id="existing_user"><th colspan="2"><input type="radio" name="user_choice" value="existing" checked>Deverkañ ar gont implijer d'an den-mañ </th>
  </tr><tr id="list_fields"><td>
      <span type="form" name="user_map:username" showhead="default"></span>
    </td>
  </tr><tr id="create_user" task="users_can_edit"><th colspan="2"><input type="radio" name="user_choice" value="new">Krouiñ ur gont implijer evit an den-mañ </th>
  </tr><tr id="create_user_fields" task="users_can_edit"><td id="user_fields">
    </td>
  </tr></tbody>