<div>
  <div id="container">
    

    <h2>Eine neue Formularklasse erstellen</h2>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Name der Formularklasse</h3>Ein interner Schlüssel um die Formularklasse zu identifizieren. Dies darf nicht der selbe wie ein Schlüssel für irgendeine vorhandene Formularklasse oder PHP-Klasse sein.
	</td>
	<td>
	  <input name="name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
      </tr><tr><td>
	  <h3>Erweitert:</h3>Die Basis-Formularklasse, die diese Klasse erweitert. Sie wird die Eigenschaften der Basisklasse erben.
	</td>
	<td>
	  <select name="extends"></select></td>
      </tr></table><h2>Eine bestehende Formularklasse bearbeiten</h2>
    <ul id="form_classes"></ul></div>
</div>
