<div>
  

  <h2>Zeige Grenzen</h2>
  <div id="form_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Neues Formular</h3>Specify for a form whether or not to show limits in the report selection.
	</td>
	<td>
	  <select name="form"><option value="">Eine auswählen</option></select></td>
      </tr></table><h2>Vorhandene Formulare</h2>Formulare, bei denen bereits eingestellt ist, ob sie Grenzwerte in der Berichtsauswahl anzeigen.
    <ul class="indented" name="forms"></ul></div>
</div>
