<div>
  

  <h2>Felder der Formularklasse</h2>
  <div id="fields_container">
    <h2>Ein neues Feld erstellen</h2>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Feldname</h3>An internal key used to identify the name of field.   It may not be the same as the key for any of the existing field class.  
	</td>
	<td>
	  <input name="name" type="text" value="" class="validate=[magicdatakeyorblank,notinlist]"></td>
      </tr><tr><td>
	  <h3>Klasse des Formularfeldes</h3>Der Datentyp für dieses Feld.
	</td>
	<td>
	  <select name="formfield"></select></td>
      </tr><tr><td>
	  <h3>Standard-Kopfdaten/Bezeichnung</h3>Die Standard-Kopfzeile (oder Beschriftung) die verwendet wird, wenn dieses Feld auf einer Web-Seite angezeigt wird.
	</td>
	<td>
	  <input name="header"></td>
      </tr></table><h2>Vorhandene Felder</h2>
    <ul id="field_list" class="report_forms_list"></ul></div>
</div>  
  
  
  
	
	
