<div>
    <h2>Metadaten</h2>
  <div id="display_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Feld-Verknüpfung</h3>Durch Doppelpunkte getrennte Liste von Formularen[+Feld] um die Hierarchie zu bestimmen
	</td>
	<td>
	  <input name="fields"></td>
      </tr><tr><td>
	  <h3>Anzeigestil</h3>Die Art wie dieses Formular während der Bearbeitung angezeigt wird.
	</td>
	<td>
	  <select name="style"></select></td>
      </tr><tr><td>
	  <h3>Report Display</h3>The report used when populating data for populating drop-downs, tree views.  You should consider using this if the field linking is complicated.
	</td>
	<td>
	  <select name="display_report"><option value="">Bericht auswählen</option></select></td>
      </tr></table><span id="orders">
      <h2><a id="orders_link" href="">Reihenfolge</a></h2>
      Die Reihenfolge der Felder festlegen
      <div class="indented" id="orders_ajax"></div>
    </span>


</div>
</div>