<div>
  

  <h2>Metadaten</h2>
  <div id="meta_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td colspan="2">
	  <h3>Zuordenbare Formulare</h3>Die Formulare auswählen, auf die dieses Feld abgebildet werden kann.  
	  <ul><li> Note, for coveinence, that if none are selected, and the name of this field is the name of a form, then that form is an allowed form.</li>
	    <li>Note, as a special case, the remap field will automatically only allow mapping to the form which contains it </li>
	  </ul><div name="forms"></div>
	</td>
      </tr><tr><td>
	  <h3>Jedes Formular</h3>Erlaube jedes Formular als zugeordneter Wert ausgewählt zu werden
	</td>
	<td>
	  <select name="form_any"><option value="0">Nein</option><option value="1">Ja</option></select></td>
      </tr></table><span id="limits">
      <h2><a id="limits_link" href="">Beschränkungen</a></h2>
      Datenbegrenzung für dieses Feld bearbeiten
      <div class="indented" id="limits_ajax"></div>
    </span>

    <span id="add_limit_module">
      <h2><a id="add_limit_module_link" href="">Einschränkungen für das Modul</a></h2>
      Set dynamic limits based on modules
      <div class="indented" id="add_limit_module_ajax"></div>
    </span>



    <span id="display">
      <h2><a id="display_link" href="">Anzeigen</a></h2>
      Verschiedene Darstellungsoptionen für dieses Feld einrichten
      <div class="indented" id="display_ajax"></div>
    </span>


  </div>
</div>
