<div>
  

  <h2>Formularoptionen</h2>
  <div id="container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Formularklasse</h3>Die Klasse auswählen, die dieses Formular erweitert.
	</td>
	<td>
	  <select name="class"></select></td>
      </tr><tr><td>
	  <h3>Anzeigename</h3>Display name for this form
	</td>
	<td>
	  <input name="display"></td>
      </tr><tr><td>
	  <h3>Speicher</h3>
	</td>
	<td>
	  <b><span name="storage"></span></b> <br>To prevent accidental data loss, changing of the form storage mechanism by this user interface is diabled for now.
	</td>
      </tr></table><span id="meta">
      <h2><a id="meta_link" href="">Metadaten</a></h2>
      Set meta data about this form
      <div class="indented" id="meta_ajax"></div>
    </span>    
    
    <span id="storage_options">
      <h2><a id="storage_options_link" href="">Form Storage Options</a></h2>
      Set form storage options for this form
      <div class="indented" id="storage_options_ajax"></div>
    </span>



  </div>
</div>
