Source: textlayout
Maintainer: Carl Leitner <litlfred@ibiblio.org>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 10)
Homepage: http://launchpad.net/textlayout


Package: textlayout
Architecture: all
Depends: i2ce
Recommends: 
Description: iHRIS TextLayout Library
 iHRIS PHP library to perform text layout/word wrapping based on font metrics.
