<div>
  <h2>Aktueller DHIS-Metadatenexport<h2>  
  <ul><li>Dateigröße: <span name="dhis_export_filesize"></span></li>
    <li><a href="lists?type=dhis_orgunit">Organisationseinheiten</a></li>
    <li><a href="lists?type=dhis_data_element">Datenelemente</a></li>
  </ul><h2>Versand DHIS-Metadatenexport</h2>
  <div id="error_messages"></div>
  </h2></h2><form method="POST" enctype="multipart/form-data">
    <label for="dhisexport">DHIS-Metadaten-Export:</label>
    <input type="file" name="dhisexport"><input type="submit" value="Upload"></form>
  
</div>
