<tbody id="training_form">
<tr>
    <th colspan="2">Registration Information</th>
</tr>
<tr id="list_fields">
	<td>
	   	<span type="form" name="registration:registration_number" showhead="default" ></span>
	   	<span type="form" name="registration:application_date" showhead="default"></span>
	   	<span type="form" name="registration:receipt_number" showhead="default"></span>
	   	<span type="form" name="registration:serial_number" showhead="default"></span>
	</td><td>
	   	<span type="form" name="registration:registration_date" showhead="default"></span>
	   	<span type="form" name="registration:cadre" showhead="default"></span>
	   	<span type="form" name="registration:practice_type" showhead="default"></span>
    </td>
</tr>
</tbody>
