<div id="siteContent">
<br style="clear: both;" />
<div role='records'>
<h2><a href="person" class="updateRecords">Add Person</a></h2>
<p>
Add a new record for a student or health professional. For a record, update 
contact and personal information; add details of training programs in progress 
or completed; record exam applications and results; issue registrations, 
licenses and license renewals; and record private practice licenses, out migration 
verification requests, disciplinary actions and deployments.
</p>

<hr />
</div>
<span type='module' name='PrivateFacility' ifenabled='true'>
<div role='records'>
<h2><a href="privatefacility" class="updateRecords">Add Private Facility</a></h2>
<p>
Add a new record for a private health Unit. For a record, update 
contact and health unit information; record the services provided; and issue registrations, 
licenses and license renewals.
</p>

<hr />
</div>
</span>

<div role='records|decision_maker'>
<h2><a href="search" class="searchRecords">Search Records</a></h2>
<p>
Locate any person's record in the system to review, print or update.
</p>
    <hr />
</div>


<span type='module' name='report' ifenabled='true'>
  <div role='manager|decision_maker'>
    
    <h2><a href="report" class="createRecords">View Reports</a></h2>
    <p>
      Reports enable analysis of human resource data in various ways. Customize, 
      display and print lists of health workers or students, statistical charts and 
      other standard reports. Access is limited to Data Operations Managers and 
      Decision Makers.
    </p>
    <hr />
  </div>
</span>


<span type='module' name='CustomReports' ifenabled='true'>
  <div role='manager|decision_maker'>
    
    <h2><a href="CustomReports/view/reportViews" class="createRecords">Create Reports</a></h2>
    <p>
      Reports enable analysis of human resource data in various ways. Customize, 
      display and print lists of health workers or students, statistical charts and 
      other standard reports. Access is limited to Data Operations Managers and 
      Decision Makers.
    </p>
<hr />
  </div>
</span>


<div role='manager'>

<h2><a href="configure" class="adminDatabase">Configure System</a></h2>
<p>
Configure modules, manage the database and create or update user accounts.
</p>
<hr />
</div>



<h2><a href="password">Change Password</a></h2>

</div>
