<ul>
	<li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Individual Information</a></li>
	<span name='PersonContact' type='moduled' ifenabled='true'>
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Contact Information</a></li>
	</span>
	<li><a href="#jump_training" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Training Information</a></li>
	<li><a href="#jump_deployment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Deployment</a></li>
	<li><a href="#jump_out_migration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Out Migration</a></li>
    <span type='module' name='PersonNotes' ifenabled='true'>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Notes</a></li>
    </span>
    <span type='module' name='RecordVerify' ifenabled='true'>
       <li><a href="#jump_record_verify" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Record Verification</a></li>
    </span>
</ul>
