<div id="siteInnerWrap">

<div id="navBar">
<ul id="navBarUL">
	<li id="menuPerson" role='records'><a href="person">Add Person</a></li>
	<span type='module' name='PrivateFacility' ifenabled='true'>
	    <li id="menuPerson" role='records'><a href="privatefacility">Add Private Health Facility</a></li>
	</span>
	<li id="menuSearch" role='records|decision_maker'><a href="search">Search Records</a></li>
	<span type='module' name='report' ifenabled='true'>
	  <li id="menuReport" role='manager|decision_maker'><a href="report">View Reports</a></li>
	</span>
	<span type='module' name='CustomReports' ifenabled='true'>
	  <li id="menuCustomReports" role='manager|decision_maker'><a href="CustomReports/view/reportViews">Create Reports</a></li>
	</span>
	<li id="menuConfigure" role='manager'><a href="configure">Configure System</a></li>
	<li id="menuPassword" role='any'><a href="password">Change Password</a></li>
</ul>
</div>

<div id="siteContent" />

	<br style="clear: both;" />

</div><!-- /siteInnerWrap -->
