<div>
    <div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='records'><span type="form" ifset="education:id" name="education:id" href="education?id=" parent="true" >Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Education Information</th>
		</tr>
   	<span type="form" name="education:sec_school" showhead="default"></span>
   	<span type="form" name="education:academic_level" showhead="default" class="even"></span>
   	<span type="form" name="education:certificate" showhead="default"></span>
	<span type="form" name="education:grade" showhead="default" class="even"></span>
	<span type="form" name="education:certificate_number" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div>
