<div id="siteContent">
    <h1>Módulos Disponíveis</h1>
    Você poderá selecionar aqui os módulos para ativar ou desativar marcando ou desmarcando as caixinhas e pressionando <i>Ativar</i> cujo botão se encontra na parte inferior da página . Você poderá também configurar determinados módulos discclicando no <i>Configurar</i> link associado aos mesmos, caso exista. Alguns módulos também possuem sub-módulos associados aos mesmos que podem ser acedidos clicando sobre os
    <i>sub-módulos</i> link or on the down-pointing arrow if present.
    <br><br><a href="admin/modules">Menú Principal do Módulo</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
