<div id="siteContent">
    <h1>Beschikbare modules</h1>
    Hier kunt u de modules selecteren die u wilt inschakelen of uitschakelen door te klikken op de selectievakjes en daarna te klikken op de <i>Inschakelen</i> knop onderaan de pagina. U kunt ook module instellen door te klikken op de <i>Instellen</i> koppeling naar de module als die beschikbaar is. Een aantal modules hebben ook submodules die bereikbaar zijn door de klikken op de koppeling
    <i>submoduls</i> koppeling of op de naar beneden wijzende pijl als die beschikbaar is.
    <br><br><a href="admin/modules">Modulemenu</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
