<tbody>
  <tr id='existing_user'>
    <th colspan="2"><input type="radio" name="user_choice" value="existing" checked='checked'/>Assign User Account to this Person </th>
  </tr>
  <tr id="list_fields">
    <td>
      <span type="form" name="user_map:username" showhead="default"></span>
    </td>
  </tr>
  <tr id='create_user' task="users_can_edit">
    <th colspan="2"><input type="radio" name="user_choice" value="new" />Create User Account for this Person </th>
  </tr>
  <tr id='create_user_fields' task="users_can_edit">
    <td id="user_fields">
    </td>
  </tr>

</tbody>
