<div task='person_can_view_child_form_user_map'>  
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_user_map'>
	<span type="form" ifset="user_map:id" name="user_map:id" href="SelfService/userAccount?id=" parent='true' >
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
	<tr>
	  <th colspan="2">Self-Service User Account</th>
	</tr>
	<span type="form" name="user_map:username" showhead="default"  ></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>
