div#dashboard_report_list div.dashboard_report {
    display: inline-flex;
    padding: 5px;
}
div#dashboard_error {
    background-color: #FF9999;
    color: #330000;
    border: thin solid #330000;
}
div.dashboard_report div#report h2 {
    display: inline;
    font-weight: bold;
    font-size: 1.4em;
}
div.dashboard_report div#report h2 a {
    background-image: none;
    padding: 0px;
}
div.dashboard_report div#report p {
    display: none;
}
div.dashboard_report div#report form div div#report_resize input.button {
    border-size: 1px;
    padding: 0px;
}
