<div id="siteContent">
    <h1 dir="rtl">ਤੱਥ-ਅਧਾਰ ਦਾ ਪ੍ਰਬੰਧ ਕਰੋ</h1>

    <span type="module" ifenabled="true" name="Person">    
	  <h3 dir="rtl">ਲੋਕ-ਅੰਕੜਾ ਸੂਚੀਆਂ</h3>
	  <ul><li><a href="lists?type=id_type" dir="rtl">ਸ਼ਨਾਖ਼ਤ ਦੀ ਕਿਸਮ</a></li>
	    <li><a href="lists?type=marital_status" dir="rtl">ਵਿਆਹੁਤਾ ਹਾਲਤ</a></li>
	  </ul></span>
    <span type="module" ifenabled="true" name="Geography">    
      <h3 dir="rtl">ਭੂਗੋਲਕ ਜਾਣਕਾਰੀ</h3>
      <ul><li><a href="lists?type=country" dir="rtl">ਮੁਲਕ</a></li>
        <li><a href="lists?type=region" dir="rtl">ਇਲਾਕਾ</a></li>
        <li><a href="lists?type=district" dir="rtl">ਜ਼ਿਲ੍ਹਾ</a></li>
        <li><a href="lists?type=county" dir="rtl">ਕਾਊਂਟੀ</a></li>
        <span type="module" ifenabled="true" name="Currency">    
          <li><a href="lists?type=currency" dir="rtl">ਮੁੱਦਰਾ</a></li>
        </span>
      </ul></span>
    <h3 dir="rtl">ਵਾਧੂ ਜਾਣਕਾਰੀ</h3>
    <ul><span type="module" ifenabled="true" name="simple-competency">	
	  <li><a href="lists?type=competency_type" dir="rtl">ਯੋਗਤਾ ਦੀ ਕਿਸਮ</a></li>
	  <li><a href="lists?type=competency&amp;field=competency_type" dir="rtl">ਯੋਗਤਾ</a></li>
    </span>
    <span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course" dir="rtl">ਚਾਲੂ ਸਿੱਖਿਅਕ ਪਾਠ-ਤਰਤੀਬ</a></li>
    </span>
    <span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution" dir="rtl">ਸਿਖਲਾਈ ਅਦਾਰਾ</a></li>
	  <li><a href="lists?type=training_funder" dir="rtl">ਸਿਖਲਾਈ ਸਰਮਾਏਦਾਰ</a></li>
    </span>
    </ul><span role="admin">
      <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
        <h2 dir="rtl">ਇਕੱਠੀ ਮਿਟਾਈ</h2>
        <ul><li><a href="delete_by_search" dir="rtl">ਸ਼ਖ਼ਸ ਮੁਤਾਬਕ (ਸਫ਼ਾ ਭਾਲ਼ੋ)</a></li>
        </ul></span>
    </span>
</div>
