<div id="siteContent">
  <h1 class='header'>Evaluate a Person's Competencies for a Training Course</h1>
  <h2><span type='form' name='person:surname' noedit="true"/>,<span type='form' name='person:firstname' noedit="true"/></h2>
  <div id="error" />
  <form method="post" action="training-course/evaluate-competencies">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
      <span type='form' name='person_scheduled_training_course:id' />
      <tr>
	<th colspan="2"><span name="type_name">Competencies</span></th>
      </tr>
    </table>
    <div id="list_evaluations">
      
    </div>

    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
    <tr class="submitCell">
	<td colspan="2">
	  <div id="button" />
	</td>
    </tr>
    </table>

  </form>

</div>