<div id="list_display">
  <div class="editRecord">
    <p>Editar esta información</p>
    <ul><li>
	<a href="lists?type=scheduled_training_course&amp;field=training_course">Seleccionar otro curso</a>
      </li>
      <li task="can_edit_scheduled_training_course">
	<span type="form" name="scheduled_training_course:id" href="lists?type=scheduled_training_course&amp;id=">Actualizar esta información</span>
      </li>
      <li task="can_edit_scheduled_training_course">
	<span type="form" name="scheduled_training_course:id" href="editstudents?id=">Añadir/Quitar estudiantes</span>
      </li>
      <li>
        <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;id=">Descripción del curso</span>
      </li>
      <li task="can_edit_scheduled_training_course">
        <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=participants_compact&amp;id=">Gestionar todos los resultados del examen de estudiante</span>
      </li>

      <li>
        <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=prepost&amp;id=">Pre/Post resumen de la prueba</span>
      </li>
      <li>
        <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=mods&amp;id=">Módulos del curso</span>
      </li>
      <li>
        <span type="form" name="scheduled_training_course:id" href="studentparticipants?id=">Reporte de participación de estudiante</span>
      </li>
      <li>
        <span type="form" name="scheduled_training_course:id" href="studentcertificates?id=">Certificados de capacitación</span>
      </li>
    </ul></div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Curso programado</th>
      </tr><tr><td colspan="2">
	  <span id="participant_list">
	    <span type="form" name="scheduled_training_course-&gt;enrolledStudentsList()"></span>
	  </span>
	</td>	
      </tr></table></div> <!-- dataTable -->
</div> <!-- list_display -->
