<div id="list_display">
	
	<div class="editRecord">
	<p dir="rtl">تعديل هذه المعلومة</p>
		<ul><li role="manager"><span type="form" name="verify_change:id" href="lists?type=verify_change&amp;id=" dir="rtl">تحديث هذه المعلومة</span></li>
			<li role="manager"><a href="lists?type=verify_change" dir="rtl">حدد تدقيق في تغيير آخر</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="verify_change"><tr><th colspan="2" dir="rtl">تدقيق التغيير</th>
		</tr><span type="form" name="verify_change:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
