<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1 dir="rtl">ترحيب</h1>
<p dir="rtl">
<strong dir="rtl">iHRIS المؤهل</strong> هونظام تتبع  تدريب العاملين الصحيين، ومنح التراخيص والشهادات . ويمكن هذا النظام لمنح التراخيص أو سلطة التصديق لصحة إطار عامل، مثل الممرضات أو الأطباء. iHRIس هو برنامج لحلول البرمجيات تم انتاجه من <a href="http://www.capacityproject.org" dir="rtl">بناء القدرات للمشروع</a>, مبادرة مبتكرة عالمية لمساعدة البلدان النامية على بناء وتعزيز القوى العاملة الصحية.
</p>
</div><!-- /welcomeIntro -->
