<div id="siteContent">
  <h1>Administrar funções e atividades</h1>
  <p>
    Aqui você pode administrar as funções e as atividades para o sistema.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Administrar funções</a></h2>
      A role is used when creating a user.  You will assign a role
      to a user.  There is a special role 'admin' this is the Adminstator role.
      You may also designate which roles have the same all of the rights of
      a specified role.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Administrar atividades</a></h2>
      A task is a specific action that is performed by the system.  You may assign 
      a collection of tasks to a role.  You may also create a new task by grouping tasks together
    </li>
  </ul></div>