.indented {
    padding-left:2em;
}
.selector_hidden { 
                      visibility:hidden; 
                      display:none; 
 }


.selector_visible { 
                      visibility:visible;
 }

ul.report_forms_list { 
                        padding:0px;
                        margin:0px;
 }
ul.report_forms_list li { 
                        padding:0px;                          
			margin:0px;
                        list-style-type:none;
 }

ul.report_forms_list li.sortme  { 
                                  margin:0em;
}

.sortablehandle{ 
                        margin: 1em;                          
                        cursor:move;
 }


.toggle_visible { 
                 visibility:visible;
 }

.toggle_invisible { 
                      visibility:hidden; 
                      display:none; 
                   }

.toggle_open { 
                   background-image:    url(twistyOpen.png);
                 background-repeat: no-repeat;
                   background-position: left center;
                   min-width: 11px;
                   min-height: 11px;
                 display:inline;
                 padding:0px;                 
               padding-left:15px;
                 background-color:transparent;

 }

.toggle_closed { 
                   background-image:    url(twistyClosed.png);
                 background-repeat: no-repeat;
                   background-position: left center;
                   min-width: 11px;
                   min-height: 11px;
                 display:inline;
                 padding:0px;
               padding-left:15px;
                 background-color:transparent;
 }


.reported_form_header h2   { 
                             display:inline;
 }


.reportviews h2   { 
                             display:inline;
 }

.reportviews h3   { 
                             display:inline;
 }


ul.reportviews    {                     
                    padding:0px;                          
                    margin:0px;
                    margin-left:0px;
                    }
li.reportviews    { 
                        padding:0px;                          
                        margin:0em;
                        list-style-type:none;

 }

div.existing_views  { 
                      padding-top:0.5em;
                     padding-left:2em;
                          }

.existing_views h4  { 
                      }

.existing_views ul  { 
                     padding-left:1em;
                     }

.existing_views li { 
                        list-style-type:disc;
 }

table.customReportsTable input{ 
                                margin: 0.5em;
                             }
table.customReportsTable th{ 
	background-color: #c1c1c1;
                             }



table.customReportsTable .button{ 
                                  margin: 0.5em;
                                  }
.right{ 
                                  float:right;
                                  }

.left{ 
                                  float:left;
                                  }

table.customReportsTable h3, table.customReportsTable h2{ 
                             padding-left:0em;
                             padding-bottom:0em;
                             padding-top:0.5em;
                             padding-right:0.25em;
                             display:inline;
 }





.CustomReport_controls   { 
          width:95%;                           
          float:right;                           
          padding:1em;                         
 }


.CustomReport_control { 
          padding:0.5em;                         
          float:right;

 }


.centered { 
            width:100%;
            text-align:center;
 }

