<div>
  <h2>Exportación actual de metadatos de DHIS<h2>  
  <ul><li>Tamaño del archivo: <span name="dhis_export_filesize"></span></li>
    <li><a href="lists?type=dhis_orgunit">Unidades organizativas</a></li>
    <li><a href="lists?type=dhis_data_element">Elementos de datos</a></li>
  </ul><h2>Subir exportación de metadatos de DHIS</h2>
  <div id="error_messages"></div>
  </h2></h2><form method="POST" enctype="multipart/form-data">
    <label for="dhisexport">Exportación de metadatos de DHIS:</label>
    <input type="file" name="dhisexport"><input type="submit" value="Upload"></form>
  
</div>
