<div task="person_can_view_child_form_person_photo_passport">  
  <div class="editRecord">
    <p>Upravit tuto informaci</p>
    <ul><li task="person_can_edit_child_form_person_photo_passport">
	<span type="form" ifset="person_photo_passport:id" name="person_photo_passport:id" href="person_photo_passport?id=" parent="true">
	  Aktualizovat tuto Informaci
	</span>
  <span type="form" ifset="person_photo_passport:id" name="person:id" href="history?form=person_photo_passport&amp;order_by=date&amp;id=">
    Zobrazit historii fotky
  </span>
      </li>
    </ul></div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0"><tbody><tr><th colspan="2">Pasová fotografie</th>
	</tr><tr><td colspan="2">
	    <center>
	      <span type="form" name="person_photo_passport:image">
	      </span>
	    </center>
	  </td>
	</tr></tbody></table></div> <!-- dataTable -->
</div>
