<tbody id="person_form">
<tr>
   
    <th colspan="2">Internship Information</th>
</tr>
<tr>
	<td>
		<span type="form" name="person_internship:country" showhead="default"></span>
		<span type="form" name="person_internship:health_facility" showhead="default"></span>
		<span type="form" name="person_internship:field" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="person_internship:start_date" showhead="default"></span>
		<span type="form" name="person_internship:end_date" showhead="default"></span>
    </td>
</tr>
</tbody>
