<ul>
	<li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Individual Information</a></li>
	<li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Contact Information</a></li>
	<li><a href="#jump_training" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Training Information</a></li>
	<li><a href="#jump_license" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">License Information</a></li>
	<li><a href="#jump_disciplinary" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Disciplinary Notice</a></li> 
	<li><a href="#jump_deployment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Deployment</a></li>
	<li><a href="#jump_out_migration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Out Migration</a></li>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Notes</a></li>
    <span type='module' name='RecordVerify' ifenabled='true'>
	<li><a href="#jump_record_verify" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Record Verification</a></li>
    </span>
</ul>
