<div task='person_can_view_child_form_person_internship'>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="person_internship:id" href="person_internship?id=" parent="true">Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Internship Information</th>
		</tr>
	   	<span type="form" name="person_internship:country" showhead="default"></span>
		<span type="form" name="person_internship:health_facility" showhead="default" class="even"></span>
		<span type="form" name="person_internship:field" showhead="default"></span>
		<span type="form" name="person_internship:start_date" showhead="default"></span>
		<span type="form" name="person_internship:end_date" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div>
