<tr>
  <th class="alert_type" style="width: 10%;"><span type="form" name="user_alert:alert_type"></span></th>
  <td class="message" style="width: 60%;">
    <span type="form" name="user_alert:link" target="_new" href="" ifset="true"><span type="form" name="user_alert:link_text"></span><br /></span>
    <span type="form" name="user_alert:message"></span>
    <span type="form" name="user_alert:repeated" ifvalue="!0"><br />Repeated: </span>
  </td>
  <td class="time_sent" style="width: 15%;"><span type="form" name="user_alert:time_sent"></span></td>
  <td class="time_ack" style="width: 15%;"><span type="form" name="user_alert:time_ack"></span></td>
</tr>
