<div>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task="user_alerts_edit_all"><span type="form" name="user_alert:id" href="user_alert?id=" parent="true">Update this Information</span></li>
      <li task="user_alerts_edit_all"><span type="form" name="user_alert:id" ifset="user_alert:time_ack" ifvalue="0000-00-00 00:00:00" href="ack_alert?id=" parent="true">Acknowledge this Alert (remove from pending)</span></li>
    </ul>
  </div>
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <th colspan="2">User Alert</th>
        </tr>
        <span type="form" name="user_alert:alert_type" showhead="default" />
        <span type="form" name="user_alert:time_sent" showhead="default" />
        <span type="form" name="user_alert:message" showhead="default" />
        <span type="form" name="user_alert:link" ifset="true" showhead="default" />
        <span type="form" name="user_alert:link_text" ifset="true" showhead="default" />
        <span type="form" name="user_alert:repeated" ifvalue="!0" showhead="default" />
        <span type="form" name="user_alert:time_ack" ifset="true" showhead="default" />
      </tbody>
    </table>
  </div>
</div>
