div.welcomeIntro h1 {
	font: normal 2.4em "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 17px 0 0.5em;
}

div.welcomeIntro  {
	font: 1.2em Arial, Helvetica, sans-serif;
	width: 390px;
}

div.welcomeIntro strong {
	font-weight: normal;
	color: #036;
}

div.welcomeIntro a {
	color: #069;
	text-decoration: underline;
	outline: none;
}
div.welcomeIntro a:active {
	outline: none;
}
div.welcomeIntro a:hover {
	color: #069;
	text-decoration: none;
}
div.welcomeIntro a:visited {
	color: #39C;
	text-decoration: underline;
}
div.welcomeIntro a:visited:hover {
	color: #39C;
	text-decoration: none;
}
