<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Bienvenido</h1>
<p>
<strong>iHRIS Qualify</strong> es un sistema de educación, licenciamiento, y seguimiento de certificación. El sistema permite a una autoridad de licenciamiento o certificación de trabajadores de la salud, tal como enfermeros/as o médicos/as, hacer un seguimiento de datos en todos los puestos de trabajo en un país, desde el entrenamiento pre-profesional. iHRIS Qualify es libre y de Código Abierto. Es una solución de software desarrollada por <a href="http://www.capacityproject.org">The Capacity Project</a>, una iniciativa global innovadora para ayudar a los países en desarrollo a construir y mantener al personal de salud.
</p>
</div><!-- /welcomeIntro -->
