<div>
  <h2 id="add_action_link" class="add_actionlink_options_toggle"><a>Eine neue Aktionsverknüpfung hinzufügen</a></h2>
  <div id="add_actionlink_options_menu" class="optionsMenu optionsMenuWide toggable windowDraggable=true windowFloats=true">
    <div class="optionsMenuTitle window_drag">Eine neue Aktionsverknüpfung hinzufügen</div>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr></tr><tr><td>
		  <h3>Eindeutiger Bezeichner</h3>Dies muss eine eindeutige Bezeichnung sein, wie 'bearbeiten' oder 'neu'.
		</td>
		<td>
		  <input id="key_name" name="key_name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
      </tr><tr><td>
		  <h3>Formularfeld</h3>In der Regel der Name des primären Formulars gefolgt von :id
		</td>
		<td>
		  <input name="form_field" class="validate=[nonempty]"></td>
      </tr><tr><td>
		  <h3>Link location</h3>Die Seite, auf die die Verknüpfung verweist
		</td>
		<td>
		  <input name="linkloc" class="validate=[nonempty]"></td>
	  </tr><tr><td>
		  <h3>Verknüpfungstext</h3>The text on the action link drop down.
		</td>
		<td>
		  <input name="linktext" class="validate=[nonempty]"></td>
	  </tr><tr><td colspan="3">
		  <div></div>
		    <span class="add_actionlink_options_hide button optionsMenuButton window_hide">Schließen</span>
		    <input type="submit" class="button only_options_menu" value="Add" id="add_actionlink"><div></div>
		  <br></td>
      </tr></table></div>
</div>