<div>
  <h2>Seitenoptionen</h2>
  <div id="args_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
		  <h3>Primäres Formular:</h3>Das primäre Formular dieser Seite
		</td>
		<td>
		  <select name="primary_form"></select></td>
      </tr><tr><td>
		  <h3>Titel:</h3>Der Titel des primären Formulars
		</td>
		<td>
		  <input name="title"></td>
	  </tr><tr><td>
		  <h3>Standard-HTML-Dateien:</h3>Sets the way in which content templates are loaded. This can usually be left blank.
		</td>
		<td name="html_files"></td>      
      </tr></table><span id="auto_template">
		<h2><a id="auto_template_link" href="">Zusätzliche Anzeigeeinstellungen</a></h2>
		 Edit the Child Forms, Action Links, and display options for the primary form
		<div class="indented" id="auto_template_ajax">
		</div>
	</span>
  </div>
</div>
