<div>
  <div id="action_link_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
		  <h3>Formularfeld</h3>In der Regel der Name des primären Formulars gefolgt von :id
		</td>
		<td>
		  <input name="formfield"></td>
	  </tr><tr><td>
		  <h3>Link location</h3>Die Seite, auf die die Verknüpfung verweist
		</td>
		<td>
		  <input name="linkloc"></td>
	  </tr><tr><td>
		  <h3>Verknüpfungstext</h3>The text on the action link drop down.
		</td>
		<td>
		  <input name="linktext"></td>
	  </tr><tr><td>
		  <h3>Berechtigung:</h3>The single permission a user must have for this link
		</td>
		<td>
			<select name="task"><option value="">Keine Aufgabe ausgewählt</option></select></td>
	  </tr></table></div>
</div>