<li class="child_form_lists">    
  <a name="existing_child_link">
	<span name="displayName"></span> (<span name="child_name"></span>)
  </a>
  <br><div class="indented">
	<!-- I'm commenting out, instead of deleting description to remind myself that I might want to add
	this in later underneath the forms.
    <span name="description">
    </span> -->
    <div id="existing_child_ajax" class="indented">      
    </div>    
    <a href="" name="existing_child_delete_link">Löschen</a>
  </div>
</li>
