<div>
  <h2 id="add_childform_link" class="add_childform_options_toggle"><a>Ein neues untergeordnetes Datenblatt hinzufügen</a></h2>
  <div id="add_childform_options_menu" class="optionsMenu optionsMenuWide toggable windowDraggable=true windowFloats=true">
    <div class="optionsMenuTitle window_drag">Ein neues untergeordnetes Datenblatt hinzufügen </div>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr></tr><tr><td style="width: 58em;">
	      <h3>Anzeigename:</h3>Der Name des untergeordneten Formulars, der dem Endbenutzer angezeigt wird.
	    </td>
	    <td>
	      <input name="childform_displayname" id="childform_displayname" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	      <h3>Art des untergeordneten Formulars:</h3>Wählen Sie die Art des untergeordneten Formulars aus. Es kann immer nur eins von jeder Art für eine Seite geben.
	    </td>
	    <td>
	      <select name="form_which" id="add_childform_type_selector"></select></td>
      </tr><tr><td colspan="2">
	      <div></div>
	      <span class="add_childform_options_hide button optionsMenuButton window_hide">Schließen</span>
	      <input type="submit" class="button only_options_menu" value="Add" id="add_childform"><div></div>
	      <br></td>
      </tr></table></div>
</div>