<div id="siteContent">
    <h1>Konfiguracja systemu</h1>

  <div task="can_edit_database_lists">
    <h2><a href="lists" class="adminDatabase">Administracja bazą danych</a></h2>
    <p>
    <!-- Create and update standard lists of data for selection in system menus. -->
    Administrowanie pozycjami oraz tworzenie i aktualizowanie menu rozwijanych.
    </p>
      <hr></div>


  <span type="module" name="admin" ifenabled="true">
    <div task="can_configure_modules">
      <h2><a href="admin/modules" class="adminDatabase">Konfiguracja modułów</a></h2>
      <p>
	Włączanie i wyłączanie poszczególnych modułów systemu.
      </p>
      <hr></div>
  </span>

  <span type="module" name="page-builder" ifenabled="true">
    <div task="can_build_pages">
      <h2><a href="PageBuilder" class="adminDatabase">Budowniczy strony</a></h2>
      <p>
	Zbuduj i rekonfiguruj strony
      </p>
      <hr></div>
  </span>

  <span type="module" name="form-builder" ifenabled="true">
    <div task="can_build_forms">
      <h2>Budowniczy formularzy</h2>
      <p>
	Zbuduj i rekonfiguruj formularze
      </p>
      <ul><li><a href="FormBuilder/forms" class="adminDatabase">Budowniczy formularzy</a></li>
	<li><a href="FormBuilder/formClasses" class="adminDatabase">Budowniczy klas formularzy</a></li>
      </ul><hr></div>
  </span>


  <span type="module" name="formRelationships" ifenabled="true">
    <div role="admin">
      <h2><a href="form_relationship_import" class="searchRecords"> Import Form Relationship Data</a></h2>
      <p>
	Import iHRIS data from a form relationship export or from a transform of another data source, such as an Excel file, to the iHRIS form relationship format.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CustomReports" ifenabled="true">
    <span task="custom_reports_can_edit_reportViews">
        <h2><a name="manage_reports" class="adminDatabase">Zarządzaj raportami</a></h2>
      <p>
	Zarządzanie standardowymi raportami dostępnymi dla użytkowników i tworzenie nowych raportów niestandardowych.
      </p>
      <ul><li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">Powiązania formularzy</a>
          <dl><dd>Określa jak są powiązane formularze do wykorzystania w raportach.</dd></dl></li>
          <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">Raporty</a>
          <dl><dd>Definiuj raporty oparte na uprzednio zdefiniowanych relacjach. Można wybrać, które pola są dostępne dla każdego raportu, a które pola mogą być użyte do ograniczenia raportu.</dd></dl></li>
          <li><a href="CustomReports/edit/reportViews">Widoki raportów</a>
          <dl><dd>Definiuje widoki raportów oparte na uprzednio zdefiniowanych raportach. Można określić, które pola wyświetlić a także definiować domyślny widok wyświetlający wykres lub ograniczone wyniki, gdy użytkownik uzyskuje dostęp do widoku raportu.</dd></dl></li>
      </ul><hr></span>
  </span>



  <span type="module" name="magicDataBrowser" ifenabled="true">
    <div task="can_view_magic_data_browser">
      <h2><a href="magicDataBrowser/show" class="searchRecords">Przeglądaj dane magiczne</a></h2>
      <p>
	Przeglądaj dane konfiguracyjne używane przez komputer.
      </p>
      <hr></div>
  </span>


  <span type="module" name="SVS" ifenabled="true">
    <div task="SVS_allow_RetreieveValueSet">
      <h2><a href="SVS/config" class="searchRecords">Shared Value Sets</a></h2>
      <p>
	Download or configure Shared Value Sets for exchanging meta-data between components of your health information system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd_cache" ifenabled="true">
    <div task="csd_cache_admin">
      <h2><a href="csd_cache" class="searchRecords">Care Services Discovery</a></h2>
      <p>
	Adminster Caches for Care Services Discovery (CSD) export of data
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd-infoman-storage" ifenabled="true">
    <div role="admin">
      <h2><a href="remote_directory_selector/edit" class="searchRecords"> InterLinked Health Worker Registry</a></h2>
      <p>
	Set connection details for connecting with a Care Services Discovery (CSD) compliant InterLinked Health Worker Registry.
      </p>
      <hr></div>
  </span>





  <span type="module" name="tasks-roles" ifenabled="true">
    <div task="tasks_and_roles_can_access">
      <h2><a href="tasks-roles" class="adminDatabase">Zadania i role</a></h2>
      <p>
	Administracja zadaniami i rolami w systemie
      </p>
      
      <hr></div>
  </span>


  <span type="module" name="localeSelector" ifenabled="true">
    <div task="locales_can_edit_site_locale">
      <h2><a href="localeSelector/edit" class="adminDatabase">Zarządzanie lokalizacjami</a></h2>
      <p>
	Zarządzanie lokalizacjami dostępnymi w systemie
      </p>
      <hr></div>      
  </span>



  <span type="module" name="BackgroundProcess" ifenabled="true">
    <div task="can_view_background_processes">
      <h2><a href="BackgroundProcess" class="searchRecords">Procesy działające w tle</a></h2>
      <p>
	Sprawdzenie uruchomionych przez ciebie procesów działających w tle
      </p>
      <hr></div>
  </span>


  <span type="module" name="formBrowser" ifenabled="true">
    <div task="can_view_form_browser">
      <h2><a href="formBrowser/showForm" class="searchRecords">Przeglądaj formularze</a></h2>
      <p>
	Przegląd formularzy używanych przez system.
      </p>
      <hr></div>
  </span>

  <span type="module" ifenabled="true" name="DHIS_Metadata">
    <div role="admin">
      <h2><a href="dhis_metadata">Zarządzanie metadanymi DHIS2</a></h2>
      <p>
	Załaduj <a href="http://dhis2.org">DHIS2</a> MetaData such as organizational units and data elements.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CachedForms" ifenabled="true">
    <div task="cached_forms_can_administer">
      <h2><a href="CachedForms" class="adminDatabase">Formularze buforowane</a></h2>
      <p>
	Kontrola tworzenia formularzy buforowanych
      </p>
      <hr></div>
  </span>
  
  <div task="can_create_or_edit_users">

    <h2><a href="user" class="adminDatabase">Administracja użytkownikami</a></h2>
    <p>
    Tworzenie, aktualizacja i wyłączanie kont użytkowników by zapewnić bezpieczeństwo dostępu do systemu. Dostęp ograniczony do Administratora systemu.
    </p>
      <hr></div>
  <span type="module" name="UserStatistics" ifenabled="true">
	<div task="can_view_user_statistics">
	  <h2><a href="UserStatistics" class="searchRecords">Statystyki użytkownika</a></h2>
      Zobacz statystyki zapisu danych dla użytkowników.
    </div>
  </span>
</div>
