<div class='csd_cache'>

  <h3 class='csd_cache_toggle'>CSD Cache: <a name='cache_link'><span name='cache_name' /></a></h3>
  <ul class='csd_cache_content'>
    <li>Cache modification time: <span name='modified'/></li>
    <li>Total records: <span name='total'/></li>
    <li>Up to date records: <span name='updated'/></li>
    <li><a name='stream'>Get CSD Document</a></li>
    <ul>
      Example records
      <li><a name='csd_example_1'>Example 1</a></li>
      <li><a name='csd_example_2'>Example 2</a></li>
      <li><a name='csd_example_3'>Example 3</a></li>
    </ul>
    <li><a name='stream_raw'>Get Underlying Form Relationship Dump</a></li>
    <ul>
      Example records
      <li><a name='rel_example_1'>Example 1</a></li>
      <li><a name='rel_example_2'>Example 2</a></li>
      <li><a name='rel_example_3'>Example 3</a></li>
    </ul>
    <li><a name='xsl'>Get XSL Transform</a></li>
    <li><a name='update'>Update CSD Cache</a></li>
    <li name='enabled' ifset='1'><a name='do_disable'>Disable CSD Cache</a></li>
    <li name='enabled' ifset='0'><a name='do_enable'>Enable CSD Cache</a></li>
    <li><a name='clear'>Clear CSD Cache</a></li>
    <li>
      SOAP Endpoint: <span name='soap'/>
      <p>To exectute a sample request save the below to soap.xml and execute as indicated below.  You may need to add a username and password before the hostname in the URL according to the HTTP Basic Authorization rules.</p>
      <pre>curl -d @soap.xml <span name='soap'/> </pre>
      <p>Sample Request</p>
      <pre name='sample'/>
    </li>
    <li>Dependent Shared Value Sets (SVS) <div id='svs'/></li>
  </ul>
  
</div>
