<div id="siteContent">
  <script type='text/javascript'>
window.addEvent('domready', function() {
    console.log('b');
    $$('.csd_cache').each(    
       function(div) {
         console.log('a');
         var content =  div.getElement('.csd_cache_content');
	 var toggle = div.getElement('.csd_cache_toggle');
	 if (toggle && content )  {
            var slide = new Fx.Slide(content); 
	    slide.slideOut();
	    toggle.addEvent(
	      'click', 
	      function(e){
                 e = new Event(e);
		 slide.toggle();
		 e.stop();
	       });
	   }
        });
});
  </script>
  <h2>Care Servies Discovery (CSD) Cache Administration</h2>

  <span name='show_full' ifset='true'>
    <h2>Full CSD Document</h2>
    <ul>
      <li> <a href="csd_cache?action=full_stream">Get CSD Document</a></li>
      <li> <a href="csd_cache?action=full_update">Update All Enabled CSD Caches</a></li>
      <li> <a href="csd_cache?action=full_clear">Clear All Enabled CSD Caches</a></li>
      <li>
	SOAP Endpoint: <span name='soap_full_stream'/>
	<p>To exectute a sample request save the below to soap.xml and execute as indicated below.  You may need to add a username and password before the hostname in the URL according to the HTTP Basic Authorization rules.</p>
	<pre>curl -d @soap.xml <span name='soap_full_stream'/> </pre>
	<p>Sample Request</p>
	<pre name='sample_full'/>
      </li>
    </ul>
  </span>
  
  <h2>Individual CSD Documents</h2>
  <div id='caches'/>


  
</div>
