<div>
  

  <h2>Créer une nouvelle page</h2>
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Noms de page</h3>Une clé interne est utilisée pour identifier la page. Elle est également utilisée dans l'URL pour accéder à la page. Elle peut ne pas être la même clé pour toute page existante.
      </td>
      <td>
	<input name="name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
    </tr><tr><td>
	<h3>Type de page:</h3>Le type de page à créer.
      </td>
      <td>
	<select name="class"></select></td>
    </tr></table><h2>Modifier une page existante</h2>
  <ul id="pages"></ul></div>
