<div>
  

  <h2>Options de page</h2>
  <div id="args_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
			<h3>Titre:</h3>Titre de la page. C'est la valeur qui s'affiche en haut de la fenêtre du navigateur.
		</td>
		<td>
			<input name="title"></td>
	  </tr><tr><td>
			<h3>Tâches:</h3>Tâche, en option, pour limiter l'accès à cette page.
		</td>
		<td>
			<div name="task"></div>
		</td>
		<!--
		<td>
			<select name='task'><option value=''>No Task Selected</option></select>
		</td>
		-->
	  </tr><tr><td>
		  <h3>Fichiers HTML par défaut:</h3>
		</td>
		<td name="html_files"></td>      
      </tr></table></div>
  
  
  
  
	
	
</div>