<div>
  
  <span name="description">
    <span printf="'La page %s est implémentée par la classe %s',$page,$class"></span>
  </span>
  <h2>Modifier la façon dont la page est affichée</h2>
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Style:</h3>Style, en option, pour cette page. Shell est la valeur par défaut recommandée.
      </td>
      <td>
	<select name="style"><option value="">Pas de style sélectionné</option></select></td>
    </tr><tr><td>
	<h3>Lien:</h3>Lien vers la page que vous modifiez.
      </td>
      <td>
		<div name="link_name">
		  <ul><li><a target="_blank_rel_0" name="page_edit_link_0">Lien vers exemple: <span name="link_title_1"></span></a></li>
			<li><a target="_blank_rel_1" name="page_edit_link_1">Lien vers exemple: <span name="link_title_1"></span></a></li>
			<li><a target="_blank_rel_2" name="page_edit_link_2">Lien vers exemple: <span name="link_title_2"></span></a></li>
			<li><a target="_blank_rel_3" name="page_edit_link_3">Lien vers exemple:  <span name="link_title_3"></span></a></li>
			<li><a target="_blank_rel_4" name="page_edit_link_4">Lien vers exemple:  <span name="link_title_4"></span></a></li>
		</ul></div>
      </td>
    </tr></table><h2>Options de page</h2>
  <span id="args">
    <h2><a id="args_link" href="">Configurations de page et de formulaire principal</a></h2>
    Modifier le formulaire principal, le titre, et les autres options d’affichage.  
    <div class="indented" id="args_ajax"></div>

</span></div>
