<div>
  
  <span name="description">
    <span printf="'The page %s is implemented by the class %s',$page,$class"></span>
  </span>
  <h2>Edit How Page is Displayed</h2>
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Stijl:</h3>Optional style for this page.  Shell is the recommended default value.
      </td>
      <td>
	<select name="style"><option value="">Geen stijl geselecteerd</option></select></td>
    </tr><tr><td>
	<h3>Koppeling:</h3>Link to the page you are editing.
      </td>
      <td>
		<div name="link_name">
		  <ul><li><a target="_blank_rel_0" name="page_edit_link_0">Link To Example: <span name="link_title_1"></span></a></li>
			<li><a target="_blank_rel_1" name="page_edit_link_1">Link To Example: <span name="link_title_1"></span></a></li>
			<li><a target="_blank_rel_2" name="page_edit_link_2">Link To Example: <span name="link_title_2"></span></a></li>
			<li><a target="_blank_rel_3" name="page_edit_link_3">Link To Example:  <span name="link_title_3"></span></a></li>
			<li><a target="_blank_rel_4" name="page_edit_link_4">Link To Example:  <span name="link_title_4"></span></a></li>
		</ul></div>
      </td>
    </tr></table><h2>Pagina-instellingen</h2>
  <span id="args">
    <h2><a id="args_link" href="">Page and Primary Form Configurations</a></h2>
    Edit the primary form, title, and other display options.  
    <div class="indented" id="args_ajax"></div>

</span></div>
