<div>
  

  <h2>Pagina-instellingen</h2>
  <div id="args_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
			<h3>Titel:</h3>Page Title.  This is the value that is displayed at the top of the browser window.
		</td>
		<td>
			<input name="title"></td>
	  </tr><tr><td>
			<h3>Taken:</h3>Optional task for limiting access to this page.
		</td>
		<td>
			<div name="task"></div>
		</td>
		<!--
		<td>
			<select name='task'><option value=''>No Task Selected</option></select>
		</td>
		-->
	  </tr><tr><td>
		  <h3>Standaard HTML-bestanden:</h3>
		</td>
		<td name="html_files"></td>      
      </tr></table></div>
  
  
  
  
	
	
</div>