<div id="list_display" class="recordsData" task="can_view_database_list_edu_type">
	
	<div class="editRecord">
	<p>이 정보 편집</p>
		<ul><li task="can_edit_database_list_edu_type"><span type="form" name="edu_type:id" href="lists?type=edu_type&amp;id=">이 정보 업데이트 </span></li>
			<li><a href="lists?type=edu_type">다른 교육 종류 선택</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">교육 종류</th>
		</tr><span type="form" name="edu_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
