<div>
  <div id='printf_container'>
    <table id='printf_table' class='multiFormTable' cellpadding="0" cellspacing="0" border="0" >
      <tr>
        <td width='50%'>
          <h3>Form Display Format: </h3>
          <p>Edit the format the form's information will be displayed on the page. Use printf format specifiers to add fields to be displayed.</p>
          <p>If you are unfamiliar with printf format specifiers, use '<i>%s</i>' for each field you want displayed. The order of the <i>%s</i>'s will match the order of your chosen fields (ie. the first <i>%s</i> will display the first field).</p>
        </td>
        <td id='printf'></td>
      </tr>
      <tr>
	    <td>
	      <h3>Displayed Fields: </h3> 
	      <p>The fields to display for each printf format specifier. Each format specifier in the Display Format will be replaced by the corresponding field. The number of format specifiers must match the number of fields.</p>
		</td>
	 	<td id='printf_args_options' style='text-align:center'>
	 		<br>
	 		<input type='checkbox' onclick='hideArgs(this)' id='noArgs' name='noArgs' value='noArgs'> No Arguments<br>
	 		<br>
	 	</td>
	  </tr>
	  <tr>
	  	<td></td>
	  	<td style='text-align:right'>
	  	  <button type='button' id='add_arg_btn' onclick='addPrintfArgSelector(this, "printf_args_options");' style='padding:0.25em'>Add Argument</button>
	  	</td>
	  </tr>
    </table>
  </div>
</div>

  
  
  
  
	
	
