<div>
  <h2>Page Options</h2>
  <div id='args_container'>
    <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
	  <tr>
		<td>
		  <h3>Primary Form:</h3>The primary form of this page
		</td>
		<td>
		  <select name='primary_form'/>
		</td>
      </tr>
	  <tr>
		<td>
		  <h3>Title:</h3>The title for the primary form
		</td>
		<td>
		  <input name='title'/>
		</td>
	  </tr>
	  <tr>
		<td>
		  <h3>Default HTML Files:</h3>Sets the way in which content templates are loaded. This can usually be left blank.
		</td>
		<td name='html_files'/>      
      </tr>
    </table>
	<span id='auto_template'>
		<h2><a id="auto_template_link" href=''>Additional Display Configurations</a></h2>
		 Edit the Child Forms, Action Links, and display options for the primary form
		<div class='indented' id='auto_template_ajax'>
		</div>
	</span>
  </div>
</div>
