<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202" />
<h1>Welcome</h1>
<p>
<strong>iHRIS Qualify</strong> is a health worker training, licensing and certification tracking system. The system enables a 
licensing or certification authority for a health worker cadre, such as nurses or physicians, to track data on 
the complete cadre in a country from pre-service training through attrition. iHRIS Qualify is a free, Open Source 
software solution developed by <a href="http://www.capacityproject.org">The Capacity Project</a>, an innovative 
global initiative to help developing countries build and sustain the health workforce.
</p>
</div><!-- /welcomeIntro -->
