<div>
  <h2>Eksport aktualnych metadanych DHIS<h2>  
  <ul><li>Rozmiar pliku: <span name="dhis_export_filesize"></span></li>
    <li><a href="lists?type=dhis_orgunit">Jednostki organizacyjne</a></li>
    <li><a href="lists?type=dhis_data_element">Elementy danych</a></li>
  </ul><h2>Prześlij eksport metadanych DHIS</h2>
  <div id="error_messages"></div>
  </h2></h2><form method="POST" enctype="multipart/form-data">
    <label for="dhisexport">Eksport metadanych DHIS:</label>
    <input type="file" name="dhisexport"><input type="submit" value="Upload"></form>
  
</div>
