<div id="siteContent">
    <h1 class="header">Add/Update Private Health Unit</h1>
    <div id="error" />
    <form  method="post" action="privatefacility">
        <span type="form" name="privatefacility:id"></span>
<div id="form">
     
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="2">Private Health Unit Information</th>
    </tr>
	<tr id="list_fields">
		<td>
		  <span type="form" name="privatefacility:name" showhead="default"></span>
		  <span type="form" name="privatefacility:name_ignore" ifset="name_ignore"></span>
		  <span type="form" name="privatefacility:owner" showhead="default"></span>
		  <span type="form" name="privatefacility:owner_phone" showhead="default"></span>
		  <span type="form" name="privatefacility:owner_email" showhead="default"></span>

		 </td>
		<td>
		  <span type="form" name="privatefacility:supervisor" showhead="default"></span>
		  <span type="form" name="privatefacility:supervisor_phone" showhead="default"></span>
		  <span type="form" name="privatefacility:supervisor_email" showhead="default"></span>
		  <span type="form" name="privatefacility:service_type" showhead="default"></span>
		  <span type="form" name="privatefacility:privatefacility_type" showhead="default"></span>
		  <span type="form" name="privatefacility:location" showhead="default"></span>
		</td>
	</tr>
    <tr class="submitCell">
        <td colspan="2">
            <div id="button" />
        </td>
    </tr>
	</table>
    
</div>
    </form>
</div>
