<ul>
	<li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Health Unit Information</a></li>
	<span type='module' name='PrivateFacilityContact' ifenabled='true'>
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Contact Information</a></li>
	</span>
	<li><a href="#jump_services" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Services Information</a></li>
	<span type='module' name='FacilityRegistration' ifenabled='true'>
	  <li><a href="#jump_registration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Registration Information</a></li>
	</span>
	<span type='module' name='FacilityLicense' ifenabled='true'>
	  <li><a href="#jump_license" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">License information</a></li>
	</span>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Notes</a></li>
</ul>
