<div id="list_display" class='recordsData'>
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_privatefacility_type'><span type="form" name="privatefacility_type:id" href="lists?type=privatefacility_type&amp;id=" >Update this Information</span></li>
			<li task='can_view_database_list_privatefacility_type'><a href="lists?type=privatefacility_type">Select another Private Health Unit</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Private Health Unit</th>
		</tr>
		<span type="form" name="privatefacility_type:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
