<div id="user_statistics" class="recordsData">
  <h3>The Unique Person Records (incluidin bairn forms) Modeefied (laist <span name="days_limit"></span> days o acteevitie)</h3>
  <div>
    <div class="editRecord">
      <p>See ither Stateesteecs</p>
      <ul><li><span type="form" name="user:username" href="UserStatistics?limits:username:equals:value=user%7C">Data Entrie Histerie</span></li>
        <li><a href="UserStatistics">Aw o the Uiser Data Entrie Histerie</a></li>
      </ul></div>
    <div class="dataTable">
      <table border="0" cellspacing="0" cellpadding="0"><thead><tr><th>The Date</th><th>The Nummer o Unique Person Records Modeefied</th></tr></thead><tbody id="user_stats_person_history"></tbody></table></div>
  </div>
  <br clear="all"></div>
