<div>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_person_contact_other'><span type="form" name="person_contact_other:id" href="contact?contact_type=other&amp;id="  parent="true">Update this Information</span></li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable" >
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Other Contact </th>
      </tr>
      <span type="form" name="person_contact_other:address" showhead="default" mline="true"></span>
      <span type="form" name="person_contact_other:telephone" showhead="default" class="even"></span>
      <span type="form" name="person_contact_other:mobile_phone" showhead="default" class="even"></span>
      <span type="form" name="person_contact_other:alt_telephone" showhead="default"></span>
      <span type="form" name="person_contact_other:fax" showhead="default" class="even"></span>
      <span type="form" name="person_contact_other:email" showhead="default"></span>
      <span type="form" name="person_contact_other:contact_group" showhead="default"></span>
      <span type="form" name="person_contact_other:notes" showhead="default" mline="true" class="even"></span>
    </table>
  </div> <!-- dataTable -->
</div>
