<div>
  <h2>Current DHIS Metadata Export<h2>  
  <ul><li>Filstorlek: <span name="dhis_export_filesize"></span></li>
    <li><a href="lists?type=dhis_orgunit">Organisationsenheter</a></li>
    <li><a href="lists?type=dhis_data_element">Dataelement</a></li>
  </ul><h2>Upload DHIS Metadata Export</h2>
  <div id="error_messages"></div>
  </h2></h2><form method="POST" enctype="multipart/form-data">
    <label for="dhisexport">Exportera DHIS-metadata:</label>
    <input type="file" name="dhisexport"><input type="submit" value="Upload"></form>
  
</div>
