Source: ihris-qualify-site-demo
Maintainer: Carl Leitner <litlfred@ibiblio.org>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7)
Homepage: http://launchpad.net/ihris-qualify


Package: ihris-qualify-site-demo
Architecture: all
Depends: ihris-qualify
Pre-Depends: mysql-server, dbconfig-common
Recommends: 
Description: iHRIS Qualify Demo Site
 Site for the iHRIS Qualify with demonstration data
