<tbody id="person_form">
<tr>
    <th>Institution Information</th>
    <th>Degree Information</th>
</tr>
<tr>
	<td>
		<span type="form" name="education:institution" showhead="default"></span>
		<span type="form" name="education:location" showhead="default"></span>
		<span type="form" name="education:year" showhead="default"></span>
	</td><td>
		<span type="form" name="education:degree" showhead="default">
		</span>
		<span type="form" name="education:major" showhead="default"></span>
    </td>
</tr>
</tbody>
