<div id="list_display" class='recordsData' task="can_view_database_list_degree">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_degree'><span type="form" name="degree:id" href="lists?type=degree&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=degree&amp;field=edu_type">Select another Degree</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Degree</th>
		</tr>
		<span type="form" name="degree:edu_type" showhead="default"></span>
		<span type="form" name="degree:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
