<div id="siteContent">
    <h1 class="header"><a href="lists">Administrer la base de données</a>: <span name="type_name"></span></h1>
    <span name="list_is_writable" ifset="true">
      <a href="lists?add=1" name="add_type" class="add_new_link">Ajouter nouveau <span name="type_name"></span></a>
    </span>
    <div class="recordsData" id="select_list">
      <div id="select_list_results">
	<table border="0" cellpadding="0" cellspacing="0"><thead><tr><td style="text-align: right;" id="lists_alphabet">
        </td>
      </tr><tr id="lists_header"></tr></thead><tbody id="lists_body"></tbody></table><div style="float:right" class="pager_display" id="select_list_pager_display">
	</div>	

      </div>
    </div>
    <br><p><a href="lists" class="button">retour</a></p>
    
</div>
