<div id="siteContent">
    <h1>Configura il sistema</h1>

  <div task="can_edit_database_lists">
    <h2><a href="lists" class="adminDatabase">Amministra database</a></h2>
    <p>
    <!-- Create and update standard lists of data for selection in system menus. -->
    Amministra posizioni e crea o aggiorna i menu a tendina
    </p>
      <hr></div>


  <span type="module" name="admin" ifenabled="true">
    <div task="can_configure_modules">
      <h2><a href="admin/modules" class="adminDatabase">Configura moduli</a></h2>
      <p>
	Abilita e disabilita i vari moduli del sistema.
      </p>
      <hr></div>
  </span>

  <span type="module" name="page-builder" ifenabled="true">
    <div task="can_build_pages">
      <h2><a href="PageBuilder" class="adminDatabase">Page Builder</a></h2>
      <p>
	Build and Reconfigure pages
      </p>
      <hr></div>
  </span>

  <span type="module" name="form-builder" ifenabled="true">
    <div task="can_build_forms">
      <h2>Forms Builder</h2>
      <p>
	Build and Reconfigure Forms
      </p>
      <ul><li><a href="FormBuilder/forms" class="adminDatabase">Form Builder</a></li>
	<li><a href="FormBuilder/formClasses" class="adminDatabase">Form Class Builder</a></li>
      </ul><hr></div>
  </span>


  <span type="module" name="formRelationships" ifenabled="true">
    <div role="admin">
      <h2><a href="form_relationship_import" class="searchRecords"> Import Form Relationship Data</a></h2>
      <p>
	Import iHRIS data from a form relationship export or from a transform of another data source, such as an Excel file, to the iHRIS form relationship format.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CustomReports" ifenabled="true">
    <span task="custom_reports_can_edit_reportViews">
        <h2><a name="manage_reports" class="adminDatabase">Amministra i report</a></h2>
      <p>
	Amministra i report standard disponibili per gli utenti e crea nuovi report personalizzati.
      </p>
      <ul><li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">Form Relationships</a>
          <dl><dd>Definisci come correlare i form ai report</dd></dl></li>
          <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">Reports</a>
          <dl><dd>Definisci i report basati sulle relazioni precedentemente definite. Puoi scegliere quali campi sono utilizzabili per ciascun report e quali campi possono essere usati per limitare il report.</dd></dl></li>
          <li><a href="CustomReports/edit/reportViews">Visualizzazioni dei report</a>
          <dl><dd>Definisci le visualizzazioni dei report basate sui report precedentemente definiti. Puoi scegliere quali campi visualizzare e definire anche una visualizzazione default che mostri un grafico o limiti i risultari quando un utente ha accesso alla visualizzazione del report.</dd></dl></li>
      </ul><hr></span>
  </span>



  <span type="module" name="magicDataBrowser" ifenabled="true">
    <div task="can_view_magic_data_browser">
      <h2><a href="magicDataBrowser/show" class="searchRecords">Visualizza i "Magic Data"</a></h2>
      <p>
	Esplora i dati di configurazione usati dal sistema.
      </p>
      <hr></div>
  </span>


  <span type="module" name="SVS" ifenabled="true">
    <div task="SVS_allow_RetreieveValueSet">
      <h2><a href="SVS/config" class="searchRecords">Shared Value Sets</a></h2>
      <p>
	Download or configure Shared Value Sets for exchanging meta-data between components of your health information system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd_cache" ifenabled="true">
    <div task="csd_cache_admin">
      <h2><a href="csd_cache" class="searchRecords">Care Services Discovery</a></h2>
      <p>
	Adminster Caches for Care Services Discovery (CSD) export of data
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd-infoman-storage" ifenabled="true">
    <div role="admin">
      <h2><a href="remote_directory_selector/edit" class="searchRecords"> InterLinked Health Worker Registry</a></h2>
      <p>
	Set connection details for connecting with a Care Services Discovery (CSD) compliant InterLinked Health Worker Registry.
      </p>
      <hr></div>
  </span>





  <span type="module" name="tasks-roles" ifenabled="true">
    <div task="tasks_and_roles_can_access">
      <h2><a href="tasks-roles" class="adminDatabase">Attività e ruoli</a></h2>
      <p>
	Amministra attività e ruoli di sistema
      </p>
      
      <hr></div>
  </span>


  <span type="module" name="localeSelector" ifenabled="true">
    <div task="locales_can_edit_site_locale">
      <h2><a href="localeSelector/edit" class="adminDatabase">Amministra ambienti locali</a></h2>
      <p>
	Amministra gli ambienti locali disponibili per il sistema
      </p>
      <hr></div>      
  </span>



  <span type="module" name="BackgroundProcess" ifenabled="true">
    <div task="can_view_background_processes">
      <h2><a href="BackgroundProcess" class="searchRecords">Processi in background</a></h2>
      <p>
	Esamina i processi in background che hai fatto partire
      </p>
      <hr></div>
  </span>


  <span type="module" name="formBrowser" ifenabled="true">
    <div task="can_view_form_browser">
      <h2><a href="formBrowser/showForm" class="searchRecords">Esplora le form</a></h2>
      <p>
	Esplora le form usate dal sistema.
      </p>
      <hr></div>
  </span>

  <span type="module" ifenabled="true" name="DHIS_Metadata">
    <div role="admin">
      <h2><a href="dhis_metadata">Manage DHIS2 MetaData</a></h2>
      <p>
	Carica <a href="http://dhis2.org">DHIS2</a> MetaData such as organizational units and data elements.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CachedForms" ifenabled="true">
    <div task="cached_forms_can_administer">
      <h2><a href="CachedForms" class="adminDatabase">Form nella cache</a></h2>
      <p>
	Controlla la creazione di form in cache
      </p>
      <hr></div>
  </span>
  
  <div task="can_create_or_edit_users">

    <h2><a href="user" class="adminDatabase">Amministra utenti</a></h2>
    <p>
    Crea, aggiorna e disabilita utenti per rinforzare la sicurezza nell'accesso al sistema. L'accesso è limitato all'Amministratore di Sistema.
    </p>
      <hr></div>
  <span type="module" name="UserStatistics" ifenabled="true">
	<div task="can_view_user_statistics">
	  <h2><a href="UserStatistics" class="searchRecords">Statistiche utente</a></h2>
      Vedi le statistiche di inserimento dati per gli utenti.
    </div>
  </span>
</div>
