<div id="siteContent">
    <h1>Доступні модулі</h1>
    Тут ви можете вибрати модулі, щоб увімкнути або вимкнути, вибравши або знявши прапорці і потім натиснувши на <i>Увімкнути</i> кнопку в нижній частині сторінки. Можна також налаштувати певні модулі, натиснувши на <i>Налаштування</i> посилання, пов'язані з ними (якщо є). Деякі модулі також мають підмодулі, пов'язані з ними і їх  можна викликати натисненням на
    <i>підмодулі</i> посилання або спрямована вниз стрілка (якщо є).
    <br><br><a href="admin/modules">Меню головного модуля</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
