<div id="list_display" task="can_view_database_list_cadre">
	
	<div class="editRecord">
	<p>གནས་ཚུལ་འདི་རྩོས་སྒྲུག་བྱེད་པ།</p>
		<ul><li task="can_edit_database_list_cadre"><span type="form" name="cadre:id" href="lists?type=cadre&amp;id=">གནས་ཚུལ་འདི་ཁ་སྐོང་བྱེད་པ།</span></li>
			<li><a href="lists?type=cadre">ཧུར་བརྩོན་མི་སྣ་གཞན་འདེམ་པ།</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">ཧུར་བརྩོན་མི་སྣ།</th>
		</tr><span type="form" name="cadre:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
