<div>
  <div id="auto_template_container">
	<table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
		  <h3>Título:</h3>The title for the primary form
		</td>
		<td>
		  <input name="title"></td>
	</tr><tr><td>
		  <h3>Form Display Name:</h3>El nombre para mostrar del formulario principal
		</td>
		<td>
		  <input name="form_display_name"></td>
	</tr><tr><td>
		  <h3>Child Form Display Order:</h3>This will put the child forms in the order desired. Please place a
		  1 - <span name="child_number"></span> by each child form in the order you want it to display. You may only use each number once.
		</td>
		<td name="child_form_order"></td>      
    </tr><tr><td><br></td></tr><tr><td>
		  <h3>Display Order:</h3>This will order all of the fields on the primary form of the page. Please place a
		  1 - <span name="display_number"></span> by each field name in the order you want it to display. You may only use each number once.
		</td>
		<td>
		  <div name="display_order"></div>
		</td>
    </tr><tr><td><br></td></tr><tr><td>
		  <h3>Permisos de la página:</h3>The permissions a user must have to access this page:
		</td>
		<td>
		  <div style="width:600px; height:300px; overflow:scroll;" name="task"></div>
		</td>
	</tr></table><span id="action_links">
		<h2><a id="action_links_link" href="">Enlaces de acción</a></h2>
		 Editar los campos del enlace de acción
		<div class="indented" id="action_links_ajax">
		</div>
	</span>
	
	<span id="child_forms">
		<h2><a id="child_forms_link" href="">Formularios secundarios</a></h2>
		 Editar formularios secundarios en una página
		<div class="indented" id="child_forms_ajax">
		</div>
	</span>
  </div>
</div>
  
  
  
  
	
	
