<div id="siteContent">
    <h1 dir="rtl">إدارة قاعدة البيانات</h1>

    <h3 dir="rtl">قوائم الترخيص</h3>
    <ul><li><a href="lists?type=qualification" dir="rtl">المؤهل</a></li>    	
    	<li><a href="lists?type=cadre" dir="rtl">إطار</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course" dir="rtl">دورة التعليم المستمر</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category" dir="rtl">فئة العمل التأديبي</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category" dir="rtl">سبب العمل التأديبي</a></li>
       	<li><a href="lists?type=out_migration_reason" dir="rtl">سبب الهجرة</a></li>
    	<li><a href="lists?type=training_disruption_category" dir="rtl">فئة انقطاع التدريب</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category" dir="rtl">سبب توقف التدريب</a></li>
    </ul><h3 dir="rtl">قوائم ديموغرافية</h3>
    <ul><li><a href="lists?type=academic_level" dir="rtl">المستوي الدراسي</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level" dir="rtl">شهادة</a></li>
    	<li><a href="lists?type=id_type" dir="rtl">نوع التعريف</a></li>
    	<li><a href="lists?type=marital_status" dir="rtl">الحالة الاجتماعية</a></li>
    </ul><h3 dir="rtl">قوائم جغرافية</h3>
    <ul><li><a href="lists?type=country" dir="rtl">بلد</a></li>
    	<li><a href="lists?type=region&amp;field=country" dir="rtl">منطقة</a></li>
    	<li><a href="lists?type=district&amp;field=region" dir="rtl">الإقليم</a></li>
    	<li><a href="lists?type=county&amp;field=district" dir="rtl">مقاطعة</a></li>
    </ul><h3 dir="rtl">قوائم المؤسسة</h3>
    <ul><li><a href="lists?type=health_facility" dir="rtl">مرفق الصحة</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution" dir="rtl">مؤسسة التدريب</a></li>
	</span>
    	<li><a href="lists?type=facility_agent" dir="rtl">وكيل المرفق</a></li>
    	<li><a href="lists?type=facility_type" dir="rtl">نوع المرفق</a></li>
    	<li><a href="lists?type=facility_status" dir="rtl">حالة المرفق</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3 dir="rtl">القوائم الإدارية</h3>
    <ul><li><a href="lists?type=verify_change" dir="rtl">تغييرات سجل التدقيق</a></li>
    </ul></span>
    
</div>
