<div>
	<div class="editRecord">
	<p dir="rtl">تعديل هذه المعلومة</p>
		<ul><li role="manager"><span type="form" name="out_migration:id" href="out_migration?id=" parent="true" dir="rtl">تحديث هذه المعلومة</span></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2" dir="rtl">معلومات عن الهجرة</th>
		</tr><span type="form" name="out_migration:country" showhead="default"></span>
	   	<span type="form" name="out_migration:new_address" showhead="default" class="even"></span>
	   	<span type="form" name="out_migration:out_migration_reason" showhead="default"></span>
	   	<span type="form" name="out_migration:organization" showhead="default" class="even"></span>
	   	<span type="form" name="out_migration:request_date" showhead="default"></span>
	</table></div> <!-- dataTable -->
</div>
