 <div id="siteContent">
    <h1 dir="rtl">عرض الشخص: <span type="form" name="person:surname"></span>, <span type="form" name="person:firstname"></span></h1>

	<div class="recordsData">
	<h3><a name="jump_individual" dir="rtl">معلومات الفرد</a></h3>
	<p class="editRecordsData" id="individual_links">
	  <a href="" class="hide" title="Hide" onclick="return hideDiv('individual', this );" dir="rtl">إخفاء</a>
	  <span type="module" name="PersonID" enabled="true">
	    <span task="person_can_edit_child_form_person_id" type="form" name="person:id" href="person_id?parent=" dir="rtl">إضافة تعريف</span>
	  </span>
	  <span task="person_can_edit_child_form_demographic" type="form" name="person:id" href="demographic?parent=" ifset="!demographic:id" dir="rtl">إضافة المعلومات الديموغرافية</span>
	  <span task="person_can_edit_child_form_education" type="form" name="person:id" href="education?parent=" ifset="!education:id" dir="rtl">إضافة معلومات التعليم</span>
	  <span type="module" name="PersonPassportPhoto" enabled="true">
	    <span task="person_can_edit_child_form_person_photo_passport" type="form" name="person:id" href="person_photo_passport?parent=" ifset="!person_photo_passport:id" dir="rtl">إضافة صورة جواز السفر</span>
	  </span>
	  <span type="module" name="PrintedForms" ifenabled="true">
	    <span task="printed_forms_can_access">
	      <span type="module" if="PrintedForms-&gt;hasValidForms('person')">
		<span type="form" href="PrintedForms/menu?id=" name="person:id" dir="rtl">نماذج موحدة</span>
	      </span>
	    </span>
	  </span>

	</p>
	
	<div id="individual">
	<div class="editRecord">
	<p dir="rtl">تعديل هذه المعلومة</p>
		<ul><li task="person_can_edit"><span type="form" name="person:id" href="person?id=" dir="rtl">تحديث هذه المعلومة</span></li>
			<li><span type="form" name="person:id" parent="true" href="field_history?field=surname,firstname,othername&amp;template=fullname&amp;type=person&amp;id=" dir="rtl">عرض تاريخ الإسم</span></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2" dir="rtl">الاسم / الجنسية</th>
		</tr><span type="form" name="person:surname" showhead="default"></span>
		<span type="form" name="person:firstname" showhead="default" class="even"></span>
		<span type="form" name="person:othername" showhead="default"></span>
		<span type="form" name="person:nationality" showhead="default" class="even"></span>
		<span type="form" name="person:residence" showhead="default"></span>
		<span type="form" name="person:home" showhead="default" class="even"></span>
	</table></div> <!-- dataTable -->
	
	<div id="person_photo_passport"></div>

	<div id="person_id"></div>
	
	<div id="demographic"></div>
	
	<div id="education"></div>
	

	
	</div> <!-- individual -->
	
	<br style="clear: both;"></div> <!-- recordsData -->

	<span name="PersonContact" type="moduled" ifenabled="true">
	  <div class="recordsData">
	    <h3><a name="jump_contact" dir="rtl">معلومات الاتصال</a></h3>
	    <p class="editRecordsData" id="contact_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('contact', this );" dir="rtl">إخفاء</a>
	    </p>
	    
        <div id="contact">
            <div id="person_contact_work"></div> <!-- work contact -->
            <div id="person_contact_personal"></div> <!-- personal contact -->
            <div id="person_contact_emergency"></div> <!-- emergency contact -->
            <div id="person_contact_other"></div> <!-- other contact -->
        </div> <!-- contact -->
	    <br style="clear: both;"></div> <!-- recordsData -->
	</span>
	


	<span type="module" name="nextOfKin" ifenabled="true">
	  <div class="recordsData" task="person_can_view_child_form_nextofkin">
	    <h3><a name="jump_nextofkin" dir="rtl">معلومات عن الأقارب</a></h3>
	    <p class="editRecordsData">
	      <a href="" class="hide" title="Hide" onclick="return hideDiv('nextofkin', this );" dir="rtl">إخفاء</a>
	      <span task="person_can_edit_child_form_nextofkin" type="form" name="person:id" href="nextofkin?parent=" dir="rtl">إضافة الأقارب</span>
	    </p>
	    <div id="nextofkin"></div>
	    <br style="clear: both;"></div>
	</span>


	<div class="recordsData">
	<h3><a name="jump_training" dir="rtl">معلومات التدريب</a></h3>
	<p class="editRecordsData" id="training_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('training', this );" dir="rtl">إخفاء</a>
		<span role="records" type="form" name="person:id" href="training?parent=" dir="rtl">اضافة التدريب</span>
		</p>

	<div id="training"></div> <!-- training -->
	<br style="clear: both;"></div> <!-- recordsData -->


    <span type="module" name="ihris-qualify-PersonTraining" ifenabled="true">
       <div class="recordsData">
       <h3><a name="jump_person_training" dir="rtl">التعليم المستمر</a></h3>
       <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('person_training', this );" dir="rtl">إخفاء</a>
           <span task="person_can_edit_child_form_person_training" type="form" name="person:id" href="person_training?parent=" dir="rtl">إضافة التعليم المستمر</span>
       </p>
       <div id="person_training"></div> <!-- record_verify -->
       <br style="clear: both;"></div> <!-- recordsData -->
    </span>



	<div class="recordsData">
	<h3><a name="jump_deployment" dir="rtl">نشر المعلومات</a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('deployment', this );" dir="rtl">إخفاء</a>
		<span role="records" type="form" name="person:id" href="deployment?parent=" dir="rtl">إضافة انتشار</span>
		<span type="form" name="person:id" href="history?form=deployment&amp;id=" dir="rtl">عرض تاريخ النشر</span>
		</p>

	<div id="deployment"></div> <!-- deployment -->
	<br style="clear: both;"></div> <!-- recordsData -->

	<div class="recordsData">
	<h3><a name="jump_out_migration" dir="rtl">معلومات عن الهجرة</a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('out_migration', this );" dir="rtl">إخفاء</a>
		<span role="records" type="form" name="person:id" href="out_migration?parent=" dir="rtl">إضافة  هجرة</span>
		</p>

	<div id="out_migration"></div> <!-- out_migration -->
	<br style="clear: both;"></div> <!-- recordsData -->

    <span type="module" name="PersonNotes" ifenabled="true">
	<div class="recordsData">
	<h3><a name="jump_notes" dir="rtl">ملاحظات</a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );" dir="rtl">إخفاء</a>
    	<span role="records" type="form" name="person:id" href="notes?parent=" dir="rtl">إضافة ملاحظة</span>
		</p>

	<div id="notes"></div>
	<br style="clear: both;"></div> <!--  recordsData -->
    </span>

    <span type="module" name="RecordVerify" ifenabled="true">
       <div class="recordsData">
       <h3><a name="jump_record_verify" dir="rtl">سجل تدقيق</a></h3>
       <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('record_verify', this );" dir="rtl">إخفاء</a>
               <span role="records" type="form" name="person:id" href="record_verify?parent=" dir="rtl">إضافة تدقيق</span>
               <span type="form" name="person:id" href="history?form=record_verify&amp;id=" dir="rtl">عرض التاريخ التدقيق</span>
               </p>

       <div id="record_verify"></div> <!-- record_verify -->
       <br style="clear: both;"></div> <!-- recordsData -->
    </span>


    <span type="module" name="PersonArchivedScan" ifenabled="true">
      <div class="recordsData" task="person_can_view_child_form_person_archive_scan">
	<h3>
	  <a name="jump_archived_scans" dir="rtl">السجلات الورقية الممسوحة ضوئيا</a>
	</h3>
	<p class="editRecordsData">
	  <a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );" dir="rtl">إخفاء</a>
	  <span task="person_can_edit_child_form_person_archive_scan" type="form" name="person:id" href="person_archive_scan?parent=" dir="rtl">إضافة مستند ممسوح ضوئيا</span>
	</p>
	
	<div id="person_archive_scan"></div>
	<br style="clear: both;"></div>
      <!--  recordsData -->
    </span>

  <span type="module" name="SelfService" ifenabled="true">
    <div class="recordsData" task="person_can_view_child_form_user_map">
      <h3>
        <a name="jump_self_service">Self Service</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('user_map', this );" dir="rtl">إخفاء</a>
  <span type="form" name="person:id" href="SelfService/userAccount?parent=" ifset="!user_map:id">Assign User Account</span>
      </p>
      
      <div id="user_map"></div>
      <br style="clear: both;"></div>
     <!--  recordsData -->
  </span>


    <!--<a href="construction">Print</a>-->
</div>
