<li class='configuration_list'>
  <div >
    <h3><span name='displayName' class='configDisplayName'></span></h3>
    <div class='configValue'>
      <span ifset='true' name='description'>
	<span class='configDescription'  name='description'></span>
      </span>
      <br/>
      <table class='colorPicker'>
	<tr>
	  <th>Chosen Color</th><th>Choose A Color</th>
	</tr>
	<tr>
	  <td id='showColorPickerBox' class='showColorPickerBox'></td>
	  <td> <div id='colorPickerBox' class='colorPickerBox'></div></td>
	</tr>
      </table>
      <input type='hidden' name='value_color_triple_single_0' value='' id='value_color_triple_single_0'/>
      <input type='hidden' name='value_color_triple_single_1' value='' id='value_color_triple_single_1'/>
      <input type='hidden' name='value_color_triple_single_2' value='' id='value_color_triple_single_2'/>
      <br/>
      <span ifset="true" name="configDefaultValue" id="configDefaultValue">
	<span class='configDefaultValue clickableText' id='defaultColor'>
	  (Default: <span name="configDefaultValue" ></span>)
	</span>
      </span>     
    </div>
  </div>
</li>