<div id="siteContent">
  <form id="form1" method="post" action="login">
  <table border="0" cellspacing="0" cellpadding="0" class="loginTable">
    <tr>
      <td colspan="2"><h2>Please Log In</h2>
        <span style="font-size: 12px;">Enter your username and password.</span>
        <hr /><span id="error_message" name="error_message"></span></td>
    </tr>
    <tr>
      <th>Username:</th>
      <th>Password:</th>
    </tr>
    <tr>
      <td><input type="text" name="username" /></td>
      <td><input type="password" name="password" /></td>
    </tr>

    <tr>
      <td colspan="2">
      <input type="submit" value="Login" name="submit" class="button" />
      <span class="forgot"><a href="forgot">Forgot username or password?</a></span></td>
    </tr>
  </table>
  </form>

</div>

