<div id="list_display" task="can_view_database_list_facility">
  
  <div class="editRecord">
    <p>Redigera denna information</p>
    <ul><li task="can_edit_database_list_facility"><span type="form" name="facility:id" href="lists?type=facility&amp;id=">Uppdatera denna information </span></li>
      <li><a href="lists?type=facility&amp;field=location">Välj ett annat kontor/anläggning</a></li>
    </ul></div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Kontor/anläggning</th>
      </tr><span type="form" name="facility:name" showhead="default"></span>
      <span type="form" name="facility:facility_type" showhead="default" addlink="lists?add=1&amp;type=facility_type" class="even"></span>
      <span type="form" name="facility:location" showhead="default" addlink="lists?add=1&amp;type=country">
      </span>
      <span type="module" ifenabled="true" name="DHIS_FacilityMap" ifset="true">
	<span type="form" name="facility:dhis_orgunit" showhead="default"></span>
      </span>
      <span type="module" ifenabled="true" name="InfoManStorage_FacilityMap">
	<span type="form" name="facility:csd_facility" showhead="default" display="reportSelect"></span>
      </span>      
      <tbody id="facility_contact"></tbody></table></div> <!-- dataTable -->
  
</div> <!-- list_display -->
