<div task="person_can_view_child_form_education">
	<div class="editRecord">
	<p>Upravit tuto informaci</p>
		<ul><li task="person_can_edit_child_form_education"><span type="form" name="education:id" href="education?id=" parent="true">Aktualizovat tuto Informaci</span></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Informace o instituci</th>
		</tr><span type="form" name="education:institution" showhead="default"></span>
		<span type="form" name="education:location" showhead="default" class="even"></span>
		<span type="form" name="education:year" showhead="default"></span>
		<span type="form" name="education:degree" showhead="default"></span>
		<span type="form" name="education:major" showhead="default"></span>
	</table></div> <!-- dataTable -->
</div>
