<div>
  <div id="action_link_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
		  <h3>Champ de formulaire</h3>Typiquement le nom de la forme primaire suivi de :id
		</td>
		<td>
		  <input name="formfield"></td>
	  </tr><tr><td>
		  <h3>Adresse du lien</h3>La page vers laquelle pointe le lien
		</td>
		<td>
		  <input name="linkloc"></td>
	  </tr><tr><td>
		  <h3>Texte du lien</h3>Le texte de la liste déroulante de lien d’action.
		</td>
		<td>
		  <input name="linktext"></td>
	  </tr><tr><td>
		  <h3>Autorisation:</h3>Le droit unique qu’un utilisateur doit avoir pour ce lien
		</td>
		<td>
			<select name="task"><option value="">Aucune tâche sélectionnée</option></select></td>
	  </tr></table></div>
</div>