<div>
  <h2 id="add_childform_link" class="add_childform_options_toggle"><a>Ajouter un nouveau formulaire enfant (sous-formulaire)</a></h2>
  <div id="add_childform_options_menu" class="optionsMenu optionsMenuWide toggable windowDraggable=true windowFloats=true">
    <div class="optionsMenuTitle window_drag">Ajouter un nouveau formulaire enfant (sous-formulaire) </div>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr></tr><tr><td style="width: 58em;">
	      <h3>Nom d’affichage:</h3>Le nom du formulaire fils qui est affiché à l’utilisateur final.
	    </td>
	    <td>
	      <input name="childform_displayname" id="childform_displayname" type="text" value="" class="validate=[nonempty]"></td>
      </tr><tr><td>
	      <h3>Type de formulaire fils:</h3>Sélectionner le type de formulaire client. Un seul de chaque type peut exister pour une page.
	    </td>
	    <td>
	      <select name="form_which" id="add_childform_type_selector"></select></td>
      </tr><tr><td colspan="2">
	      <div></div>
	      <span class="add_childform_options_hide button optionsMenuButton window_hide">Fermer</span>
	      <input type="submit" class="button only_options_menu" value="Add" id="add_childform"><div></div>
	      <br></td>
      </tr></table></div>
</div>