<div>
  <div id="auto_template_container">
	<table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
		  <h3>Titre:</h3>Le titre pour le formulaire principal
		</td>
		<td>
		  <input name="title"></td>
	</tr><tr><td>
		  <h3>Nom d'affichage du formaulaire:</h3>Le nom affiché pour le formulaire principal
		</td>
		<td>
		  <input name="form_display_name"></td>
	</tr><tr><td>
		  <h3>Ordre d'affichage des formulaires enfant:</h3>Cela mettra les formulaires enfant dans l’ordre voulu. Veuillez mettre un 1 - <span name="child_number"></span> pour chaque formulaire enfant dans l’ordre que vous voulez qu’ils s’affichent. Vous ne pouvez utiliser un nombre qu’une seule fois.
		</td>
		<td name="child_form_order"></td>      
    </tr><tr><td><br></td></tr><tr><td>
		  <h3>Ordre d'affichage:</h3>Cela mettra dans l’ordre tous les champs du formulaire principal de la page.
Veuillez mettre un 1 - <span name="display_number"></span> pour chaque nom de champ dans l’ordre dans lequel vous voulez les voire affichés. Vous ne pouvez utiliser chaque nombre qu’une seule fois.
		</td>
		<td>
		  <div name="display_order"></div>
		</td>
    </tr><tr><td><br></td></tr><tr><td>
		  <h3>Autorisations d'accès à la page:</h3>Les autorisations qu'un utilisateur doit avoir pour accéder à cette page:
		</td>
		<td>
		  <div style="width:600px; height:300px; overflow:scroll;" name="task"></div>
		</td>
	</tr></table><span id="action_links">
		<h2><a id="action_links_link" href="">Liens d’action</a></h2>
		 Modifier les champs du lien d’action
		<div class="indented" id="action_links_ajax">
		</div>
	</span>
	
	<span id="child_forms">
		<h2><a id="child_forms_link" href="">Formulaires enfant</a></h2>
		 Modifier les formulaires enfant sur une page
		<div class="indented" id="child_forms_ajax">
		</div>
	</span>
  </div>
</div>
  
  
  
  
	
	
