<div id="siteContent">
    <h1>Sabidi Mfumo</h1>

  <div task="can_edit_database_lists">
    <h2><a href="lists" class="adminDatabase">Panga Hazinadata</a></h2>
    <p>
    <!-- Create and update standard lists of data for selection in system menus. -->
    Panga nafasi na tengeneza na sasisha menyu mdondo.
    </p>
      <hr></div>


  <span type="module" name="admin" ifenabled="true">
    <div task="can_configure_modules">
      <h2><a href="admin/modules" class="adminDatabase">Sabidi Moduli</a></h2>
      <p>
	Wezesha na Lemaza moduli mbalimbali kwa ajili ya mfumo.
      </p>
      <hr></div>
  </span>

  <span type="module" name="page-builder" ifenabled="true">
    <div task="can_build_pages">
      <h2><a href="PageBuilder" class="adminDatabase">Page Builder</a></h2>
      <p>
	Build and Reconfigure pages
      </p>
      <hr></div>
  </span>

  <span type="module" name="form-builder" ifenabled="true">
    <div task="can_build_forms">
      <h2>Forms Builder</h2>
      <p>
	Build and Reconfigure Forms
      </p>
      <ul><li><a href="FormBuilder/forms" class="adminDatabase">Form Builder</a></li>
	<li><a href="FormBuilder/formClasses" class="adminDatabase">Form Class Builder</a></li>
      </ul><hr></div>
  </span>


  <span type="module" name="formRelationships" ifenabled="true">
    <div role="admin">
      <h2><a href="form_relationship_import" class="searchRecords"> Import Form Relationship Data</a></h2>
      <p>
	Import iHRIS data from a form relationship export or from a transform of another data source, such as an Excel file, to the iHRIS form relationship format.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CustomReports" ifenabled="true">
    <span task="custom_reports_can_edit_reportViews">
        <h2><a name="manage_reports" class="adminDatabase">Simamia Ripoti</a></h2>
      <p>
	Simamia ripoti zenye viwango zinazopataikana kwa watumiaji na tengeneza ripoti mpya za wateja.
      </p>
      <ul><li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">Tengeneza Mahusiano</a>
          <dl><dd>Fasili jinsi fomu zinavyohusiana kwa ajili ya matumizi kwenye ripoti.</dd></dl></li>
          <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">Ripoti</a>
          <dl><dd>Fasili ripoti kulingana na mahusiano yaliyofasiliwa mwanzoni.kila ripoti na nyuga zipi zinaweza kutumika kuwekea kikomo ripoti.</dd></dl></li>
          <li><a href="CustomReports/edit/reportViews">Oleza Ripoti</a>
          <dl><dd>Fasili oleza ripoti kulingana na ripoti zilizofasiliwa mwanzoni. Unaweza kuchagua nyuga zipi kuonyesha na pia kufasili oleza mpangoli ambayo inaonyesha chati au majibu yenye kikomo wakati mtumiaji anaifikia oleza ripoti.</dd></dl></li>
      </ul><hr></span>
  </span>



  <span type="module" name="magicDataBrowser" ifenabled="true">
    <div task="can_view_magic_data_browser">
      <h2><a href="magicDataBrowser/show" class="searchRecords">Vinjari Data za Ajabu</a></h2>
      <p>
	vinjari data usabidi iliyotumiwa na mfumo.
      </p>
      <hr></div>
  </span>


  <span type="module" name="SVS" ifenabled="true">
    <div task="SVS_allow_RetreieveValueSet">
      <h2><a href="SVS/config" class="searchRecords">Shared Value Sets</a></h2>
      <p>
	Download or configure Shared Value Sets for exchanging meta-data between components of your health information system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd_cache" ifenabled="true">
    <div task="csd_cache_admin">
      <h2><a href="csd_cache" class="searchRecords">Care Services Discovery</a></h2>
      <p>
	Adminster Caches for Care Services Discovery (CSD) export of data
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd-infoman-storage" ifenabled="true">
    <div role="admin">
      <h2><a href="remote_directory_selector/edit" class="searchRecords"> InterLinked Health Worker Registry</a></h2>
      <p>
	Set connection details for connecting with a Care Services Discovery (CSD) compliant InterLinked Health Worker Registry.
      </p>
      <hr></div>
  </span>





  <span type="module" name="tasks-roles" ifenabled="true">
    <div task="tasks_and_roles_can_access">
      <h2><a href="tasks-roles" class="adminDatabase">Ngwe na Wajibu</a></h2>
      <p>
	Panga Ngwe na Wajibu kwa ajili ya mfumo
      </p>
      
      <hr></div>
  </span>


  <span type="module" name="localeSelector" ifenabled="true">
    <div task="locales_can_edit_site_locale">
      <h2><a href="localeSelector/edit" class="adminDatabase">Simamia madhari maalumu</a></h2>
      <p>
	Simamia madhari maalumu zilizotengenezwa na kupatikana na mfumo
      </p>
      <hr></div>      
  </span>



  <span type="module" name="BackgroundProcess" ifenabled="true">
    <div task="can_view_background_processes">
      <h2><a href="BackgroundProcess" class="searchRecords">Michakato ya Mandhari nyuma</a></h2>
      <p>
	Tahini michakato ya mandhari nyuma uliyoianza
      </p>
      <hr></div>
  </span>


  <span type="module" name="formBrowser" ifenabled="true">
    <div task="can_view_form_browser">
      <h2><a href="formBrowser/showForm" class="searchRecords">Vinjari Fomu</a></h2>
      <p>
	Vinjari fomu iliyotumiwa na mfumo.
      </p>
      <hr></div>
  </span>

  <span type="module" ifenabled="true" name="DHIS_Metadata">
    <div role="admin">
      <h2><a href="dhis_metadata">Manage DHIS2 MetaData</a></h2>
      <p>
	Upload <a href="http://dhis2.org">DHIS2</a> MetaData such as organizational units and data elements.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CachedForms" ifenabled="true">
    <div task="cached_forms_can_administer">
      <h2><a href="CachedForms" class="adminDatabase">Fomu Kitanguni</a></h2>
      <p>
	Dhibiti utengenezaji wa fomu kitanguni
      </p>
      <hr></div>
  </span>
  
  <div task="can_create_or_edit_users">

    <h2><a href="user" class="adminDatabase">Panga Watumiaji</a></h2>
    <p>
    Tengeneza, sasisha na lemaza akaunti za mtumiaji ili kuweka usalama wa kufikia mfumo. Msimamizi wa mfumo tu ndiye anayeweza kufikia.
    </p>
      <hr></div>
  <span type="module" name="UserStatistics" ifenabled="true">
	<div task="can_view_user_statistics">
	  <h2><a href="UserStatistics" class="searchRecords">User Statistics</a></h2>
      View data entry statistics for users.
    </div>
  </span>
</div>
