<div id="siteContent">
    <h1>Panga Hazinadata</h1>

    <span type="module" ifenabled="true" name="Person">    
	  <h3>Orodha za kitakwimu</h3>
	  <ul><li><a href="lists?type=id_type">Aina ya utambulisho</a></li>
	    <li><a href="lists?type=marital_status">Hali ya Ndoa</a></li>
	  </ul></span>
    <span type="module" ifenabled="true" name="Geography">    
      <h3>Taarifa ya Kijiografia</h3>
      <ul><li><a href="lists?type=country">Nchi</a></li>
        <li><a href="lists?type=region">Mkoa</a></li>
        <li><a href="lists?type=district">Wilaya</a></li>
        <li><a href="lists?type=county">conuty</a></li>
        <span type="module" ifenabled="true" name="Currency">    
          <li><a href="lists?type=currency">Fedha</a></li>
        </span>
      </ul></span>
    <h3>Taarifa ya ziada</h3>
    <ul><span type="module" ifenabled="true" name="simple-competency">	
	  <li><a href="lists?type=competency_type">Aina ya Uwezo</a></li>
	  <li><a href="lists?type=competency&amp;field=competency_type">Uwezo</a></li>
    </span>
    <span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Kozi za Elimu Zinazoendelea</a></li>
    </span>
    <span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Taasisi ya Mafunzo</a></li>
	  <li><a href="lists?type=training_funder">Mfadhili wa Mafunzo</a></li>
    </span>
    </ul><span role="admin">
      <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
        <h2>Mass Delete</h2>
        <ul><li><a href="delete_by_search">By Person (Search Page)</a></li>
        </ul></span>
    </span>
</div>
