<div id="list_display" task="can_view_database_list_continuing_education_course">
	
	<div class="editRecord">
	<p>이 정보를 수정</p>
		<ul><li task="can_edit_database_list_continuing_education_course"><span type="form" name="continuing_education_course:id" href="lists?type=continuing_education_course&amp;id=">이 정보를 올리기</span></li>
			<li><a href="lists?type=continuing_education_course">다른 과정 선택</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">교육 과정 계속하기</th>
		</tr><span type="form" name="continuing_education_course:name" showhead="default"></span>
		<span type="form" name="continuing_education_course:credit_hours" showhead="default" class="even"></span>

	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
