<div id="siteContent">
    <h1 class="header">Add/Update Data Element</h1>
    <div id="error" />
    <form  method="post" action="DHIS-Dashboard/dataelement">
        <span type="form" name="dataelement:id"></span>
        <div id="form">

            <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th colspan="2">Data Element Information</th>
                </tr>
                <tr id="list_fields">
                    <td>
                        <span type="form" name="dataelement:name" showhead="default"></span>
                        <span type="form" name="dataelement:shortname" showhead="default"></span>
                        <span type="form" name="dataelement:dataelement_code" showhead="default" class="even"></span>
                        <span type="form" name="dataelement:dataset" showhead="default" addlink="lists?type=dataset&amp;add=1" ></span>
                    </td>
                </tr>
                <tr class="submitCell">
                    <td colspan="2">
                        <div id="button" />
                    </td>
                </tr>
            </table>

        </div>
    </form>
</div>
