<div class="hover_highlight" style="width:100%;display:table-row;">
  <div style="width:33%;display:table-cell;">
    <a href="view" name="id">
      <span name="surname"></span>, <span name="firstname"></span>
    </a>
  </div>
  
  <div style="width:33%;display:table-cell;">
    <a name="person_scheduled_training_course:id">  		   
	      Imprimer
    </a>
  </div>
  
  <div style="width:33%;display:table-cell;">
    <span class="clickable" name="remove_student">
      Supprimer
    </span>
  </div>
  <div style="width:33%;display:table-cell;">
    <span name="student_exam"></span>
  </div>
  <hr style="clear: both; max-height:0px; padding:0px; margin:0px;"></div>
