<div task="person_can_view_child_form_demographic">
  <div class="editRecord">
    <p>编辑此信息</p>
    <ul><li task="person_can_edit_child_form_demographic">
	<span type="form" ifset="demographic:id" name="demographic:id" href="demographic?id=" parent="true">
	  更新此信息
	</span>
      </li>
    </ul></div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0"><tbody><tr><th colspan="2">人口信息</th>
	</tr><span type="form" name="demographic:birth_date" showhead="default"></span>
	<span type="form" name="demographic:gender" showhead="default" class="even"></span>
	<span type="form" name="demographic:marital_status" showhead="default"></span>
      </tbody></table></div> <!-- dataTable -->
</div>
