<div id="list_display" task="can_view_database_list_training_course_status">
	
	<div class="editRecord">
	<p>Hariri Taarifa Hii</p>
		<ul><li task="can_edit_database_list_training_course_status"><span type="form" name="training_course_status:id" href="lists?type=training_course_status&amp;id=">Sasisha Taarifa hii </span></li>
			<li><a href="lists?type=training_course_status">Chagua Hali nyingine ya Kozi ya Mafunzo</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Hali ya Kozi ya Mafunzo</th>
		</tr><span type="form" name="training_course_status:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
