<div id="search_content">
  <p><strong>Waarschuwing:</strong> Hierdoor worden alle persoonrecords en de positierecords die gekoppeld zijn aan die persoon. Deze gegevens zijn niet automatisch te herstellen en u moet ervoor zorgen dat u back-ups hebt gemaakt voordat u deze handeling uitvoert.</p>
  <h2>Mensenlijst</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm"><ul id="search_list"></ul><div id="additional_form"></div>
    <input type="submit" value="Continue" class="button"></form>
</div>
