<div id="siteContent">
    <h1>Módulos Disponibles</h1>
    Aquí podrá activar o desactivar módulos, marcando o desmarcando las casillas y luego clickeando el <i>Activar</i> botón al final de la página. También puede configurar algunos módulos clikeando en el <i>Configurar</i> enlace asociado a ellos (si está disponible). Algunos módulos tienen sub-módulos asociados a ellos, pueden accederse haciendo click en el link de
    <i>sub-módulos</i> enlace o en la flecha que apunta hacia abajo si está presente.
    <br><br><a href="admin/modules">Menú Principal de Módulos</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
