<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">개인 정보</a></li>
	<span type="module" name="PersonContact" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">연락처 정보</a></li>
	</span>
	<li><a href="#jump_qualification" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">자격증</a></li>
	<span type="module" name="PersonEmployment" ifenabled="true">
	  <li><a href="#jump_employment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">고용 기록</a></li>
	</span>
	<span type="module" name="PersonEducation" ifenabled="true">
	  <li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">교육 기록</a></li>
	</span>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">메모</a></li>
</ul>