<div id="siteContent">
    <h1>Ffurfweddu system</h1>

  <div task="can_edit_database_lists">
    <h2><a href="lists" class="adminDatabase">Gweinyddu cronfa ddata</a></h2>
    <p>
    <!-- Create and update standard lists of data for selection in system menus. -->
    Gweinyddu safleoedd a chreu a diweddaru cwymplenni
    </p>
      <hr></div>


  <span type="module" name="admin" ifenabled="true">
    <div task="can_configure_modules">
      <h2><a href="admin/modules" class="adminDatabase">Ffurfweddu modylau</a></h2>
      <p>
	Galluogi ac analluogi amryw fodylau ar gyfer y system
      </p>
      <hr></div>
  </span>

  <span type="module" name="page-builder" ifenabled="true">
    <div task="can_build_pages">
      <h2><a href="PageBuilder" class="adminDatabase">Page Builder</a></h2>
      <p>
	Build and Reconfigure pages
      </p>
      <hr></div>
  </span>

  <span type="module" name="form-builder" ifenabled="true">
    <div task="can_build_forms">
      <h2>Forms Builder</h2>
      <p>
	Build and Reconfigure Forms
      </p>
      <ul><li><a href="FormBuilder/forms" class="adminDatabase">Form Builder</a></li>
	<li><a href="FormBuilder/formClasses" class="adminDatabase">Form Class Builder</a></li>
      </ul><hr></div>
  </span>


  <span type="module" name="formRelationships" ifenabled="true">
    <div role="admin">
      <h2><a href="form_relationship_import" class="searchRecords"> Import Form Relationship Data</a></h2>
      <p>
	Import iHRIS data from a form relationship export or from a transform of another data source, such as an Excel file, to the iHRIS form relationship format.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CustomReports" ifenabled="true">
    <span task="custom_reports_can_edit_reportViews">
        <h2><a name="manage_reports" class="adminDatabase">Rheoli adroddiadau</a></h2>
      <p>
	Rheoli'r adroddiadau safonol ar gael i ddefnyddwyr a chreu adroddiadau cyffredin newydd
      </p>
      <ul><li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">Ffurfio perthynas</a>
          <dl><dd>Diffinio sut y gellir defnyddio ffurflenni mewn adroddiadau</dd></dl></li>
          <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">Adroddiadau</a>
          <dl><dd>Diffiniwch adroddiadau a seiliwyd ar berthynasau a ddiffiniwyd eisoes. Gallwch ddewis pa feysydd sydd ar gael i bob adroddiad a pha feysydd y gellir eu defnyddio i gyfyngu'r adroddiad</dd></dl></li>
          <li><a href="CustomReports/edit/reportViews">Gweld adroddiadau</a>
          <dl><dd>Diffiniwch adroddiadau a seiliwyd ar berthynasau a ddiffiniwyd eisoes. Gallwch ddewis pa feysydd sydd ar gael i bob adroddiad a pha feysydd y gellir eu defnyddio i gyfyngu'r adroddiad</dd></dl></li>
      </ul><hr></span>
  </span>



  <span type="module" name="magicDataBrowser" ifenabled="true">
    <div task="can_view_magic_data_browser">
      <h2><a href="magicDataBrowser/show" class="searchRecords">Pori Data Hud</a></h2>
      <p>
	Pori'r data ffurfweddu a ddefnyddiwyd gan y system
      </p>
      <hr></div>
  </span>


  <span type="module" name="SVS" ifenabled="true">
    <div task="SVS_allow_RetreieveValueSet">
      <h2><a href="SVS/config" class="searchRecords">Shared Value Sets</a></h2>
      <p>
	Download or configure Shared Value Sets for exchanging meta-data between components of your health information system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd_cache" ifenabled="true">
    <div task="csd_cache_admin">
      <h2><a href="csd_cache" class="searchRecords">Care Services Discovery</a></h2>
      <p>
	Adminster Caches for Care Services Discovery (CSD) export of data
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd-infoman-storage" ifenabled="true">
    <div role="admin">
      <h2><a href="remote_directory_selector/edit" class="searchRecords"> InterLinked Health Worker Registry</a></h2>
      <p>
	Set connection details for connecting with a Care Services Discovery (CSD) compliant InterLinked Health Worker Registry.
      </p>
      <hr></div>
  </span>





  <span type="module" name="tasks-roles" ifenabled="true">
    <div task="tasks_and_roles_can_access">
      <h2><a href="tasks-roles" class="adminDatabase">Tasgau a Rolau</a></h2>
      <p>
	Gweinyddu Tasgau a Rolau ar gyfer y System
      </p>
      
      <hr></div>
  </span>


  <span type="module" name="localeSelector" ifenabled="true">
    <div task="locales_can_edit_site_locale">
      <h2><a href="localeSelector/edit" class="adminDatabase">Manage Locales</a></h2>
      <p>
	Manage the Locales made available by the system
      </p>
      <hr></div>      
  </span>



  <span type="module" name="BackgroundProcess" ifenabled="true">
    <div task="can_view_background_processes">
      <h2><a href="BackgroundProcess" class="searchRecords">Prosesau Cefndirol</a></h2>
      <p>
	Archwilio'r prosesau cefndirol rydych chi wedi dechrau
      </p>
      <hr></div>
  </span>


  <span type="module" name="formBrowser" ifenabled="true">
    <div task="can_view_form_browser">
      <h2><a href="formBrowser/showForm" class="searchRecords">Pori ffurflenni</a></h2>
      <p>
	Pori'r ffurflenni a ddefnyddiwyd gan y system
      </p>
      <hr></div>
  </span>

  <span type="module" ifenabled="true" name="DHIS_Metadata">
    <div role="admin">
      <h2><a href="dhis_metadata">Manage DHIS2 MetaData</a></h2>
      <p>
	Upload <a href="http://dhis2.org">DHIS2</a> MetaData such as organizational units and data elements.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CachedForms" ifenabled="true">
    <div task="cached_forms_can_administer">
      <h2><a href="CachedForms" class="adminDatabase">Ffurflenni celciedig</a></h2>
      <p>
	Rheoli creu ffurflenni celciedig
      </p>
      <hr></div>
  </span>
  
  <div task="can_create_or_edit_users">

    <h2><a href="user" class="adminDatabase">Gweinyddu defnyddwyr</a></h2>
    <p>
    Creu, diweddaru ac analluogi cyfrifon defnyddwyr er mwyn sicrhau mynediad diogel i'r system. Cyfyngir y mynediad gan y Gweinyddwr System
    </p>
      <hr></div>
  <span type="module" name="UserStatistics" ifenabled="true">
	<div task="can_view_user_statistics">
	  <h2><a href="UserStatistics" class="searchRecords">User Statistics</a></h2>
      View data entry statistics for users.
    </div>
  </span>
</div>
