<div>
  

  <h2>Crear una nueva página</h2>
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Nombres de página</h3>Una clave interna utilizada para identificar la página. También se utiliza en la URL para acceder a la página. No puede ser la misma clave para cualquier otra página actual.
      </td>
      <td>
	<input name="name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
    </tr><tr><td>
	<h3>Tipo de página:</h3>El tipo de página que crear.
      </td>
      <td>
	<select name="class"></select></td>
    </tr></table><h2>Editar una página existente</h2>
  <ul id="pages"></ul></div>
