<div id="search_content">
  <p><strong>WARNUNG:</strong> Dies wird sowohl alle vorhandenen, mit dieser Person verknüpften Personendatensätze, wie auch alle, gegenwärtig mit dieser Person verknüpften Stellen-Datensätze löschen. Diese Daten können nicht automatisch wiederhergestellt werden. Bevor Sie dies tun, müssen Sie sicherstellen, dass Sie für diese Daten eine Sicherung erstellt haben.</p>
  <h2>Personenliste</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm"><ul id="search_list"></ul><div id="additional_form"></div>
    <input type="submit" value="Continue" class="button"></form>
</div>
