<div>
  <h2>Şu anki DHIS meta verileri dışa aktar<h2>  
  <ul><li>Dosya boyutu: <span name="dhis_export_filesize"></span></li>
    <li><a href="lists?type=dhis_orgunit">Kuruluş birimleri</a></li>
    <li><a href="lists?type=dhis_data_element">Veri Elemanı</a></li>
  </ul><h2>Şu anki DHIS meta verileri dışa aktar</h2>
  <div id="error_messages"></div>
  </h2></h2><form method="POST" enctype="multipart/form-data">
    <label for="dhisexport">DHIS meta verileri dışa aktarma:</label>
    <input type="file" name="dhisexport"><input type="submit" value="Upload"></form>
  
</div>
