<div>
  <h2>Existing Limit</h2>
  <p>There is a limit on the field <i><span name='limit_field'></span></i> with style <i><span name='limit_style'></span></i>.</p>
  <input name='limit_style' type='hidden'/>
  <input name='limit_field' type='hidden'/>
  <table class='formRelationship multiFormTable' cellpadding="0" cellspacing="0" border="0" >
    <tr class='limit_menu' >
      <td colspan='2' class='limit_menu'>
	<div id='limit_type_menu' class='limit_type_menu'>
	</div>
      </td>
    </tr>
  </table>
  You may <a name='remove_limit_link'>Remove</a> this limit.
</div>
