<div>
  <h2>Choose Limit Node Type</h2>
  You have not defined any limiting information under this node.
  You may either choose to limit by a field or set this node to
  be an operator.
  <br/>
  <table class='formRelationship multiFormTable' cellpadding="0" cellspacing="0" border="0" id='new_limit_styles'>
    <tr>
      <td>
	<input id='limit_type' type='radio' name='limit_type' value='operator' />Operator Node
      </td>
      <td>
	<select name='limit_operator'  id='limit_operator'>
	  <option value=''>Select One</option>
	  <option value='NOT'>NOT</option>
	  <option value='AND'>AND</option>
	  <option value='OR'>OR</option>
	  <option value='XOR'>XOR</option>
	</select>
      </td>
    </tr>
    <tr>
      <td colspan='2'>
	<input  type='radio' name='limit_type' value='limit' />
	Limit by a field (end node)
      </td>
    </tr>
    <tr>
      <td colspan='2'>
	<input  type='radio' name='limit_type' checked='checked' value=''/>
	No limit
      </td>
    </tr>

  </table>
  
</div>
