<div>
  <div name="exam_student_list" style="display:none">
    <div style="display:table-row">
      <div style="width:30%;display:table-cell">
        <b>Student</b>
      </div>
      <div style="width:20%;display:table-cell">
        <b>Certeefeecate</b>
      </div>
      <div style="width:20%;display:table-cell">
        <b>Remuiv Parteecipant</b>
      </div>
      <div style="width:30%;display:table-cell">
        <b><span printf="'%s Ootcomes',$exam_type"></span></b>
      </div>
      <hr style="clear: both; max-height:0px; padding:0px; margin:0px;"></div>
  </div>
</div>
