<div>
  <h2>Huidige DHIS-metadata exporteren<h2>  
  <ul><li>Bestandsgrootte: <span name="dhis_export_filesize"></span></li>
    <li><a href="lists?type=dhis_orgunit">Organisatorische eenheden</a></li>
    <li><a href="lists?type=dhis_data_element">Gegevenselementen</a></li>
  </ul><h2>Metadata-export van DHIS uploaden</h2>
  <div id="error_messages"></div>
  </h2></h2><form method="POST" enctype="multipart/form-data">
    <label for="dhisexport">Metadata-export van DHIS:</label>
    <input type="file" name="dhisexport"><input type="submit" value="Upload"></form>
  
</div>
