<div>
  <h2>Límite existente</h2>
  <p>Hay un límite en el campo <i><span name="limit_field"></span></i> con estilo <i><span name="limit_style"></span></i>.</p>
  <input name="limit_style" type="hidden"><input name="limit_field" type="hidden"><table class="formRelationship multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr class="limit_menu"><td colspan="2" class="limit_menu">
	<div id="limit_type_menu" class="limit_type_menu">
	</div>
      </td>
    </tr></table>
  Puedes <a name="remove_limit_link">Borrar</a> este límite.
</div>
