<div>
  <div id="container">
    

    <h2>Crear una nueva clase de formulario</h2>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nombre de la clase de formulario</h3>Una clave interna usada para identificar la clase de formulario. No puede ser la misma clave que se utiliza para cualquiera de las clases de formulario existentes o de otra clase de PHP.
	</td>
	<td>
	  <input name="name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
      </tr><tr><td>
	  <h3>Extiende:</h3>La clase formulario base que esta clase extiende. Heredará las propiedades de la clase base.
	</td>
	<td>
	  <select name="extends"></select></td>
      </tr></table><h2>Editar una clase de formulario existente</h2>
    <ul id="form_classes"></ul></div>
</div>
