<div>
  

  <h2>Form Options</h2>
  <div id="container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td colspan="2">
	  <h3>Child Forms</h3>Select the  forms that can be child forms of this form.  
	  <div name="child_forms"></div>
	</td>
      </tr><tr><td>
	  <h3>Descripción</h3>Una descripción de este formulario
	</td>
	<td>
	  <input name="description"></td>
      </tr></table><span id="child_form_data">
      <h2><a id="child_form_data_link" href="">Child Form Data</a></h2>
      Specify limits and orderings that can be applied to child forms
      <div class="indented" id="child_form_data_ajax"></div>
    </span>


  </div>
</div>
