<div>
    <h2>Metadatos</h2>
  <div id="display_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Enlace de campo</h3>Lista separada por dos puntos de formularios[+campo] para definir jerarquía
	</td>
	<td>
	  <input name="fields"></td>
      </tr><tr><td>
	  <h3>Estilo de visualización</h3>La forma en que se muestra este formulario cuando se edita.
	</td>
	<td>
	  <select name="style"></select></td>
      </tr><tr><td>
	  <h3>Report Display</h3>The report used when populating data for populating drop-downs, tree views.  You should consider using this if the field linking is complicated.
	</td>
	<td>
	  <select name="display_report"><option value="">Select A Report</option></select></td>
      </tr></table><span id="orders">
      <h2><a id="orders_link" href="">Órdenes</a></h2>
      Establecer el orden por campos
      <div class="indented" id="orders_ajax"></div>
    </span>


</div>
</div>