<div>
  

  <h2>Form Options</h2>
  <div id="container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Clase de formulario</h3>Select the class that this form extends.
	</td>
	<td>
	  <select name="class"></select></td>
      </tr><tr><td>
	  <h3>Nombre para mostrar</h3>Display name for this form
	</td>
	<td>
	  <input name="display"></td>
      </tr><tr><td>
	  <h3>Almacenamiento</h3>
	</td>
	<td>
	  <b><span name="storage"></span></b> <br>To prevent accidental data loss, changing of the form storage mechanism by this user interface is diabled for now.
	</td>
      </tr></table><span id="meta">
      <h2><a id="meta_link" href="">Metadatos</a></h2>
      Set meta data about this form
      <div class="indented" id="meta_ajax"></div>
    </span>    
    
    <span id="storage_options">
      <h2><a id="storage_options_link" href="">Form Storage Options</a></h2>
      Set form storage options for this form
      <div class="indented" id="storage_options_ajax"></div>
    </span>



  </div>
</div>
