<div>
  

  <h2>Clase de formulario</h2>
  <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<h3>Nombre:</h3>Nombre de la clase de formulario
      </td>
      <td>
	<h3><span name="name"></span></h3>
      </td>
    </tr><tr><td>
	<h3>Extiende:</h3>La clase base que este formulario extiende. Heredará las propiedades de esta clase base.
      </td>
      <td>
	<select name="extends"><option value="I2CE_Form">I2CE_Form</option></select></td>
    </tr><tr><td>
	<h3>Nombre para mostrar:</h3>Mostrar nombre para esta clase de formulario
      </td>
      <td>
	<input name="display"></td>
    </tr></table><span id="fields">
    <h2><a id="fields_link" href="">Campos</a></h2>
    Editar campos para esta clase
    <div class="indented" id="fields_ajax"></div>
  </span>


  <span id="meta">
    <h2><a id="meta_link" href="">Meta</a></h2>
    Editar metadatos para esta clase
    <div class="indented" id="meta_ajax"></div>
  </span>
</div>
