<div>
  

  <h2>Campos de clase de formulario</h2>
  <div id="fields_container">
    <h2>Crear un nuevo campo</h2>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nombre del campo</h3>Una clave interna usada para identificar el nombre del campo. No puede ser la misma clave que se utiliza para cualquier clase de campo.  
	</td>
	<td>
	  <input name="name" type="text" value="" class="validate=[magicdatakeyorblank,notinlist]"></td>
      </tr><tr><td>
	  <h3>Clase de campo de formulario</h3>El tipo de datos para este campo.
	</td>
	<td>
	  <select name="formfield"></select></td>
      </tr><tr><td>
	  <h3>Cabecera/etiqueta predeterminada</h3>La cabecera (o etiqueta) predeterminada utilizada cuando este campo se muestra en una página web.
	</td>
	<td>
	  <input name="header"></td>
      </tr></table><h2>Campos existentes</h2>
    <ul id="field_list" class="report_forms_list"></ul></div>
</div>  
  
  
  
	
	
