<div id="list_display" task="can_view_database_list_continuing_education_course">
	
	<div class="editRecord">
	<p>இத்தகவலைத் தொகுக்கவும்</p>
		<ul><li task="can_edit_database_list_continuing_education_course"><span type="form" name="continuing_education_course:id" href="lists?type=continuing_education_course&amp;id=">இத்தகவலை இற்றைப் படுத்தவும்</span></li>
			<li><a href="lists?type=continuing_education_course">இன்னொரு பிரிவைத் தேர்ந்தெடுக்கவும்</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">படித்துக் கொண்டிருக்கும் கல்விப் பிரிவு</th>
		</tr><span type="form" name="continuing_education_course:name" showhead="default"></span>
		<span type="form" name="continuing_education_course:credit_hours" showhead="default" class="even"></span>

	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
