<div id="list_display" task="can_view_database_list_region">
	
	<div class="editRecord">
	<p>この情報を編集</p>
		<ul><li task="can_edit_database_list_region"><span type="form" name="region:id" href="lists?type=region&amp;id=">この情報を更新</span></li>
			<li><a href="lists?type=region&amp;field=country">他の地域を選択</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">地方</th>
		</tr><span type="form" name="region:name" showhead="default"></span>
		<span type="form" name="region:country" showhead="default" class="even"></span>
		<span type="form" name="region:code" showhead="default"></span>

	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
