<div id="siteContent">
    <h1>Moduli disponibili</h1>
    Qui puoi selezionare i moduli per abilitare o disabilitare selezionando o deselezionando le caselle e poi premendo su <i>Abilita</i> bottone in cima alla pagina. Puoi anche configurare alcuni moduli cliccando sul <i>Configura</i> link associato se è presente. Alcuni moduli hanno inoltre dei sottomoduli associati, ai quali puoi accedere cliccando sul link dei
    <i>sottomoduli</i> link or on the down-pointing arrow if present.
    <br><br><a href="admin/modules">Main Module Menu</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
