<div>
	<div class="editRecord">
	<p>Gegevens bewerken</p>
		<ul><li task="person_can_edit_child_form_notes"><span type="form" name="notes:id" href="notes?id=" parent="true">Gegevens bijwerken</span></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable" task="person_can_view_child_form_notes">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Opmerking</th>
		</tr><span type="form" name="notes:date_added" showhead="default"></span>
	<span type="form" name="notes:note" showhead="default" class="even"></span>
	</table></div> <!-- dataTable -->
</div>
