<div id="siteContent">
    <h1>Confeegure System</h1>

  <div task="can_edit_database_lists">
    <h2><a href="lists" class="adminDatabase">Admeenister Database</a></h2>
    <p>
    <!-- Create and update standard lists of data for selection in system menus. -->
    Admeenister poseetions n cræft n update drapdoon menus.
    </p>
      <hr></div>


  <span type="module" name="admin" ifenabled="true">
    <div task="can_configure_modules">
      <h2><a href="admin/modules" class="adminDatabase">Confeegure Modules</a></h2>
      <p>
	Enable n disable the vareeis modules fer the system.
      </p>
      <hr></div>
  </span>

  <span type="module" name="page-builder" ifenabled="true">
    <div task="can_build_pages">
      <h2><a href="PageBuilder" class="adminDatabase">The Page Bigger</a></h2>
      <p>
	Big n Reconfeegur pages
      </p>
      <hr></div>
  </span>

  <span type="module" name="form-builder" ifenabled="true">
    <div task="can_build_forms">
      <h2>The Forms Bigger</h2>
      <p>
	Big n Reconfeegur The Forms
      </p>
      <ul><li><a href="FormBuilder/forms" class="adminDatabase">The Form Bigger</a></li>
	<li><a href="FormBuilder/formClasses" class="adminDatabase">Form Claiss Bigger</a></li>
      </ul><hr></div>
  </span>


  <span type="module" name="formRelationships" ifenabled="true">
    <div role="admin">
      <h2><a href="form_relationship_import" class="searchRecords"> Import Form Relationship Data</a></h2>
      <p>
	Import iHRIS data from a form relationship export or from a transform of another data source, such as an Excel file, to the iHRIS form relationship format.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CustomReports" ifenabled="true">
    <span task="custom_reports_can_edit_reportViews">
        <h2><a name="manage_reports" class="adminDatabase">Manage Reports</a></h2>
      <p>
	Manage the staundart reports available til uisers n cræft new custym reports.
      </p>
      <ul><li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">Form Relationships</a>
          <dl><dd>Define hou forms ar relatit fer uiss in reports.</dd></dl></li>
          <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">Reports</a>
          <dl><dd>Define reports based oan preveeislie defined relationships. Ye can chuise whit fields ar available til ilka report n whit fields can be uised tae leemit the report.</dd></dl></li>
          <li><a href="CustomReports/edit/reportViews">Report Seeins</a>
          <dl><dd>Define report seeins based oan preveeislie defined reports. Ye can chuise whit fields tae displey n forby define ae defaut seein that displeys ae chairt or leemitit ootcomes whan ae uiser accesses the report seein.</dd></dl></li>
      </ul><hr></span>
  </span>



  <span type="module" name="magicDataBrowser" ifenabled="true">
    <div task="can_view_magic_data_browser">
      <h2><a href="magicDataBrowser/show" class="searchRecords">Brouse Mageec Data</a></h2>
      <p>
	Brouse the confeeguration data uised b the system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="SVS" ifenabled="true">
    <div task="SVS_allow_RetreieveValueSet">
      <h2><a href="SVS/config" class="searchRecords">Shared Value Sets</a></h2>
      <p>
	Download or configure Shared Value Sets for exchanging meta-data between components of your health information system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd_cache" ifenabled="true">
    <div task="csd_cache_admin">
      <h2><a href="csd_cache" class="searchRecords">Care Services Discovery</a></h2>
      <p>
	Adminster Caches for Care Services Discovery (CSD) export of data
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd-infoman-storage" ifenabled="true">
    <div role="admin">
      <h2><a href="remote_directory_selector/edit" class="searchRecords"> InterLinked Health Worker Registry</a></h2>
      <p>
	Set connection details for connecting with a Care Services Discovery (CSD) compliant InterLinked Health Worker Registry.
      </p>
      <hr></div>
  </span>





  <span type="module" name="tasks-roles" ifenabled="true">
    <div task="tasks_and_roles_can_access">
      <h2><a href="tasks-roles" class="adminDatabase">Tasks n Roles</a></h2>
      <p>
	Admeenister Tasks n Roles fer the System
      </p>
      
      <hr></div>
  </span>


  <span type="module" name="localeSelector" ifenabled="true">
    <div task="locales_can_edit_site_locale">
      <h2><a href="localeSelector/edit" class="adminDatabase">Manage Locales</a></h2>
      <p>
	Manage the Locales makit available bi the system
      </p>
      <hr></div>      
  </span>



  <span type="module" name="BackgroundProcess" ifenabled="true">
    <div task="can_view_background_processes">
      <h2><a href="BackgroundProcess" class="searchRecords">Backgroond Processes</a></h2>
      <p>
	Examine backgroond processes that ye'v stairtit
      </p>
      <hr></div>
  </span>


  <span type="module" name="formBrowser" ifenabled="true">
    <div task="can_view_form_browser">
      <h2><a href="formBrowser/showForm" class="searchRecords">Brouse Forms</a></h2>
      <p>
	Brouse the forms uised bi the system.
      </p>
      <hr></div>
  </span>

  <span type="module" ifenabled="true" name="DHIS_Metadata">
    <div role="admin">
      <h2><a href="dhis_metadata">Manage DHIS2 MetaData</a></h2>
      <p>
	Uplaid <a href="http://dhis2.org">DHIS2</a> MetaData like organisational units n data elements.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CachedForms" ifenabled="true">
    <div task="cached_forms_can_administer">
      <h2><a href="CachedForms" class="adminDatabase">Cached Forms</a></h2>
      <p>
	Control the cræftin o cached forms
      </p>
      <hr></div>
  </span>
  
  <div task="can_create_or_edit_users">

    <h2><a href="user" class="adminDatabase">Admeenister Uisers</a></h2>
    <p>
    Cræft, update n disable uiser accoonts tae enforce secure access til the system. Access is leemitit til the System Admeenistrater.
    </p>
      <hr></div>
  <span type="module" name="UserStatistics" ifenabled="true">
	<div task="can_view_user_statistics">
	  <h2><a href="UserStatistics" class="searchRecords">Uiser Stateestics</a></h2>
      See data entrie stateestics fer uisers.
    </div>
  </span>
</div>
