<div id="siteContent">
    <h1>Admeenister Database</h1>

    <span type="module" ifenabled="true" name="Person">    
	  <h3>Demographeec Leets</h3>
	  <ul><li><a href="lists?type=id_type">Identifeecation Type</a></li>
	    <li><a href="lists?type=marital_status">Mareetal Status</a></li>
	  </ul></span>
    <span type="module" ifenabled="true" name="Geography">    
      <h3>Geographeec Information</h3>
      <ul><li><a href="lists?type=country">Kintra</a></li>
        <li><a href="lists?type=region">Region</a></li>
        <li><a href="lists?type=district">Laundairt</a></li>
        <li><a href="lists?type=county">Kintra</a></li>
        <span type="module" ifenabled="true" name="Currency">    
          <li><a href="lists?type=currency">Currencie</a></li>
        </span>
      </ul></span>
    <h3>Addeetional Information</h3>
    <ul><span type="module" ifenabled="true" name="simple-competency">	
	  <li><a href="lists?type=competency_type">Competancie Type</a></li>
	  <li><a href="lists?type=competency&amp;field=competency_type">Competancie</a></li>
    </span>
    <span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Conteenuin Education Coorse</a></li>
    </span>
    <span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Trainin Institution</a></li>
	  <li><a href="lists?type=training_funder">Trainin Funder</a></li>
    </span>
    </ul><span role="admin">
      <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
        <h2>Mass Delyte</h2>
        <ul><li><a href="delete_by_search">Bi Person (Rake Page)</a></li>
        </ul></span>
    </span>
</div>
