<div id="siteContent">
    <h1>Administer Users</h1>
    <div id="error" />
    <form method="post" action="user">
        <span type="form" name="id" />
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr><td>
                <div id="form">
                	<span type="form" name="user:username" showhead="default" noedit="true"></span>
                	<span type="form" name="user:firstname" showhead="default"></span>
                	<span type="form" name="user:lastname" showhead="default"></span>
                	<span type="form" name="user:email" showhead="default"></span>
                	<span type="form" name="user:role" showhead="default" blank="Select One / No Access"></span>
                	<span type="form" name="user:password" 
                		showhead="default" confirm="confirm">
                	</span>
                </div>
            </td></tr>
            <tr class="submitCell">
                <td>
                    <div id="button" />
                </td>
            </tr>
        </table>
    </form>
</div>
