<div id="user_statistics" class="recordsData">
  <h3>登录历史</h3>
  <div>
    <div class="editRecord">
      <p>查看其它统计</p>
      <ul><li><span type="form" name="user:username" href="UserStatistics?limits:username:equals:value=user%7C">数据录入历史</span></li>
        <li><a href="UserStatistics">所有用户的数据录入历史</a></li>
      </ul></div>
    <div class="dataTable">
      <table border="0" cellspacing="0" cellpadding="0"><thead><tr><th colspan="4">登录历史（最后 <span name="history_limit"></span> 记录）</th>
          </tr></thead><tbody id="user_stats_login_history"></tbody></table></div>
  </div>
  <br clear="all"></div>
