<div id="siteContent">
    <h1>Pangasiwaan ang Kalipunan ng Dato</h1>

    <span type="module" ifenabled="true" name="Person">    
	  <h3>Demograpikong mga Tala</h3>
	  <ul><li><a href="lists?type=id_type">Uri ng Pagkakakilanlan</a></li>
	    <li><a href="lists?type=marital_status">Katayuang Pangpag-aasawa</a></li>
	  </ul></span>
    <span type="module" ifenabled="true" name="Geography">    
      <h3>Kabatirang Heograpiko</h3>
      <ul><li><a href="lists?type=country">Bansa</a></li>
        <li><a href="lists?type=region">Rehiyon</a></li>
        <li><a href="lists?type=district">Distrito</a></li>
        <li><a href="lists?type=county">Kondado</a></li>
        <span type="module" ifenabled="true" name="Currency">    
          <li><a href="lists?type=currency">Salaping umiiral</a></li>
        </span>
      </ul></span>
    <h3>Karagdagang Kabatiran</h3>
    <ul><span type="module" ifenabled="true" name="simple-competency">	
	  <li><a href="lists?type=competency_type">Uri ng Kakayahan</a></li>
	  <li><a href="lists?type=competency&amp;field=competency_type">Kakayahan</a></li>
    </span>
    <span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Kurso ng Ipinagpapatuloy na Edukasyon</a></li>
    </span>
    <span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Institusyong Sanayan</a></li>
	  <li><a href="lists?type=training_funder">Tagapagpondo ng Pagsasanay</a></li>
    </span>
    </ul><span role="admin">
      <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
        <h2>Mass Delete</h2>
        <ul><li><a href="delete_by_search">By Person (Search Page)</a></li>
        </ul></span>
    </span>
</div>
