<div id="siteContent">
    <h1>Verfügbare Module</h1>
    Hier kannst Du Module aktivieren und deaktivieren, indem Du die Kontrollkästchen aus- und abwählst und die Schaltfläche <i>Aktivieren</i> unten auf Seite anklickst. Du kannst auch bestimmte Module konfigurieren, indem Du auf den zugehörigen Link <i>Konfigurieren</i> klickst, sofern einer vorhanden ist. Einige Module haben auch zugehörige Untermodule, auf die mittels eines Klicks auf den Link
    <i>Untermodule</i> Verlinken oder auf den nach unten zeigenden Pfeil, falls vorhanden.
    <br><br><a href="admin/modules">Hauptmenü für Module</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
