<form method="post"  class='configForm' name='swiss_form' id='swiss_form' action='' enctype="multipart/form-data">
  <input type="hidden" name="swissFactory:path" value=''/>
  <span name='swiss_edit_content'/>
  <div id="button" class='submitCell'>
    <input  class='button' type="submit"  value="Update" id="swiss_update_button"/>
  </div>
  <br/>
  <span name='swiss_options'>
    <span ifset='true' name='parent_config_link'>
      <a name='parent_config_link'>Parent</a>
    </span>
  </span>
</form>
