<div id="user_statistics" class="recordsData">
  <h3>Historique de connexion</h3>
  <div>
    <div class="editRecord">
      <p>Afficher d’autres statistiques</p>
      <ul><li><span type="form" name="user:username" href="UserStatistics?limits:username:equals:value=user%7C">Historique des entrées de données</span></li>
        <li><a href="UserStatistics">Historique des entrées de données de tous les utilisateurs</a></li>
      </ul></div>
    <div class="dataTable">
      <table border="0" cellspacing="0" cellpadding="0"><thead><tr><th colspan="4">Historique de connexion (durant les <span name="history_limit"></span> entrées)</th>
          </tr></thead><tbody id="user_stats_login_history"></tbody></table></div>
  </div>
  <br clear="all"></div>
