<div id="list_display" task="can_view_database_list_competency_type">
	
	<div class="editRecord">
	<p>Diese Informationen bearbeiten</p>
		<ul><li task="can_edit_database_list_competency_type"><span type="form" name="competency_type:id" href="lists?type=competency_type&amp;id=">Diese Informationen aktualisieren </span></li>
			<li><a href="lists?type=competency_type">Eine andere Fähigkeitenart auswählen</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Art der Fähigkeit</th>
		</tr><span type="form" name="competency_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
