<div id="siteContent">
    <h1>Configurar o sistema</h1>

  <div task="can_edit_database_lists">
    <h2><a href="lists" class="adminDatabase">Administrar a base de datos</a></h2>
    <p>
    <!-- Create and update standard lists of data for selection in system menus. -->
    Administrar os cargos e crear e actualizar os menús despregables.
    </p>
      <hr></div>


  <span type="module" name="admin" ifenabled="true">
    <div task="can_configure_modules">
      <h2><a href="admin/modules" class="adminDatabase">Configurar os módulos</a></h2>
      <p>
	Activar e desactivar os diferentes módulos do sistema.
      </p>
      <hr></div>
  </span>

  <span type="module" name="page-builder" ifenabled="true">
    <div task="can_build_pages">
      <h2><a href="PageBuilder" class="adminDatabase">Page Builder</a></h2>
      <p>
	Build and Reconfigure pages
      </p>
      <hr></div>
  </span>

  <span type="module" name="form-builder" ifenabled="true">
    <div task="can_build_forms">
      <h2>Forms Builder</h2>
      <p>
	Build and Reconfigure Forms
      </p>
      <ul><li><a href="FormBuilder/forms" class="adminDatabase">Form Builder</a></li>
	<li><a href="FormBuilder/formClasses" class="adminDatabase">Form Class Builder</a></li>
      </ul><hr></div>
  </span>


  <span type="module" name="formRelationships" ifenabled="true">
    <div role="admin">
      <h2><a href="form_relationship_import" class="searchRecords"> Import Form Relationship Data</a></h2>
      <p>
	Import iHRIS data from a form relationship export or from a transform of another data source, such as an Excel file, to the iHRIS form relationship format.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CustomReports" ifenabled="true">
    <span task="custom_reports_can_edit_reportViews">
        <h2><a name="manage_reports" class="adminDatabase">Administrar os informes</a></h2>
      <p>
	Administrar os informes estándar dispoñibles para os usuarios e crear novos informes personalizados.
      </p>
      <ul><li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">Relacións entre formularios</a>
          <dl><dd>Definir as relacións existentes entre os formularios para utilizalas nos informes.</dd></dl></li>
          <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">Informes</a>
          <dl><dd>Definir informes baseados nas relacións definidas anteriormente. Pode elixir os campos que están dispoñibles en cada informe e os campos que se poden usar para limitar o informe.</dd></dl></li>
          <li><a href="CustomReports/edit/reportViews">Vistas do informe</a>
          <dl><dd>Definir as vistas do informe segundo os informes definidos anteriormente. Pode elixir os campos que mostrar e tamén definir unha vista predeterminada que mostre un cadro ou algúns resultados limitados cando un usuario acceda á vista do informe.</dd></dl></li>
      </ul><hr></span>
  </span>



  <span type="module" name="magicDataBrowser" ifenabled="true">
    <div task="can_view_magic_data_browser">
      <h2><a href="magicDataBrowser/show" class="searchRecords">Explorar os datos máxicos</a></h2>
      <p>
	Explorar os datos de configuración usados polo sistema.
      </p>
      <hr></div>
  </span>


  <span type="module" name="SVS" ifenabled="true">
    <div task="SVS_allow_RetreieveValueSet">
      <h2><a href="SVS/config" class="searchRecords">Shared Value Sets</a></h2>
      <p>
	Download or configure Shared Value Sets for exchanging meta-data between components of your health information system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd_cache" ifenabled="true">
    <div task="csd_cache_admin">
      <h2><a href="csd_cache" class="searchRecords">Care Services Discovery</a></h2>
      <p>
	Adminster Caches for Care Services Discovery (CSD) export of data
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd-infoman-storage" ifenabled="true">
    <div role="admin">
      <h2><a href="remote_directory_selector/edit" class="searchRecords"> InterLinked Health Worker Registry</a></h2>
      <p>
	Set connection details for connecting with a Care Services Discovery (CSD) compliant InterLinked Health Worker Registry.
      </p>
      <hr></div>
  </span>





  <span type="module" name="tasks-roles" ifenabled="true">
    <div task="tasks_and_roles_can_access">
      <h2><a href="tasks-roles" class="adminDatabase">Tarefas e funcións</a></h2>
      <p>
	Administrar as tarefas e funcións do sistema
      </p>
      
      <hr></div>
  </span>


  <span type="module" name="localeSelector" ifenabled="true">
    <div task="locales_can_edit_site_locale">
      <h2><a href="localeSelector/edit" class="adminDatabase">Administrar as opcións de rexión</a></h2>
      <p>
	Administrar as opcións de rexión dispoñibles no sistema
      </p>
      <hr></div>      
  </span>



  <span type="module" name="BackgroundProcess" ifenabled="true">
    <div task="can_view_background_processes">
      <h2><a href="BackgroundProcess" class="searchRecords">Procesos en segundo plano</a></h2>
      <p>
	Examinar os procesos en segundo plano que iniciou
      </p>
      <hr></div>
  </span>


  <span type="module" name="formBrowser" ifenabled="true">
    <div task="can_view_form_browser">
      <h2><a href="formBrowser/showForm" class="searchRecords">Explorar os formularios</a></h2>
      <p>
	Explorar os formularios usados polo sistema.
      </p>
      <hr></div>
  </span>

  <span type="module" ifenabled="true" name="DHIS_Metadata">
    <div role="admin">
      <h2><a href="dhis_metadata">Manage DHIS2 MetaData</a></h2>
      <p>
	Upload <a href="http://dhis2.org">DHIS2</a> MetaData such as organizational units and data elements.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CachedForms" ifenabled="true">
    <div task="cached_forms_can_administer">
      <h2><a href="CachedForms" class="adminDatabase">Formularios na caché</a></h2>
      <p>
	Controlar a creación de formularios na caché
      </p>
      <hr></div>
  </span>
  
  <div task="can_create_or_edit_users">

    <h2><a href="user" class="adminDatabase">Administrar os usuarios</a></h2>
    <p>
    Crear, actualizar e desactivar contas de usuario para fortalecer a seguridade do acceso ao sistema. O acceso está limitado ao administrador do sistema.
    </p>
      <hr></div>
  <span type="module" name="UserStatistics" ifenabled="true">
	<div task="can_view_user_statistics">
	  <h2><a href="UserStatistics" class="searchRecords">Estatísticas de usuario</a></h2>
      Ollar as estatísticas de entrada de datos dos usuarios.
    </div>
  </span>
</div>
