<div>
  <div id="container">
    

    <h2>Créer une nouvelle classe de formulaire</h2>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nom de la classe de formulaire</h3>Une clé interne utilisée pour identifier la classe de formulaire. Elle doit être différente de la clé d’une classe de formulaire existante ou de toute autre classe PHP.
	</td>
	<td>
	  <input name="name" type="text" value="" class="validate=[nonempty,magicdatakey,notinlist]"></td>
      </tr><tr><td>
	  <h3>Étend:</h3>La classe de formulaire de vase que cette classe étend. Elle héritera des propriétés de la classe de base
	</td>
	<td>
	  <select name="extends"></select></td>
      </tr></table><h2>Modifier une classe de formulaire existante</h2>
    <ul id="form_classes"></ul></div>
</div>
