<div>
  

  <h2>Options du formulaire</h2>
  <div id="container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td colspan="2">
	  <h3>Formulaires fils</h3>Sélectionnez les formulaires qui peuvent être des fils de ce formulaire.  
	  <div name="child_forms"></div>
	</td>
      </tr><tr><td>
	  <h3>Description</h3>Une description de ce formulaire
	</td>
	<td>
	  <input name="description"></td>
      </tr></table><span id="child_form_data">
      <h2><a id="child_form_data_link" href="">Données du formulaire enfant</a></h2>
      Spécifier les limites et les ordres qui peuvent être appliqués aux formulaires enfants
      <div class="indented" id="child_form_data_ajax"></div>
    </span>


  </div>
</div>
