<div>
  

  <h2>Chaîne de caractères PrintF</h2>
  <div id="printf_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Printf</h3>
	  Chaîne de caractères Printf utilisée pour afficher ce formulaire. Vous utiliserez probablement un %s pour spécifier où le champ doit être subsitué dans la chaîne.  
	  <a href="http://www.php.net/manual/en/function.sprintf.php">Plus d’informations</a>
	</td>
	<td>
	  <input name="printf"></td>
      </tr></table></div>
</div>
