<div>
  

  <h2>Métadonnées</h2>
  <div id="meta_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Liste de clés</h3>Sélectionner le formulaire de liste qui doit être utilisé pour les clés de cette liste associative
	</td>
	<td>
	  <select name="list"><option value="">Sélectionner une liste</option></select></td>
      </tr><tr><td>
	  <h3>Afficher la clé</h3>Afficher la clé lorsque la liste associative est affichée
	</td>
	<td>
	  <select name="show_key"><option value="1">Oui</option><option value="0">Non</option></select></td>
      </tr><tr><td>
	  <h3>Permettre l’ajout</h3>Permettre d’ajouter de nouvelles clés à la liste
	</td>
	<td>
	  <select name="allow_new"><option value="1">Oui</option><option value="0">Non</option></select></td>
      </tr><tr><td>
	  <h3>Permettre la suppression</h3>Permet de supprimer des clés de la liste
	</td>
	<td>
	  <select name="allow_delete"><option value="1">Oui</option><option value="0">Non</option></select></td>
      </tr><tr><td>
	  <h3>Ordre de tri des clés</h3>Ordre pour trier les clés
	</td>
	<td>
	  <select name="key_sort"></select></td>
      </tr></table></div>
</div>
