<div>
  

  <h2>Options du formulaire</h2>
  <div id="container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Classe de formulaire</h3>Selectionner la classe dont ce formulaire est l'extension.
	</td>
	<td>
	  <select name="class"></select></td>
      </tr><tr><td>
	  <h3>Nom affiché</h3>Afficher le nom pour ce formulaire
	</td>
	<td>
	  <input name="display"></td>
      </tr><tr><td>
	  <h3>Stockage</h3>
	</td>
	<td>
	  <b><span name="storage"></span></b> <br>Pour éviter les pertes accidentelles de données, la modification du mécanisme utilisé pour la sauvegarde des formulaires à l'aide de cet interface et désactivée pour l'instant.
	</td>
      </tr></table><span id="meta">
      <h2><a id="meta_link" href="">Métadonnées</a></h2>
      Définir les méta-données pour ce formulaire
      <div class="indented" id="meta_ajax"></div>
    </span>    
    
    <span id="storage_options">
      <h2><a id="storage_options_link" href="">Options de sauvegarde des formulaires</a></h2>
      Fixer les options de stockage pour ce formulaire
      <div class="indented" id="storage_options_ajax"></div>
    </span>



  </div>
</div>
