<div>
  

  <h2>Montrer les limites</h2>
  <div id="form_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nouveau formulaire</h3>Spécifier, pour un formulaire, s’il faut ou non afficher les limites dans la sélection de rapport.
	</td>
	<td>
	  <select name="form"><option value="">En sélectionner un</option></select></td>
      </tr></table><h2>Formes existantes</h2>Formulaires qui ont déjà fixé s’ils affichaient ou non leurs limites dans la sélection de rapport.
    <ul class="indented" name="forms"></ul></div>
</div>
