<div>
    <h2>Métadonnées</h2>
    <div id="display_container">
      
      <span id="printf">
	<h2><a id="printf_link" href="">Printf</a></h2>
	Définir la chaîne de caractères printf à utiliser pour diverses formes
	<div class="indented" id="printf_ajax"></div>
      </span>

      <span id="printf_args">
	<h2><a id="printf_args_link" href="">Champs de PrintF</a></h2>
	Définir les champs (arguments) utilisés dans la chaîne printf pour diverses formes
	<div class="indented" id="printf_args_ajax"></div>
      </span>
      <span id="reportselect">
	<h2><a id="reportselect_link" href="">Sélection de la vue de rapport</a></h2>
	Précise le format d'affichage utilisé pour selectionner les données
	<div class="indented" id="reportselect_ajax"></div>
      </span>

      <span id="no_limits">
	<h2><a id="no_limits_link" href="">Montrer les limites</a></h2>
	Spécifier s’il faut ou non afficher les limites d’un formulaire dans le sélecteur de vue de rapport
	<div class="indented" id="no_limits_ajax"></div>
      </span>



    </div>
</div>
