<div>
  

  <h2>Méthodes du module</h2>
  <div id="method_container">

    <span id="method_static">
      <h2><a id="method_static_link" href="">Fonctions statiques </a></h2>
      Fixer les valeurs de l’énumération à partir des fonctions statiques du module
      <div class="indented" id="method_static_ajax"></div>
    </span>

    <span id="method_module">
      <h2><a id="method_module_link" href="">Fonctions dynamiques</a></h2>
      Fixer les valeurs d’énumération à partir des fonctions dynamiques du module
      <div class="indented" id="method_module_ajax"></div>
    </span>

  </div>
</div>
