<div>
  

  <h2>Champs de la classe de formulaire</h2>
  <div id="fields_container">
    <h2>Créer un nouveau champ</h2>
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Nom du champ</h3>Une clé interne utilisée pour identifier le nom du champ. Elle ne doit pas être identique à la clé d’un des champs de classe existants.  
	</td>
	<td>
	  <input name="name" type="text" value="" class="validate=[magicdatakeyorblank,notinlist]"></td>
      </tr><tr><td>
	  <h3>Classe de champ de formulaire</h3>Le type de données pour ce champ.
	</td>
	<td>
	  <select name="formfield"></select></td>
      </tr><tr><td>
	  <h3>Entête/Libellé par défaut</h3>L’entête par défaut (ou le libellé) utilisé quand ce champ est affiché dans une page web.
	</td>
	<td>
	  <input name="header"></td>
      </tr></table><h2>Champs existants</h2>
    <ul id="field_list" class="report_forms_list"></ul></div>
</div>  
  
  
  
	
	
