<div>
  <h2>Meta Options pour les listes</h2>
  <div id="meta_container">
    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Unique</h3>Chaque instance de ce formulaire doit avoir des valeurs uniques dans ses champs.
	</td>
	<td>
	  <select name="unique"><option value="1">Oui</option><option value="0">Non</option></select></td>
      </tr></table><span id="list">
      <h2><a id="list_link" href="">Lister les affichages</a></h2>
      Initialiser différents affichages de listes
      <div class="indented" id="list_ajax"></div>
    </span>


  </div>
</div>
  
  
  
  
	
	
