<div>
  <div id="container">
    <h2>Fichier SVS</h2>
    Les ensembles de valeurs partagée (SVS) est un standard pour le partage des méta-données de l'Intégration de la Santé de l'Entreprise. Vous pouvez trouver plus de détails sur la norme <a href="http://www.ihe.net/Technical_Framework/upload/IHE_ITI_Suppl_SVS_Rev2-1_TI_2010-08-10.pdf">ici</a>

    <table class="multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr><td>
	  <h3>Fichier:</h3>Téléverser un nouveau fichier SVS.  
	</td>
	<td>
	  Téléverser le fichier <input name="upload" type="file"><hr><span name="has_download" ifset="true"><a name="download_link">Télécharger un SVS existant</a></span>
	</td>
      </tr></table></div>
</div>
