<div id="list_display" task="can_view_database_list_district">
	
	<div class="editRecord">
	<p>Modifica questa informazione</p>
		<ul><li task="can_edit_database_list_district"><span type="form" name="district:id" href="lists?type=district&amp;id=">Aggiorna questa informazione</span></li>
			<li><a href="lists?type=district&amp;field=region">Seleziona altro distretto (in Italia NON usare)</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Distretto (in Italia NON usare)</th>
		</tr><span type="form" name="district:name" showhead="default"></span>
		<span type="form" name="district:region" showhead="default" class="even"></span>
		<span type="form" name="district:code" showhead="default"></span>

	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
