<div id="siteContent">
    <h1>ຕັ້ງຄ່າລະບົບ</h1>

  <div task="can_edit_database_lists">
    <h2><a href="lists" class="adminDatabase">ຜູ້ຄວບຄຸມຖານຂໍ້ມູນ</a></h2>
    <p>
    <!-- Create and update standard lists of data for selection in system menus. -->
    ຕຳແໜ່ງຂອງຜູ້ຄວບຄຸມຖານຂໍ້ມູນ, ສ້າງ ແລະ ປັບປຸງເມນູການລາກລົງ
    </p>
      <hr></div>


  <span type="module" name="admin" ifenabled="true">
    <div task="can_configure_modules">
      <h2><a href="admin/modules" class="adminDatabase">ຕັ້ງຄ່າໂມດູນ</a></h2>
      <p>
	ເປີດ ແລະ ປິດ ບັນດາໂມດູນຢູ່ໃນລະບົບ
      </p>
      <hr></div>
  </span>

  <span type="module" name="page-builder" ifenabled="true">
    <div task="can_build_pages">
      <h2><a href="PageBuilder" class="adminDatabase">Page Builder</a></h2>
      <p>
	Build and Reconfigure pages
      </p>
      <hr></div>
  </span>

  <span type="module" name="form-builder" ifenabled="true">
    <div task="can_build_forms">
      <h2>Forms Builder</h2>
      <p>
	Build and Reconfigure Forms
      </p>
      <ul><li><a href="FormBuilder/forms" class="adminDatabase">Form Builder</a></li>
	<li><a href="FormBuilder/formClasses" class="adminDatabase">Form Class Builder</a></li>
      </ul><hr></div>
  </span>


  <span type="module" name="formRelationships" ifenabled="true">
    <div role="admin">
      <h2><a href="form_relationship_import" class="searchRecords"> Import Form Relationship Data</a></h2>
      <p>
	Import iHRIS data from a form relationship export or from a transform of another data source, such as an Excel file, to the iHRIS form relationship format.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CustomReports" ifenabled="true">
    <span task="custom_reports_can_edit_reportViews">
        <h2><a name="manage_reports" class="adminDatabase">ຈັດການບົດລາຍງານ</a></h2>
      <p>
	ຈັດການມາດຕະຖານຂອງບົດລາຍງານ ເພື່ອໃຫ້ຜູ້ຊົມໃຊ້ໄດ້ຊົມໃຊ້ ແລະ ສ້າງບັດລາຍງານຂື້ນມາໃໝ່
      </p>
      <ul><li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">ແບບຟອມທີ່ກ່ຽວຂ້ອງ</a>
          <dl><dd>ກຳນົດວ່າ ແບບຟອມມີຄວາມກ່ຽວຂອງແນວໃດກັບຜູ້ຊົມໃຊ້ບົດລາຍງານ</dd></dl></li>
          <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">ບົດລາຍງານ</a>
          <dl><dd>ກຳນົດບົດລາຍງານແມ່ນອີງຕາມການກຳນົດທີ່ພົວພັນກັນກ່ອນໜ້ານີ້. ທ່ານສາມາດເລືອກຂົງເຂດຂໍ້ມູນທີ່ມີການລາຍງານ ແລະ ຂົງເຂດຂໍ້ມູນທີ່ເຄີຍຖືກນຳໃຊ້ ເພື່ອຈຳກັດບົດລາຍງານ</dd></dl></li>
          <li><a href="CustomReports/edit/reportViews">ເບິ່ງບົດລາຍງານ</a>
          <dl><dd>ກຳນົດບົດລາຍງານແມ່ນອີງຕາມການກຳນົດທີ່ພົວພັນກັນກ່ອນໜ້ານີ້. ທ່ານສາມາດເລືອກຂົງເຂດຂໍ້ມູນທີ່ຢາກໄດ້ ແລະ ຍັງສາມາດກຳນົດການເບິ່ງເບື້ອງຕົ້ນທີ່ສະແດງຢູ່ໃນແຜນຜັງ ຫຼືກຳນົດຜົນຮັບເມື່ອຜູ້ໃຊ້ງານເຂົ້າເບິ່ງບົດລາຍງານ</dd></dl></li>
      </ul><hr></span>
  </span>



  <span type="module" name="magicDataBrowser" ifenabled="true">
    <div task="can_view_magic_data_browser">
      <h2><a href="magicDataBrowser/show" class="searchRecords">ຮຽກເບິ່ງຂໍ້ມູນເມຈິກ</a></h2>
      <p>
	ຮຽກເບິ່ງການຕັ້ງຄ່າຂໍ້ມູນທີ່ໃຊ້ກັບລະບົບ
      </p>
      <hr></div>
  </span>


  <span type="module" name="SVS" ifenabled="true">
    <div task="SVS_allow_RetreieveValueSet">
      <h2><a href="SVS/config" class="searchRecords">Shared Value Sets</a></h2>
      <p>
	Download or configure Shared Value Sets for exchanging meta-data between components of your health information system.
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd_cache" ifenabled="true">
    <div task="csd_cache_admin">
      <h2><a href="csd_cache" class="searchRecords">Care Services Discovery</a></h2>
      <p>
	Adminster Caches for Care Services Discovery (CSD) export of data
      </p>
      <hr></div>
  </span>


  <span type="module" name="csd-infoman-storage" ifenabled="true">
    <div role="admin">
      <h2><a href="remote_directory_selector/edit" class="searchRecords"> InterLinked Health Worker Registry</a></h2>
      <p>
	Set connection details for connecting with a Care Services Discovery (CSD) compliant InterLinked Health Worker Registry.
      </p>
      <hr></div>
  </span>





  <span type="module" name="tasks-roles" ifenabled="true">
    <div task="tasks_and_roles_can_access">
      <h2><a href="tasks-roles" class="adminDatabase">ໜ້າວຽກ ແລະ ພາລະບົດບາດ</a></h2>
      <p>
	ໜ້າວຽກ ແລະ ພາລະບົດບາດຂອງຜູ້ຄວບຄຸມລະບົບ
      </p>
      
      <hr></div>
  </span>


  <span type="module" name="localeSelector" ifenabled="true">
    <div task="locales_can_edit_site_locale">
      <h2><a href="localeSelector/edit" class="adminDatabase">ການຈັດການທີ່ຕັ້ງ</a></h2>
      <p>
	ການຈັດການທີ່ຕັ້ງເພື່ອໃຫ້ໃຊ້ໄດ້ກັບລະບົບ
      </p>
      <hr></div>      
  </span>



  <span type="module" name="BackgroundProcess" ifenabled="true">
    <div task="can_view_background_processes">
      <h2><a href="BackgroundProcess" class="searchRecords">ເບື້ອງຫຼັງຂອງຂັ້ນຕອນ</a></h2>
      <p>
	ສຳຫຼວດເບື້ອງຫຼັງຂອງຂັ້ນຕອນເມື່ອທ່ານເລີ້ມໃຊ້ລະບົບ
      </p>
      <hr></div>
  </span>


  <span type="module" name="formBrowser" ifenabled="true">
    <div task="can_view_form_browser">
      <h2><a href="formBrowser/showForm" class="searchRecords">ຮຽກເບິ່ງແບບຟອມ</a></h2>
      <p>
	ຮຽກເບິ່ງແບບຟອມທ່ີນຳໃຊ້ຢູ່ໃນລະບົບ
      </p>
      <hr></div>
  </span>

  <span type="module" ifenabled="true" name="DHIS_Metadata">
    <div role="admin">
      <h2><a href="dhis_metadata">Manage DHIS2 MetaData</a></h2>
      <p>
	Upload <a href="http://dhis2.org">DHIS2</a> MetaData such as organizational units and data elements.
      </p>
      <hr></div>
  </span>


  <span type="module" name="CachedForms" ifenabled="true">
    <div task="cached_forms_can_administer">
      <h2><a href="CachedForms" class="adminDatabase">ແບບຟອມທີ່ເກັບໄວ້</a></h2>
      <p>
	ຄວບຄຸມການສ້າງແບບຟອມທີ່ເກັບໄວ້
      </p>
      <hr></div>
  </span>
  
  <div task="can_create_or_edit_users">

    <h2><a href="user" class="adminDatabase">ຜູ້ນຳໃຊ້ທີ່ເປັນຜູ້ຄວບຄຸມລະບົບ</a></h2>
    <p>
    ສ້າງ, ປັບປຸງ ແລະ ປິດບັນຊີຜູ້ໃຊ້ງານ ເພື່ອໃຫ້ມີຄວາມປອດໄພໃນການເຂົ້າຊົມໃຊ້ລະບົບ
    </p>
      <hr></div>
  <span type="module" name="UserStatistics" ifenabled="true">
	<div task="can_view_user_statistics">
	  <h2><a href="UserStatistics" class="searchRecords">User Statistics</a></h2>
      View data entry statistics for users.
    </div>
  </span>
</div>
