<div id="siteContent">
    <h1>ຜູ້ຄວບຄຸມຖານຂໍ້ມູນ</h1>

    <span type="module" ifenabled="true" name="Person">    
	  <h3>ບັນຊີປະຊາກອນ</h3>
	  <ul><li><a href="lists?type=id_type">ປະເພດທີ່ພິສູດ</a></li>
	    <li><a href="lists?type=marital_status">ສະຖານະພາບທາງຄອບຄົວ</a></li>
	  </ul></span>
    <span type="module" ifenabled="true" name="Geography">    
      <h3>ຂໍ້ມູນພູມສາດ</h3>
      <ul><li><a href="lists?type=country">ປະເທດ</a></li>
        <li><a href="lists?type=region">ເຂດ</a></li>
        <li><a href="lists?type=district">ເມືອງ</a></li>
        <li><a href="lists?type=county">ປະເທດ</a></li>
        <span type="module" ifenabled="true" name="Currency">    
          <li><a href="lists?type=currency">ສະກຸນເງິນ</a></li>
        </span>
      </ul></span>
    <h3>ຂໍ້ມູນເພີ້ມເຕີມ</h3>
    <ul><span type="module" ifenabled="true" name="simple-competency">	
	  <li><a href="lists?type=competency_type">ປະເພດຄວາມສາມາດ</a></li>
	  <li><a href="lists?type=competency&amp;field=competency_type">ຄວາມສາມາດ</a></li>
    </span>
    <span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">ສືບຕໍ່ຫຼັກສູດການສຶກສາ</a></li>
    </span>
    <span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">ສະຖາບັນການຝຶກອົບຮົມ</a></li>
	  <li><a href="lists?type=training_funder">ຜູ້ໃຫ້ທຶນໃນການຝຶກອົບຮົມ</a></li>
    </span>
    </ul><span role="admin">
      <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
        <h2>Mass Delete</h2>
        <ul><li><a href="delete_by_search">By Person (Search Page)</a></li>
        </ul></span>
    </span>
</div>
