<ul><li id="menuLists" task="can_edit_database_lists"><a href="lists">ຜູ້ຄວບຄຸມຖານຂໍ້ມູນ</a></li>
	<span type="module" name="admin" ifenabled="true">
	  <li id="menuConfigureModules" task="can_configure_modules"><a href="admin/modules">ຕັ້ງຄ່າໂມດູນ</a></li>
	</span>
	<span type="module" name="CustomReports" ifenabled="true" task="custom_reports_can_edit_reportViews">
	  <li task="custom_reports_can_edit_relationships"><a href="CustomReports/edit/relationships">ແບບຟອມທີ່ກ່ຽວຂ້ອງ</a></li>
	  <li task="custom_reports_can_edit_reports"><a href="CustomReports/edit/reports">ບົດລາຍງານ</a></li>
	  <li task="custom_reports_can_edit_reportViews"><a href="CustomReports/edit/reportViews">ເບິ່ງບົດລາຍງານ</a></li>
	</span>
	<span type="module" name="magicDataBrowser" ifenabled="true">
	  <li id="menuBrowseMagicData" task="can_view_magic_data_browser"><a href="magicDataBrowser/show">ຮຽກເບິ່ງຂໍ້ມູນເມຈິກ</a></li>
	</span>
	<span type="module" name="tasks-roles" ifenabled="true">
	  <li task="tasks_and_roles_can_access" id="tasks-roles"><a href="tasks-roles/">ພາລະບົດບາດຂອງວຽກ</a></li>
	</span>
	<span type="module" name="localeSelector" ifenabled="true">
	  <li id="menuLocaleSelector" task="locales_can_edit_site_locale"><a href="localeSelector/edit">ການຈັດການທີ່ຕັ້ງ</a></li>
	</span>
	<span type="module" name="BackgroundProcess" ifenabled="true">
	  <li id="menuBackgroundProcess" task="can_view_background_processes"><a href="BackgroundProcess">ເບື້ອງຫຼັງຂອງຂັ້ນຕອນ</a></li>
	</span>
	<span type="module" name="formBrowser" ifenabled="true">
	  <li id="menuFormBrowser" task="can_view_form_browser"><a href="formBrowser/showForm">ຮຽກເບິ່ງແບບຟອມ</a></li>
	</span>
	<span type="module" ifenabled="true" name="DHIS_Metadata">
	  <li role="admin"><a href="dhis_metadata">Manage DHIS2 MetaData</a></li>
	</span>
	<span type="module" name="CachedForms" ifenabled="true">
	  <li id="menuCachedForms" task="cached_forms_can_administer"><a href="CachedForms">ແບບຟອມທີ່ເກັບໄວ້</a></li>
	</span>
	<li id="menuUser" task="can_create_or_edit_users"><a href="user">ຜູ້ນຳໃຊ້ທີ່ເປັນຜູ້ຄວບຄຸມລະບົບ</a></li>
  <span type="module" name="UserStatistics" ifenabled="true">
	  <li id="menuUserStatistics" task="can_view_user_statistics"><a href="UserStatistics">User Statistics</a></li>
  </span>

</ul>