<div id="siteContent">
  <form method="post" action="REPLACEME" name="edit_role_form_action" id="edit_role">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><th colspan="2">
	  Baguhin ang Gampanin
	</th>
      </tr><tr><td>
	  <label>Ipinapakitang Pangalan ng Gampanin:</label> Isang pangalang ipinapakita para sa gampaning ito na ipinapakita sa tumatanggap na tagagamit.
	</td>
	<td>
	  <input type="text" name="role_name" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <label>Pagmamana ng Gampanin:</label>Ang mga gampanin na mayroon ng lahat ng mga karapatan ng gampaning ito.  Ang gampanin ng tagapangasiwa ay magkakaroon ng kusang pagpunta sa gampaning ito
	</td>
	<td>
	  <input type="hidden" name="role_roles[]" value="admin"><select name="role_roles[]" multiple id="role_roles"></select></td>
      </tr><tr><td>
	  <label>Mga Gawain sa Gampanin:</label> Mga gawain na itinalaga para sa gampaning ito
	</td>
	<td>
	  <select name="role_tasks[]" multiple id="role_tasks" display="checkbox"></select></td>
      </tr><tr><td>
	  <label>Role Home page:</label> Default home page for this role
	</td>
	<td>
	  <input type="text" name="homepage"></td>
      </tr><tr><td colspan="2">
	  <input class="button" type="submit" value="Save"></td>
      </tr></table></form>


</div>
