<div id="siteContent">
  <h1>Pangasiwaan ang mga Gampanin at mga Gawain</h1>
  <p>
    Dito ay maaari kang mangasiwa ng mga gampanin at mga gawain para sa sistema.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Pangasiwaan ang mga Gampanin</a></h2>
      Ginagamit ang gampanin kapag lumilikha ng isang tagagamit.  Magtatalaga ka ng isang gampanin sa isang tagagamit.  May isang natatanging gampanin na 'tagapangasiwa' na siyang gampanin ng Tagapangasiwa.  Maaari ka ring magtalaga ng kung anong mga gampanin ang mayroon ng magkakatulad na lahat ng mga karapatan ng isang tinukoy na gampanin.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Pangasiwaan ang mga Gawain</a></h2>
      A task is a specific action that is performed by the system.  You may assign 
      a collection of tasks to a role.  You may also create a new task by grouping tasks together
    </li>
  </ul></div>