<div id="siteContent">
  <h1>Pangasiwaan ang mga Gampanin</h1>
  <h2>Umiiral na mga Gampanin</h2>
  <ul id="role_list"></ul><form method="post" action="tasks-roles/roles" id="add_user_role">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><th colspan="2">
	  Magdagdag ng isang bagong gampanin
	</th>
      </tr><tr><td>
	  <label>Maiksing Pangalan ng Gampanin:</label> Isang maiksing pangalan na binubuo ng titik at bilang, -, . at _ na ginagamit upang tukuyin ang gampanin sa loob ng mga pahina at mga suleras.
	</td>
	<td>
	  <input type="text" id="role_short_name" name="role_short_name" class="validate=[notinlist,nonempty,magicdatakey]"></td>
      </tr><tr><td>
	  <label>Ipinapakitang Pangalan ng Gampanin:</label> Isang pangalang ipinapakita para sa gampaning ito na ipinapakita sa tumatanggap na tagagamit.
	</td>
	<td>
	  <input type="text" name="role_name" class="validate=[nonempty]"></td>
      </tr><tr><td colspan="2">
	  <input class="button" type="submit" value="Create"></td>
      </tr></table></form>
</div>