<div dir="rtl">
  <h2>Changes made to <span name="recent_name"></span> since: <span name="recent_date"></span></h2>
  <h3 dir="rtl">View changes made since: 
  <a name="recent_today_link" dir="rtl">ਅੱਜ</a> 
  <a name="recent_yesterday_link" dir="rtl">ਬੀਤੇ ਕੱਲ੍ਹ</a>
  <a name="recent_week_link" dir="rtl">ਪਿਛਲੇ ਹਫ਼ਤੇ</a><br>
  ਇਹਨਾਂ ਵੱਲੋਂ ਕੀਤੀਆਂ ਤਬਦੀਲੀਆਂ ਵੇਖੋ:
    <a name="recent_all_link" dir="rtl">ਹਰ ਕੋਈ</a>
    <a name="recent_me_link" dir="rtl">ਮੈਂ</a></h3>
    
      ਕੁੱਲ ਲੱਭੇ: <span name="recent_found"></span><br></div>
