<div>
  

  <h2>Shared Value Set</h2>
  <div id='contents'>
    <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
      <tr>
	<td>
	  <h3>List</h3>The list form that this shared value set is based on.
	</td>
	<td>
	  <select name='list'/>
	</td>
      </tr>
      <tr>
	<td>
	  <h3>Include Hidden</h3>Include hidden lists members
	</td>
	<td>
	  <select name='hidden'><option value='1'>Yes</option><option value='0'>No</option></select>
	</td>
      </tr>

    </table>

    
    <span id='where'>
      <h2><a id="where_link" href=''>Limit Clause</a></h2>
      Edit where for this field
      <div class='indented' id='where_ajax' />
    </span>

    

    <span id='meta'>
      <h2><a id="meta_link" href=''>Meta</a></h2>
      Edit meta data for this list
      <div class='indented' id='meta_ajax'/>
    </span>

  </div>
</div>
