<div id="siteContent">
  <h1 class="header">Resultados do exame do curso de formación</h1>
  <h2><span type="form" name="person:surname" noedit="true"></span>,<span type="form" name="person:firstname" noedit="true"></span></h2>
  <div id="error"></div>
  <form method="post" action="training-course/exam">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><span type="form" name="person_scheduled_training_course:id"></span>
      <span type="form" name="person_scheduled_training_course:parent"></span>
      <input type="hidden" name="parent"><tr><th colspan="2">
	  Resultados do exame
	  -- 
	  <span type="form" name="training_course:name" noedit="1"></span>
	  <span ifset="true" name="passing_score">
	    -- 
	    <span printf="'Puntuación para aprobar: %d',$passing_score"></span>
	  </span>
	</th>
      </tr><tr><td>
	  <span type="form" name="training_course_exam:training_course_exam_type" showhead="default"></span>
	</td>
	<td>
	  <span type="form" name="training_course_exam:evaluation_date" showhead="default"></span>
	</td>
      </tr><tr><td>
	  <span type="form" name="training_course_exam:score" showhead="default"></span>
	</td>
	<td>
	  <span type="form" name="training_course_exam:notes" showhead="default"></span>
	</td>
      </tr><tr class="submitCell"><td colspan="2">
	  <div id="button"></div>
	</td>
      </tr></table></form>

</div>