<div id="list_display" class="recordsData" task="can_view_database_list_id_type">
	
	<div class="editRecord">
	<p>Editar esta información</p>
		<ul><li task="can_edit_database_list_id_type"><span type="form" name="id_type:id" href="lists?type=id_type&amp;id=">Actualizar esta información </span></li>
			<li><a href="lists?type=id_type">Seleccionar otro tipo de identificación</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Tipo de identificación</th>
		</tr><span type="form" name="id_type:name" showhead="default"></span>
		<span type="form" name="id_type:pattern" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
