<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Welkom</h1>
<p>
<strong>iHRIS Qualify</strong> is een systeem voor het volgen van gezondheidswerkersopleidingen, licentieverlening en certificering. Het systeem faciliteert een licenserings- of certificatie-autoriteit voor een gezondheidswerkerskader, zoals verpleegkundigen of artsen, het bijhouden van gegevens voor het volledige kader voor een land van voor indiensttreding tot en met afvloeiing. iHRIS Qualify is een gratis, Open Source softwareoplossing ontwikkeld door <a href="http://www.capacityproject.org">The Capacity Project</a>, een innovatief wereldwijd initiatief om ontwikkelingslanden te helpen bij het bouwen en ondersteunen van hun gezondheidswerkers.
</p>
</div><!-- /welcomeIntro -->
