<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1><span printf="'Welkom, %s',ihris-common-&gt;getUserNames()"></span></h1>
<p>
Klik op een van de onderstaande opties om met iHRIS Qualify te beginnen. U kunt altijd terugkeren naar deze pagina door op "Startpagina" te klikken in de werkbalk. Als u hulp nodig hebt met een functie, kunt u op "Hulp" klikken. Stel ons op de hoogte van fouten, suggesties en andere terugkoppeling die u hebt. Klik hiervoor op de knop "Terugkoppeling" of bezoek de <a href="http://www.capacityproject.org/hris/">Website HRIS-verbetering</a>.
</p>
</div><!-- /welcomeIntro -->
