<div id="siteContent">
  <h1 class="header">Suriin ang mga Kakayahan sa Pagganap ng isang Tao para sa isang Kurso ng Pagsasanay</h1>
  <h2><span type="form" name="person:surname" noedit="true"></span>,<span type="form" name="person:firstname" noedit="true"></span></h2>
  <div id="error"></div>
  <form method="post" action="training-course/evaluate-competencies">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><span type="form" name="person_scheduled_training_course:id"></span>
      <tr><th colspan="2"><span name="type_name">Mga Kakayahan sa Pagganap</span></th>
      </tr></table><div id="list_evaluations">
      
    </div>

    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr class="submitCell"><td colspan="2">
	  <div id="button"></div>
	</td>
    </tr></table></form>

</div>