<div task='person_can_view_child_form_person_archive_scan'>  
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_person_archive_scan'>
	<span type="form" ifset="person_archive_scan:id" name="person_archive_scan:id" href="person_archive_scan?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
	<tr>
	  <th colspan="2">Scanned Paper Record</th>
	</tr>
	<tr>

	<span type="form" name="person_archive_scan:description" showhead="default"></span>
	<span type="form" name="person_archive_scan:date" showhead="default" class='even'></span>
	<span type="form" ifset='person_archive_scan:image' name="person_archive_scan:image" show_image='false' show_text='true' showhead='default'/>
	<span type="form" showhead='default' name="person_archive_scan:document" ifset='person_archive_scan:document' />
	</tr>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>
