<div id="list_display" class='recordsData'>
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_marital_status'><span type="form" name="marital_status:id" href="lists?type=marital_status&amp;id=" >Update this Information</span></li>
			<li task='can_view_database_list_marital_status'><a href="lists?type=marital_status">Select another Marital Status</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Marital Status</th>
		</tr>
		<span type="form" name="marital_status:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
