<div id="list_display" class='recordsData'>
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li id="list_edit_link_node"><a name="list_edit_link" href="lists" >Update this Information</a></li>
      <li id="list_view_link_node"><a name="list_view_link" href="lists">Select another <span name="type_name" /></a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
      <th colspan="2"><span name="type_name" /></th>
		</tr>
		<span type="form" name="name" showhead="default"></span>
		<span type="form" name="code" showhead="default"></span>
		<span type="form" name="dhis_uid" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
