<div id="list_display" task="can_view_database_list_unit">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_unit'><span type="form" name="unit:id" href="lists?type=unit&amp;id=" >Update this Information</span></li>
			<li><a href="lists?type=unit">Select another Organizational Unit</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Unit</th>
		</tr>
		<span type="form" name="unit:name" showhead="default"></span>
		<span type="form" name="unit:code" showhead="default" class="even"></span>
		<span type="form" name="unit:dhis_id" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
