<div id="list_display" task="can_view_database_list_program">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_program'><span type="form" name="program:id" href="lists?type=program&amp;id=" >Update this Information</span></li>
			<li><a href="lists?type=program&amp;field=unit" >Select another Program</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Program</th>
		</tr>
		<span type="form" name="program:name" showhead="default"></span>
		<span type="form" name="program:unit" showhead="default" class="even"></span>
		<span type="form" name="program:code" showhead="default"></span>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
