<div id="list_display" task="can_view_database_list_site">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_site'><span type="form" name="site:id" href="lists?type=site&amp;id=" >Update this Information</span></li>
			<li><a href="lists?type=site&amp;field=program">Select another Site</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Site</th>
		</tr>
		<span type="form" name="site:name" showhead="default"></span>
		<span type="form" name="site:program" showhead="default" class="even"></span>
		<span type="form" name="site:code" showhead="default"></span>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
