<div id="list_display" task="can_view_database_list_data_element">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_data_element'><span type="form" name="data_element:id" href="lists?type=data_element&amp;id=" >Update this Information</span></li>
			<li><a href="lists?type=data_element">Select another Data Element</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Data Element</th>
		</tr>
		<span type="form" name="data_element:name" showhead="default"></span>
		<span type="form" name="data_element:code" showhead="default" class="even"></span>
		<span type="form" name="data_element:dhis_id" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
