<div id="siteContent">
    <h1>Moduli zinazopatikana</h1>
    Hapa unaweza kuchagua moduli ili kuwezesha au kulemaza kwa kubofya au kutobofya visanduku vya kukagulia na halafu bofya <i>Kibonye</i> wezesha chini ya ukurasa. Unaweza pia kusabidi moduli fulani kwa kubofya kwenye <i>Sabidi</i> kiungo kinachohusiana navyo kama kipo. Baadhi ya moduli zina moduli ndogo zilizohusiana nazo ambazo zinaweza kufikiwa kwa kubofya kwenye kiungo cha moduli ndogo
    <i>moduli ndogo</i> link or on the down-pointing arrow if present.
    <br><br><a href="admin/modules">Menyu Kuu ya Moduli</a>
    <form method="post" name="admin_enable_form" id="admin_enable_form">
      <div id="modules"></div>
      <input type="hidden" id="module_possibles" name="possibles"><input type="hidden" id="redirect" name="redirect"><div id="button" class="submitCell">
	<input class="button" type="submit" name="Enable" value="enable" id="module_enable_button"></div>
    </form>
</div>
