<div id="siteContent">
  <h1>Administrer les rôles et les tâches</h1>
  <p>
    Ici vous pouvez administrer les rôles et les tâches pour le système.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Rôle d’administration</a></h2>
      "Un rôle est créé lorsqu’on crée un utilisateur. Vous attribuerez un rôle à un utilisateur. Il existe un rôle spécial ‘admin’ Il s’agit du rôle d’administrateur. Vous pouvez également désigner quels rôles ont tous les mêmes droits qu’un rôle spécifié. "
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Tâches d’administration</a></h2>
      Une tâche est une action spécifique exécutée par le système. Vous pouvez attribuer une série de tâches à un rôle. Vous pouvez également créer une nouvelle tâche en regroupant des tâches
    </li>
  </ul></div>