<div>
  <h2>Kies nodetypebeperking</h2>
  U hebt geen beperkingsgegevens aangemaakt onder deze node. U kunt kiezen om te beperken via een veld of instellen dat deze node een operator is.
  <br><table class="formRelationship multiFormTable" cellpadding="0" cellspacing="0" border="0" id="new_limit_styles"><tr><td>
	<input id="limit_type" type="radio" name="limit_type" value="operator">Operatornode
      </td>
      <td>
	<select name="limit_operator" id="limit_operator"><option value="">Maak een keuze</option><option value="NOT">NOT</option><option value="AND">AND</option><option value="OR">OR</option><option value="XOR">XOR</option></select></td>
    </tr><tr><td colspan="2">
	<input type="radio" name="limit_type" value="limit">
	Beperken door een veld (einde knooppunt)
      </td>
    </tr><tr><td colspan="2">
	<input type="radio" name="limit_type" checked value="">
	Geen beperking
      </td>
    </tr></table></div>
