<div>
  <h2>Bestaande beperking</h2>
  <p>Er bestaat een beperking voor dit veld <i><span name="limit_field"></span></i> met stijl <i><span name="limit_style"></span></i>.</p>
  <input name="limit_style" type="hidden"><input name="limit_field" type="hidden"><table class="formRelationship multiFormTable" cellpadding="0" cellspacing="0" border="0"><tr class="limit_menu"><td colspan="2" class="limit_menu">
	<div id="limit_type_menu" class="limit_type_menu">
	</div>
      </td>
    </tr></table>
  U mag <a name="remove_limit_link">Verwijderen</a> deze beperking.
</div>
