<tbody id="person_form">
<tr>
    <th colspan="2">Identification Information</th>
</tr>
<tr id="list_fields">
	<td>
	 	<span type="form" name="person_id:id_type" showhead="default"></span>
	 	<span type="form" name="person_id:id_num" showhead="default"></span>
	 	<span type="form" name="person_id:issue_date" showhead="default"></span>
	 	<span type="form" name="person_id:expiration_date" showhead="default"></span>
  </td>
  <td>
	 	<span type="form" name="person_id:country" showhead="default"></span>
	 	<span type="form" name="person_id:place" showhead="default"></span>
  </td>
</tr>
</tbody>
