<li>
  <span ifset='true' name='relation_displname'>
    <h3>    <span name="relation_dispname"/> (<span name='relation_name'/>)</h3>
  </span>
  <span ifset='!true' name='relation_displname'>
    <h3>    <span name='relation_name'/></h3>
  </span>
  <span ifset="true" name="relation_desc">
    --
  </span>
  <span name="relation_desc"/>
  <br/>
  <a href=""  name="relation_view_link">View</a>/
  <a href=""  name="relation_edit_link">Edit</a>/
  <span task='formrelationship_delete'>
    <a href=""  name="relation_delete_link">Delete</a>/
  </span>
  <a href=""  name="relation_export_link">Export</a>
</li>
