<div>
  <div>    
    <h3 class='inline'>Join Method: </h3>
    <input name='drop_empty' type='radio' id='drop_empty_0' value='0'/><label for="drop_empty_0" title="This form will be blank if nothing matches based on the join and limits.">LEFT JOIN</label> /
    <input name='drop_empty' type='radio' id='drop_empty_1' value='1'/><label for="drop_empty_1" title="This form is required and no row will exist without this matching form.">JOIN</label> /
    <input name='drop_empty' type='radio' id='drop_empty_2' value='2'/><label for="drop_empty_2" title="This form is required and will exist even if there is no matching data from the joining form.">RIGHT JOIN</label>
  </div>
  <div>
    <h3 class='inline'>Limit Join: </h3>
    <input name='limit_one' type='radio' id='limit_one_1' value='1'/><label for="limit_one_1">LIMIT TO ONE JOINED</label> /
    <input name='limit_one' type='radio' id='limit_one_0' value='0'/><label for="limit_one_0">ALLOW MULTIPLE JOINS</label>
  </div>
</div>
