<div>

  <div id='relationship_meta'></div>

  <span id='relationship_contents'>
    <span id='drop_empty_contents'>
    </span>
    <span id='displaystyle_contents'>
    </span>
    <span id='relationship_joins'>
      <h2><a name="relationship_joins_link" href=''>Joined Forms</a></h2>
      Join in new forms to this relationship.
      <span ifset='true' name='description' class='configurationGroupDescription'>
	<span name="description"></span>
      </span>
      <div class='indented' id='relationship_joins_ajax'>
      </div>
    </span>


    
    <span id='relationship_where'>
      <h2><a name="relationship_where_link" href=''>Limit This Form</a></h2>
      Limit the type of forms added based on values of one of the fields of this form
      <span ifset='true' name='description' class='configurationGroupDescription'>
	<span name="description"></span>
      </span>
      <div class='indented' id='relationship_where_ajax'>
      </div>
    </span>


    <span id='relationship_ancestors'>
      <h2><a name="relationship_ancestors_link" href=''>Link This Form</a></h2>
      Link this form to an ancestor form in the relationship by specifying fields that need to be the same.  
      <span ifset='true' name='description' class='configurationGroupDescription'>
	<span name="description"></span>
      </span>
      <div class='indented' id='relationship_ancestors_ajax'>
      </div>
    </span>


  </span>
    
  <div name='reporting_functions_link' ifset='true'  >
    <span id='reporting_functions'>
      <h2><a name="reporting_functions_link" href=''> Functions</a></h2>
      <div class='indented' id='reporting_functions_ajax'>
      </div>
    </span>
  </div>
  
    
</div>
