<div id='condition_contents'>
  <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
	<h3>Field:</h3>The field of this form we wish to link with.
      </td>
      <td>
	<select name='child_field'>
	  <option value=''>Select Value</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>
	<h3>Ancestor Form:</h3>The named form we wish to specify the condition.
      </td>
      <td>
	<select name='anc_form' id='anc_form'>
	  <option value=''>Select Value</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>
	<h3>Ancestor Field:</h3>The field of the ancestral form we wish to link with.
      </td>
      <td id='anc_fields'>
      </td>
    </tr>
  </table>   
</div>