<div>
  <h2><span name='form_name'></span></h2>
  <p><span printf="'The form %1$s in the relationship refers to the real form %2$s.',$form_name,$real_form"/></p>
  <div id='form_meta_options_menu' >
    <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
      <tr>
	<td>
	  <h3>Display Name:</h3>The name of this relationship that is displayed to the end user.  
	</td>
	<td>
	  <input name='display_name' type='text' value='' class='validate=[nonempty]'/>
	</td>
      </tr>
      <tr>
	<td>
	  <h3>Description:</h3>A description of the relationship  that should be understandable to the end user.
	</td>
	<td>
	  <textarea name='description'  rows='4' cols='53' value=''/>
	</td>
      </tr>
    </table>
  </div>
</div>
