<div>
  <h2><span name='form_name'></span></h2>
  <div id='join_cookie_trail'>
  </div>
  <p>
    The reported form <span name='form_name'></span> uses the form <span name='real_form'></span>
    <span name='form_join_description'></span>
  </p>
  <div id='form_meta_options_menu' >
    <table class='multiFormTable' cellpadding="0" cellspacing="0" border="0">
      <tr>
	<td>
	  <h3>Display Name:</h3>The name of the form that is displayed to the end user.  If none is 
	  specified, then the short name (<span name='form_name'></span>) is displayed.
	</td>
	<td>
	  <input name='form_display_name' type='text' value='' class='validate=[nonempty]'/>
	</td>
      </tr>
      <tr>
	<td>
	  <h3>Description:</h3>A description of the form that should be understandable to the end user.
	</td>
	<td>
	  <textarea name='form_description'  rows='4' cols='53' value=''/>
	</td>
      </tr>
      <tr>
	<td colspan='2'>
	  <input id="form_meta" name='action' class="button" type="submit"   value="Edit" />
	</td>
      </tr>
    </table>   
  </div>
</div>