<div>
  <div name="exam_student_list" style="display:none">
    <div style="display:table-row">
      <div style="width:30%;display:table-cell">
        <b>Студент</b>
      </div>
      <div style="width:20%;display:table-cell">
        <b>Сертифікат</b>
      </div>
      <div style="width:20%;display:table-cell">
        <b>Видалити учасника</b>
      </div>
      <div style="width:30%;display:table-cell">
	<b><span printf="'%s Results (Passing Score: %s)',$exam_type,$passing_score"></span></b>
      </div>
      <hr style="clear: both; max-height:0px; padding:0px; margin:0px;"></div>
  </div>
</div>
