<div class='hover_highlight' style='width:100%;display:table-row;' >
  <div style='width:33%;display:table-cell;' >
    <a href='view' name='id'>
      <span name='surname'/>, <span name='firstname'/>
    </a>
  </div>
  
  <div style='width:33%;display:table-cell;'>
    <a  name="person_scheduled_training_course:id">  		   
	      Print
    </a>
  </div>
  
  <div style='width:33%;display:table-cell;'>
    <span class='clickable' name='remove_student'>
      Remove
    </span>
  </div>
  <div style='width:33%;display:table-cell;'>
    <span name='student_exam'/>
  </div>
  <hr style="clear: both; max-height:0px; padding:0px; margin:0px;" />
</div>
