<div name='exam_student_list' style='display:table-row'>
  <div style='width:25%;display:table-cell'>
    <b>Student</b>
  </div>
  <div style='width:25%;display:table-cell'>
    <b><span printf="'%s Results',$exam_type_pretest"/></b>
  </div>
  <div style='width:25%;display:table-cell'>
    <b><span printf="'%s Results',$exam_type_final"/></b>
  </div>
  <div style='width:25%;display:table-cell'>
    <span name='has_certification_date' ifset='true'>
      <b>Certifcation Date</b>
    </span>
  </div>
  <hr style="clear: both; max-height:0px; padding:0px; margin:0px;" />
</div>
