<div>
  <div name='exam_student_list' style='display:none'>
    <div style='display:table-row'>
      <div style='width:30%;display:table-cell'>
        <b>Student</b>
      </div>
      <div style='width:20%;display:table-cell'>
        <b>Certificate</b>
      </div>
      <div style='width:20%;display:table-cell'>
        <b>Remove Participant</b>
      </div>
      <div style='width:30%;display:table-cell'>
	<b><span printf="'%s Results (Passing Score: %s)',$exam_type,$passing_score"/></b>
      </div>
      <hr style="clear: both; max-height:0px; padding:0px; margin:0px;" />
    </div>
  </div>
</div>
