<tbody id="list_fields">
  <tr>
    <td>
      <span type="form" name="scheduled_training_course:training_course" showhead="default"></span>
      <span type="form" name="scheduled_training_course:num_students" showhead="default"></span>
      <span type="form" name="scheduled_training_course:start_date" showhead="default"></span>
      <span type="form" name="scheduled_training_course:end_date" showhead="default"></span>
      <span type="form" name="scheduled_training_course:notes" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="scheduled_training_course:name" showhead="default"></span>
      <span type='module' name='training-instructor' ifenabled='true'>
	<span type="form" name="scheduled_training_course:training_instructor" showhead="default"></span>
      </span>
      <span type="form" name="scheduled_training_course:instructors" showhead="default"></span>
      <span type="form" name="scheduled_training_course:location" showhead="default"></span>
    </td>
  </tr>
</tbody>
