<div  class='hover_highlight' name='exam_student_list' style='width:100%;display:table-row'>
  <div style='width:25%;display:table-cell'>
    <a href='view' name='id'>
      <span name='surname'/>, <span name='firstname'/>
    </a>
  </div>
  <div style='width:25%;display:table-cell'>
    <span name='student_exam_pretest'/>
  </div>
  <div style='width:25%;display:table-cell'>
    <span name='student_exam_final'/>
  </div>
  <div style='width:25%;display:table-cell'>
    <span name='certification_date' />
  </div>
  <hr style="clear: both; max-height:0px; padding:0px; margin:0px;" />
</div>
