<tbody>
  <tr>    
    <th colspan='2'>
      <span type='form' name='training_course_exam:id' href="training-course/exam?id=">
	Exam Result -- <span type="form" name="training_course_exam:evaluation_date"  ></span>
      </span>
    </th>
  </tr>
  <span type="form" name="training_course_exam:training_course_exam_type" showhead="default" ></span>
  <span type="form" name="training_course_exam:score" showhead="default"  ></span>
  <span type="form" name="training_course_exam:notes" showhead="default" ifset='true' ></span>
</tbody>