<div id="list_display" task="can_view_database_list_training_course_category">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_training_course_category'><span type="form" name="training_course_category:id" href="lists?type=training_course_category&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=training_course_category">Select another Training Course Category</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Training Course Category</th>
		</tr>
		<span type="form" name="training_course_category:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
