<div name="exam_student_list" style="display:table-row">
  <div style="width:25%;display:table-cell">
    <b>Student</b>
  </div>
  <div style="width:25%;display:table-cell">
    <b><span printf="'%s Ergebnisse',$exam_type_pretest"></span></b>
  </div>
  <div style="width:25%;display:table-cell">
    <b><span printf="'%s Ergebnisse',$exam_type_final"></span></b>
  </div>
  <div style="width:25%;display:table-cell">
    <span name="has_certification_date" ifset="true">
      <b>Zertifizierungsdatum</b>
    </span>
  </div>
  <hr style="clear: both; max-height:0px; padding:0px; margin:0px;"></div>
