<div id="list_display">
  <div class="editRecord">
    <p>Diese Informationen bearbeiten</p>
    <ul><li>
	<a href="lists?type=scheduled_training_course&amp;field=training_course">Eine andere Schulung auswählen</a>
      </li>
      <li task="can_edit_scheduled_training_course">
	<span type="form" name="scheduled_training_course:id" href="lists?type=scheduled_training_course&amp;id=">Diese Informationen aktualisieren</span>
      </li>
      <li task="can_edit_scheduled_training_course">
	<span type="form" name="scheduled_training_course:id" href="editstudents?id=">Studenten hinzufügen/entfernen</span>
      </li>
      <span type="module" ifenabled="true" name="training-exam">
        <li task="can_edit_scheduled_training_course">
          <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=participants&amp;id=">Ergebnisse der Studentenprüfung verwalten</span>
        </li>
        <li task="can_edit_scheduled_training_course">
          <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=participants_compact&amp;id=">Prüfungsergebnisse aller Studenten verwalten</span>
        </li>
	<li>
          <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=evaluate&amp;id=">Studentenbewertungen</span>
	</li>
	<li>
          <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=prepost&amp;id=">Vor-/Nach-dem-Test-Zusammenfassung</span>
	</li>
	<li>
          <span type="form" name="scheduled_training_course:id" href="view_list?type=scheduled_training_course&amp;i2ce_template=mods&amp;id=">Kursmodule</span>
	</li>

	<li>
          <span type="form" name="scheduled_training_course:id" href="studentparticipants?id=">Studententeilnahmebericht</span>
	</li>
	
	<li>
          <span type="form" name="scheduled_training_course:id" href="studentcertificates?id=">Schulungszertifikate</span>
	</li>
      </span>                                                                                                                                                                         
    </ul></div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Geplante Schulung</th>
      </tr><span type="form" name="scheduled_training_course:training_course" showhead="default"></span>
      <span type="form" name="scheduled_training_course:name" showhead="default"></span>
      <span type="module" name="training-instructor" ifenabled="true">
	<span type="form" name="scheduled_training_course:training_instructor" showhead="default"></span>
      </span>
      <span type="form" name="scheduled_training_course:instructors" showhead="default"></span>
      <span type="form" name="scheduled_training_course:start_date" showhead="default"></span>
      <span type="form" name="scheduled_training_course:end_date" showhead="default"></span>
      <span type="form" name="scheduled_training_course:num_students" showhead="default"></span>
      <span type="form" name="scheduled_training_course:notes" showhead="default" ifset="true"></span>
      <tr><td>
	  <span class="field_head"><label for="scheduled_training_course_site">Angemeldete Schulungsteilnehmer</label>:</span>
	</td>
	<td>
	  <b>
	    <span class="form_field">
	      <span type="form" name="scheduled_training_course-&gt;numberEnrolledStudents()" showhead="default"></span>
	    </span>
	  </b>
	</td>
      </tr><tr><td colspan="2">
	  <p class="editRecordsData">
	    <span type="form" name="scheduled_training_course-&gt;enrolledStudentsAjax()"></span>
	  </p>
	</td>
      </tr></table></div> <!-- dataTable -->
</div> <!-- list_display -->
