<div id='siteContent'>
  <form method='post' action='REPLACEME' name='edit_role_form_action' id='edit_role'>
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0" >
      <tr>
	<th colspan="2">
	  Edit Role
	</th>
      </tr>   
      <tr>
	<td>
	  <label>Role Display Name:</label> A display name for this role that is displayed to the end user.
	</td>
	<td>
	  <input type='text' name='role_name' class='validate=[nonempty]'/>
	</td>
      </tr>
      <tr>
	<td>
	  <label>Role Inheritence:</label>The roles that have all the rights of this role.  The admin role will have automatically
	  have access to this role
	</td>
	<td>
	  <input type='hidden' name='role_roles[]'  value='admin'/>
	  <select name='role_roles[]'  multiple='multiple' id='role_roles' >
	  </select>
	</td>
      </tr>
      <tr>
	<td>
	  <label>Role Tasks:</label> The tasks that are assigned to this role
	</td>
	<td>
	  <select name='role_tasks[]' multiple='multiple'   id='role_tasks' display='checkbox'>
	  </select>
	</td>
      </tr>
      <tr>
	<td>
	  <label>Role Home page:</label> Default home page for this role
	</td>
	<td>
	  <input type='text' name='homepage'/>
	</td>
      </tr>

      <tr>
	<td colspan='2'>
	  <input  class="button" type="submit"   value="Save" />
	</td>
      </tr>
    </table>
  </form>


</div>
