<div id='siteContent'>
  <h1>Administer Roles and Tasks</h1>
  <p>
    Here you may administer the roles and tasks for the system.
  </p>
  <ul>
    <li task='tasks_and_role_can_edit_roles'>
      <h2><a href='tasks-roles/roles'>Administer Roles</a></h2>
      A role is used when creating a user.  You will assign a role
      to a user.  There is a special role 'admin' this is the Adminstator role.
      You may also designate which roles have the same all of the rights of
      a specified role.
    </li>
    <li task='tasks_and_role_can_edit_tasks'>
      <h2><a href='tasks-roles/tasks'>Administer Tasks</a></h2>
      A task is a specific action that is performed by the system.  You may assign 
      a collection of tasks to a role.  You may also create a new task by grouping tasks together
    </li>
  </ul>

</div>