<div id="siteContent">
  <form method="post" action="REPLACEME" name="edit_role_form_action" id="edit_role">
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0"><tr><th colspan="2">
	  Anwendergruppe bearbeiten
	</th>
      </tr><tr><td>
	  <label>Anzeigename der Anwendergruppe:</label> Ein Anzeigename für die Anwendergruppe, der dem Anwender angezeigt werden soll.
	</td>
	<td>
	  <input type="text" name="role_name" class="validate=[nonempty]"></td>
      </tr><tr><td>
	  <label>Vererbungsregel für die Anwendergruppe:</label>Die Anwendergruppen die über alle Berechtigungen dieser Anwendergruppe verfügen. Die Anwendergruppe Administrator hat automatisch Zugriff auf diese Anwendergruppe.
	</td>
	<td>
	  <input type="hidden" name="role_roles[]" value="admin"><select name="role_roles[]" multiple id="role_roles"></select></td>
      </tr><tr><td>
	  <label>Aufgaben der Anwendergruppe:</label> Die dieser Anwendergruppe zugewiesenen Aufgaben
	</td>
	<td>
	  <select name="role_tasks[]" multiple id="role_tasks" display="checkbox"></select></td>
      </tr><tr><td>
	  <label>Anwendergruppenhomepage:</label> Standardhomepage für diese Anwendergruppe
	</td>
	<td>
	  <input type="text" name="homepage"></td>
      </tr><tr><td colspan="2">
	  <input class="button" type="submit" value="Save"></td>
      </tr></table></form>


</div>
