<div id="siteContent">
  <h1>Anwendergruppen und Aufgaben verwalten</h1>
  <p>
    Hier können die Anwendergruppen und Aufgaben verwaltet werden.
  </p>
  <ul><li task="tasks_and_role_can_edit_roles">
      <h2><a href="tasks-roles/roles">Anwendergruppen verwalten</a></h2>
      Eine Benutzergruppe wird beim Anlegen eines neuen Anwenders benötigt. Dabei wird dem neuen Anwender eine Benutzergruppe zugeordnet. Die besondere Benutzergruppe „admin“ gehört zu den Administratoren. Es kann auch festgelegt werden welche Benutzergruppen über die gleichen Berechtigungen verfügen sollen wie eine andere bestimmte Benutzergruppe.
    </li>
    <li task="tasks_and_role_can_edit_tasks">
      <h2><a href="tasks-roles/tasks">Aufgaben verwalten</a></h2>
      Eine Aufgabe besteht aus einer bestimmten Aktion, die vom System ausgeführt wird. Du kannst eine Zusammenstellung unterschiedlicher Aufgaben einer Anwendergruppe zuordnen. Du kannst auch eine neue Aufgabe erstellen, indem du bestehende Aufgaben zusammenführst.
    </li>
  </ul></div>