<div id="facility_contact">
	<tr>
	  <th colspan="2">Contact Information</th>
	</tr>
	<span type="form" name="facility_contact:address" showhead="default"></span>
	<span type="form" name="facility_contact:telephone" showhead="default" class="even"></span>
	<span type="form" name="facility_contact:alt_telephone" showhead="default"></span>
	<span type="form" name="facility_contact:fax" showhead="default" class="even"></span>
	<span type="form" name="facility_contact:email" showhead="default"></span>
	<span type="form" name="facility_contact:notes" showhead="contact_person" class="even"></span>
</div>
