<div id="siteContent">
    <h1>Spravovat Databázi</h1>

    <h3>Seznamy licencí</h3>
    <ul><li><a href="lists?type=qualification">Kvalifikace</a></li>    	
    	<li><a href="lists?type=cadre">Kádr</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Kurz dalšího vzdělávání</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Kategorie disciplinárního řízení</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Důvod disciplinárního řízení</a></li>
       	<li><a href="lists?type=out_migration_reason">Důvod migrace ven</a></li>
    	<li><a href="lists?type=training_disruption_category">Kategorie přerušení výuky</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Důvod přerušení výuky</a></li>
    </ul><h3>Demografické seznamy</h3>
    <ul><li><a href="lists?type=academic_level">Akademická úroveň</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Certifikát</a></li>
    	<li><a href="lists?type=id_type">Typ identifikace</a></li>
    	<li><a href="lists?type=marital_status">Rodinný stav</a></li>
    </ul><h3>Geografické seznamy</h3>
    <ul><li><a href="lists?type=country">Země</a></li>
    	<li><a href="lists?type=region&amp;field=country">Kraj</a></li>
    	<li><a href="lists?type=district&amp;field=region">Čtvrť</a></li>
    	<li><a href="lists?type=county&amp;field=district">Obec</a></li>
    </ul><h3>Seznamy institucí</h3>
    <ul><li><a href="lists?type=health_facility">Zdravotnícké zařízení</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Učiliště</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Zástupce zařízení</a></li>
    	<li><a href="lists?type=facility_type">Typ zařízení</a></li>
    	<li><a href="lists?type=facility_status">Stav zařízení</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3>Administrativní seznamy</h3>
    <ul><li><a href="lists?type=verify_change">Změny ověření záznamu</a></li>
    </ul></span>
    
</div>
