<div>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="facility_license:id" href="facility_license?id=" parent="true">Correct this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">License</th>
		</tr>
	   	<span type="form" name="facility_license:license_number" showhead="default" generate="Generate this Number"></span>
	   	<span type="form" name="facility_license:start_date" showhead="default" class="even"></span>
	   	<span type="form" name="facility_license:end_date" showhead="default"></span>
	   	<span type="form" ifset="true" name="facility_license:suspend" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div>
