<div id="feedback">
<p>
Kung mayroon kang isang ulat ng sira, suliranin sa isang pahina, hiling ng tampok o tanong, mangyaring makipag-ugnayan sa amin sa pamamagitan ng pagpupuno at pagpapasa ng sumusunod na pormularyo.  Ang mga puna mo at tirahan ng e-liham ay pananatilihing pribado alinsunod sa 
<a target="_new" href="http://www.capacityproject.org/index.php?option=com_content&amp;task=view&amp;id=34&amp;Itemid=63">patakaran sa paglilihim</a>ng Capacity Project.  Gagamitin lamang namin ang iyong tirahan ng e-liham upang makatugon sa kahilingan mo.  Maaari ka ring makipag-ugnayan sa amin ng tuwiran sa 
<a href="mailto:hris@capacityproject.org">hris@capacityproject.org</a>.
</p>
<hr><h4>Pormularyo ng Bigay-Tugon ng Sityo</h4>
<!-- <p>Required fields are marked with a red asterisk (<span style="color:red;"><b>*</b></span>)</p> -->
<div id="error"></div>
<form method="POST" action="feedback">
<input type="hidden" name="referer" id="referer"><table class="tableForm"><tr><td colspan="2"><label for="Comments">Mga puna:</label><br><textarea name="Comments" rows="10" cols="45" id="Comments"></textarea></td>
  </tr><tr class="spacer"><td><label for="Name">Pangalan:</label></td>
   <td><input type="text" name="Name" id="Name"></td>
  </tr><tr><td><label for="Company">Kumpanya:</label></td>
   <td><input type="text" name="Company" id="Company"></td>
  </tr><tr><td><label for="Title">Pamagat:</label></td>
   <td><input type="text" name="Title" id="Title"></td>
  </tr><tr><td><label for="Industry">Industriya:</label></td>
   <td><input type="text" name="Industry" id="Industry"></td>
  </tr><tr><td><label for="Address">Tirahan:</label></td>
   <td><input type="text" name="Address" id="Address"></td>
  </tr><tr><td><label for="City">Lungsod:</label></td>
   <td><input type="text" name="City" id="City"></td>
  </tr><tr><td><label for="State">Estado/Lalawigan:</label></td>
   <td><input type="text" name="State" id="State"></td>
  </tr><tr><td><label for="Postal_Code">Kodigo Postal:</label></td>
   <td><input type="text" name="Postal_Code" id="Postal_Code"></td>
  </tr><tr><td><label for="Country">Bansa:</label></td>
   <td><input type="text" name="Country" id="Country"></td>
  </tr><tr class="spacer"><td><label for="Telephone">Telepono:</label></td>
   <td><input type="text" name="Telephone" id="Telephone"></td>
  </tr><tr><td><label for="Fax">Fax:</label></td>
   <td><input type="text" name="Fax" id="Fax"></td>
  </tr><tr><td><label for="Email">E-liham:</label></td>
   <td><input type="text" name="Email" id="Email"></td>
  </tr><tr class="spacer"><td><!-- <p class="smallGray"><span style="color: red;">*</span> Required</p> --></td>
   <td><input type="submit" value="Submit" name="submit" class="button"><input type="reset" value="Clear" name="reset" class="button"></td>
  </tr></table></form>

</div><!-- /feedback -->
