<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Maligayang pagsapit</h1>
<p>
<strong>iHRIS Qualify</strong> ay isang pangsanay ng manggagawang pangkalusugan, sistemang pantugaygay ng lisensiya at katunayan. Ang sistema ay nagbibigay-daan sa isang may katungkulan sa paglilisensiya o pagpapatunay para sa isang tagapagsanay ng manggagawang pangkalusugan, katulad ng mga nars o mga manggagamot, upang masubaybayan ang dato sa buong tagapagsanay sa loob ng isang bansa magmula sa pagsasanay bago ang talagang paglilingkod sa pamamagitan ng pagbabawas ng tauhan.  Ang iHRIS Qualify ay isang solusyong sopwer na malaya at bukas ang pinagmumulan na pinaunlad ng <a href="http://www.capacityproject.org">Ang Proyekto ng Kapasidad</a>, isang makabagong pandaigdigang simulain upang matulungan ang umuunlad na mga bansa na makapagtayo at panatilihin ang hukbo ng mga manggagawang pangkalusugan.
</p>
</div><!-- /welcomeIntro -->
