<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1><span printf="'Maligayang pagdating, %s',ihris-common-&gt;getUserNames()"></span></h1>
<p>
Upang makapagsimula sa paggamit ng iHRIS Qualify, mangyaring pakipindot ang isa sa mga mapipiling nasa ibaba. Bumalik sa pahinang ito anumang oras sa pamamagitan ng pagpindot sa pindutang Tahanan na nasa halang na nasa itaas. Kung kailangan mo ng tulong sa anumang tungkulin, pindutin ang pindutang Tulong.  Hinihikayat ka na ipadala sa amin ang anumang mga kamaliang matatagpuan mo, mga mungkahi para sa pagpapainam o karagdagang mga tampok, at anumang iba pang mga tugon na maaaring mayroon ka hinggil sa sopwer na ito; makipag-ugnayan sa amin anumang oras sa pamamagitan ng pindutang Tugon o pagdalaw sa <a href="http://www.capacityproject.org/hris/">Websayt sa Pagpapatibay ng HRIS</a>.
</p>
</div><!-- /welcomeIntro -->
