<div id="feedback">
<p>
Se riscontri un bug, problemi con la pagina, richieste di funzioni o domande, per favore contattaci riempiendo e inviando il seguente modulo. I tuoi commenti ed il tuo indirizzo e-mail rimarrà privato in accordo con le linee guida del progetto. 
<a target="_new" href="http://www.capacityproject.org/index.php?option=com_content&amp;task=view&amp;id=34&amp;Itemid=63">Politica sulla privacy</a>. Useremo il tuo indirizzo e-mail solo per rispondere alle tue richieste. Puoi anche contattarci direttamente scrivendo una e-mail a 
<a href="mailto:hris@capacityproject.org">hris@capacityproject.org</a>.
</p>
<hr><h4>Modulo per il feedback del sito</h4>
<!-- <p>Required fields are marked with a red asterisk (<span style="color:red;"><b>*</b></span>)</p> -->
<div id="error"></div>
<form method="POST" action="feedback">
<input type="hidden" name="referer" id="referer"><table class="tableForm"><tr><td colspan="2"><label for="Comments">Commenti:</label><br><textarea name="Comments" rows="10" cols="45" id="Comments"></textarea></td>
  </tr><tr class="spacer"><td><label for="Name">Nome:</label></td>
   <td><input type="text" name="Name" id="Name"></td>
  </tr><tr><td><label for="Company">Compagnia:</label></td>
   <td><input type="text" name="Company" id="Company"></td>
  </tr><tr><td><label for="Title">Titolo:</label></td>
   <td><input type="text" name="Title" id="Title"></td>
  </tr><tr><td><label for="Industry">Industria:</label></td>
   <td><input type="text" name="Industry" id="Industry"></td>
  </tr><tr><td><label for="Address">Indirizzo:</label></td>
   <td><input type="text" name="Address" id="Address"></td>
  </tr><tr><td><label for="City">Città:</label></td>
   <td><input type="text" name="City" id="City"></td>
  </tr><tr><td><label for="State">Stato/Provincia:</label></td>
   <td><input type="text" name="State" id="State"></td>
  </tr><tr><td><label for="Postal_Code">Codice Postale:</label></td>
   <td><input type="text" name="Postal_Code" id="Postal_Code"></td>
  </tr><tr><td><label for="Country">Nazione:</label></td>
   <td><input type="text" name="Country" id="Country"></td>
  </tr><tr class="spacer"><td><label for="Telephone">Telefono:</label></td>
   <td><input type="text" name="Telephone" id="Telephone"></td>
  </tr><tr><td><label for="Fax">Fax:</label></td>
   <td><input type="text" name="Fax" id="Fax"></td>
  </tr><tr><td><label for="Email">Email:</label></td>
   <td><input type="text" name="Email" id="Email"></td>
  </tr><tr class="spacer"><td><!-- <p class="smallGray"><span style="color: red;">*</span> Required</p> --></td>
   <td><input type="submit" value="Submit" name="submit" class="button"><input type="reset" value="Clear" name="reset" class="button"></td>
  </tr></table></form>

</div><!-- /feedback -->
