<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Benvenuto</h1>
<p>
<strong>iHRIS Qualify</strong> E' un sistema per la formazione, concessione licenza e certificazione dell'operatore sanitario. Il sistema abilita una licenza o autorizza la certificazione a gruppi di operatori sanitari, come infermieri e medici, per monitorare i dati sul quadro completo di un paese dalla formazione propedeutica fino al logoramento. iHRIS Qualify è un software libero ed Open Source sviluppato da <a href="http://www.capacityproject.org">Linee guida del progetto</a>, Un'iniziativa globale per aiutare i paesi in via di sviluppo a costruire e sostenere il settore sanitario.
</p>
</div><!-- /welcomeIntro -->
