<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1><span printf="'Benvenuto, %s',ihris-common-&gt;getUserNames()"></span></h1>
<p>
Per iniziare ad utilizzare iHRIS Qualify, per favore scegli una delle opzioni qui sotto. Puoi tornare in questa pagina ogni volta che vuoi cliccando il bottone "Home" nella barra in alto. Se hai bisogno di aiuto con qualche funzione, clicca sul bottone "Help". Vi incoraggiamo ad inviarci ogni errore in cui vi imbatterete, impressioni per migliorare il programma o richieste di ulteriori funzioni, e qualsiasi altro feedback; contattateci in ogni momento cliccando su "Feedback" o visitando il <a href="http://www.capacityproject.org/hris/">Sito di riferimento di HRIS</a>.
</p>
</div><!-- /welcomeIntro -->
